<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 6]>
<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
<link href="/css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<!--global start -->
<div class="global">
    <!--contentBox start -->
    <div class="contentBox">
        <!--header start -->
        <div class="headerBox">
            <div class="header">
                <div class="headerLeft"><a href="#" class="logo">domus</a>
                    <!--sityMenu start -->
                    <div class="cityMenu"> <a href="#"><span>Санкт-Петербург</span></a> </div>
                    <!--sityMenu end -->
                </div>
                <div class="headerRight">
                    <!--topMenu start -->
                    <ul class="topMenu">
                        <li>Петр Копейкин</li>
                        <li class="cabinet"><a href="#">Мой кабинет</a></li>
                        <li class="out"><a href="#">Выход</a></li>
                    </ul>
                    <!--topMenu end -->
                    <!--topSearchForm start -->
                    <form action="" method="get">
                        <fieldset>
                            <input type="text" value="Поиск по ключевому слову" onblur="if(this.value==''){this.value='Поиск по ключевому слову';}"
onfocus="if(this.value=='Поиск по ключевому слову'){this.value='';}" class="topSearchInput" />
                            <button class="topSearchButton" type="submit" value="Найти">Найти</button>
                        </fieldset>
                    </form>
                    <!--topSearchForm end -->
                </div>
            </div>
        </div>
        <!--header end -->
        <div class="wrapper">
            <!--globalMenu start -->
            <ul class="globalMenu">
                <li class="active"><a href="#">КВАРТИРЫ<br />
                    продажа</a></li>
                <li><a href="#">КВАРТИРЫ<br />
                    аренда</a></li>
                <li><a href="#">ДОМА И УЧАСТКИ<br />
                    продажа</a></li>
                <li><a href="#">ДОМА И УЧАСТКИ<br />
                    аренда</a></li>
                <li><a href="#">КОММЕРЧЕСКАЯ<br />
                    продажа</a></li>
                <li><a href="#">КОММЕРЧЕСКАЯ<br />
                    аренда</a></li>
            </ul>
            <!--globalMenu end -->
            <!--pageHeader start -->
            <div class="pageHeader">
                <h1>Объявления</h1>
            </div>
            <!--pageHeader end -->
            <!--contentLeft start -->
            <div class="contentLeft">
                <!--searchForm start -->
                <form action="" method="get" class="searchForm">
                    <fieldset>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="searchTable">
                            <tr>
                                <td class="st_01">id</td>
                                <td class="st_02"><input name="" type="text" class="input_01" /></td>
                                <td class="st_03">Регион</td>
                                <td class="st_04"><select name="" class="select_01">
                                        <option selected="selected">Москва</option>
                                    </select></td>
                                <td class="st_05"><label>
                                        <input type="checkbox" name=""  />
                                        Юр.лица</label></td>
                            </tr>
                            <tr>
                                <td>ФИО/Компания</td>
                                <td><input name="" type="text" class="input_01"/></td>
                                <td>Район/метро</td>
                                <td><select name="" class="select_01">
                                        <option selected="selected">Арбатская</option>
                                    </select></td>
                                <td><label>
                                        <input type="checkbox" name=""  />
                                        Физ.лица</label></td>
                            </tr>
                            <tr>
                                <td>Логин</td>
                                <td><input name="" type="text" class="input_01"/></td>
                                <td>Тип</td>
                                <td><select name="select" class="select_01">
                                  <option selected="selected">Квартиры</option>
                                </select></td>
                                <td><label>
                                        <input type="checkbox" name=""  />
                                        Активно</label></td>
                            </tr>
                            <tr>
                                <td>Дата начала</td>
                                <td><input name="" type="text" class="input_02" />
                                    <input type="button" value="" class="calendarButton" /></td>
                                <td>Нас.пункт</td>
                                <td><input name="" type="text" class="input_01"/></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Дата&nbsp;окончания</td>
                                <td><input name="" type="text" class="input_02"/>
                                    <input type="button" value="" class="calendarButton" /></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><span class="formButton">
                                	<input name="input" type="submit" value="Найти" />
                                </span></td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
                <!--searchForm end -->
            </div>
            <!--contentLeft end -->
            <!--contentRight start -->
            <div class="contentRight">
                <!--cabinetMenuBox start -->
                <div class="cabinetMenuBox ">
                    <div class="boxBack_02">
                        <h2>Кабинет модератора</h2>
                    </div>
                    <ul class="cabinetMenu padding_11">
                        <li><a href="#">Пользователи</a></li>
                        <li class="active"><a href="#">Объявления</a></li>
                        <li><a href="#">Мои сообщения</a></li>
                    </ul>
                </div>
                <!--cabinetMenuBox end -->
            </div>
            <!--contentRight end -->
            <div class="clearBoth"></div>
            <form action="" method="get" class="resultForm">
                <h4>Найдено 3 объявления</h4>
                <fieldset>
                    <!--resultTable start -->
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="resultTable">
                        <tr>
                            <th class="rt_01"> <input type="checkbox" name="" />
                            </th>
                            <th>id</th>
                            <th>Район/метро</th>
                            <th>Нас. пунк</th>
                            <th>Адрес</th>
                            <th>Логин</th>
                            <th>ФИО/Компания</th>
                            <th>Размещена</th>
                            <th>Закончится</th>
                            <th>Изменена</th>
                            <th>&nbsp;</th>
                        </tr>
                        <tr>
                            <td class="rt_01"><input type="checkbox" name="" /></td>
                            <td>1</td>
                            <td>Домодедовский район</td>
                            <td>Домодедово</td>
                            <td><a href="#">ул. Миклухо-Маклая<br />
                                141, к. 15/8</a></td>
                            <td>vasya@mail.ru</td>
                            <td><a href="#">Василий Сергеев</a></td>
                            <td>20.10.08</td>
                            <td>20.10.08</td>
                            <td>20.10.08</td>
                            <td><ul class="actionList">
                                    <li><a href="#" class="edit" title="edit">edit</a></li>
                                    <li><a href="#" class="none" title="none">none</a></li>
                                    <li><a href="#" class="delit" title="delit">delit</a></li>
                                </ul></td>
                        </tr>
                        <tr>
                            <td class="rt_01"><input type="checkbox" name="" /></td>
                            <td>2</td>
                            <td>Домодедовский район</td>
                            <td>Домодедово</td>
                            <td><a href="#">ул. Миклухо-Маклая<br />
                                141, к. 15/8</a></td>
                            <td>vasya@mail.ru</td>
                            <td><a href="#">Василий Сергеев</a></td>
                            <td>20.10.08</td>
                            <td>20.10.08</td>
                            <td>20.10.08</td>
                            <td><ul class="actionList">
                                    <li><a href="#" class="edit" title="edit">edit</a></li>
                                    <li><a href="#" class="none" title="none">none</a></li>
                                    <li><a href="#" class="delit" title="delit">delit</a></li>
                                </ul></td>
                        </tr>
                        <tr class="end">
                            <td class="rt_01"><input type="checkbox" name="" /></td>
                            <td>3</td>
                            <td>Домодедовский район</td>
                            <td>Домодедово</td>
                            <td><a href="#">ул. Миклухо-Маклая<br />
                                141, к. 15/8</a></td>
                            <td>vasya@mail.ru</td>
                            <td><a href="#">Василий Сергеев</a></td>
                            <td>20.10.08</td>
                            <td>20.10.08</td>
                            <td>20.10.08</td>
                            <td><ul class="actionList">
                                    <li><a href="#" class="edit" title="edit">edit</a></li>
                                    <li><a href="#" class="none" title="none">none</a></li>
                                    <li><a href="#" class="delit" title="delit">delit</a></li>
                                </ul></td>
                        </tr>
                    </table>
                    <select name="" class="select_01">
                        <option>Активировать</option>
                    </select>
                    <button name="" type="submit" class="resultSubmit" value=""/>ОК</button>
                    <!--resultTable end -->
                </fieldset>
            </form>
        </div>
    </div>
    <!--contentBox end -->
</div>
<!--global end -->
<!--footer start -->
<div class="footer">
    <div class="footerBox">
        <div class="copyright">&copy; 2009. Все права защищены</div>
        <!--footerMenu start -->
        <ul class="footerMenu">
            <li><a href="#">О&nbsp;проекте</a></li>
            <li class="active"><a href="#">Информация</a></li>
            <li><a href="#">Помощь</a></li>
            <li><a href="#">Реклама&nbsp;на&nbsp;проекте</a></li>
        </ul>
        <!--footerMenu end -->
    </div>
</div>
<!--footer end -->
</body>
</html>
