<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 6]>
<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
<link href="/css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<!--global start -->
<div class="global">
	<!--contentBox start -->
	<div class="contentBox">
		<!--header start -->
		<div class="headerBox">
			<div class="header">
				<div class="headerLeft"><a href="#" class="logo">domus</a>
					<!--sityMenu start -->
					<div class="cityMenu"> <a href="#"><span>Санкт-Петербург</span></a> </div>
					<!--sityMenu end -->
				</div>
				<div class="headerRight">
					<!--topMenu start -->
					<ul class="topMenu">
						<li>Петр Копейкин</li>
						<li class="cabinet"><a href="#">Мой кабинет</a></li>
						<li class="out"><a href="#">Выход</a></li>
					</ul>
					<!--topMenu end -->
					<!--topSearchForm start -->
					<form action="" method="get">
						<fieldset>
							<input type="text" value="Поиск по ключевому слову" onblur="if(this.value==''){this.value='Поиск по ключевому слову';}"
onfocus="if(this.value=='Поиск по ключевому слову'){this.value='';}" class="topSearchInput" />
							<button class="topSearchButton" type="submit" value="Найти">Найти</button>
						</fieldset>
					</form>
					<!--topSearchForm end -->
				</div>
			</div>
		</div>
		<!--header end -->
		<div class="wrapper">
			<!--globalMenu start -->
			<ul class="globalMenu">
				<li class="active"><a href="#">КВАРТИРЫ<br />
					продажа</a></li>
				<li><a href="#">КВАРТИРЫ<br />
					аренда</a></li>
				<li><a href="#">ДОМА И УЧАСТКИ<br />
					продажа</a></li>
				<li><a href="#">ДОМА И УЧАСТКИ<br />
					аренда</a></li>
				<li><a href="#">КОММЕРЧЕСКАЯ<br />
					продажа</a></li>
				<li><a href="#">КОММЕРЧЕСКАЯ<br />
					аренда</a></li>
			</ul>
			<!--globalMenu end -->
			<!--pageHeader start -->
			<div class="pageHeader"><a href="#" class="viewCompareList">Список сравнения</a>
				<h1>Избранное</h1>
			</div>
			<!--pageHeader end -->
			<!--contentLeft start -->
			<div class="contentLeft_02">
				<!--favoritesObjects start -->
				<div class="favoritesObjects">
					<!--sortBox start -->
					<div class="sortBox_02">
						<form action="" method="get" class="favoritesForm">
							<fieldset>
								<div class="floatLeft">
									<select name="" class="select_06">
										<option selected="selected">Выберите регион</option>
									</select>
									<select name="select" class="select_06">
										<option selected="selected">Тип недвижимости</option>
									</select>
								</div>
								<div class="floatRight"><span class="formButton">
									<input name="input" type="submit" value="Найти" />
									</span></div>
								<div class="clearBoth"></div>
							</fieldset>
						</form>
					</div>
					<!--sortBox end -->
					<!--favoriteBox start -->
					<div class="favoriteBox">
						<!--searchResultItem start -->
						<div class="searchResultItem">
							<div class="padding_6">
								<h2><a href="#">Дмитровский район, д. Петрушкино-Укропино</a></h2>
								<table width="100%" border="0" cellspacing="0" cellpadding="0" class="searchResultTable">
									<tr>
										<td class="sr_01"><a href="#" class="resultImg"><img name="" src="images/pic/pic_03.jpg" width="84" height="62" alt="" /></a></td>
										<td class="sr_02"><p class="cena_01"><strong>150 000 000 р.</strong></p>
											ул. Миклухо-Маклая 141, к. 15/8</td>
										<td class="sr_03"><strong class="fontSize_13">Площадь: 1112 м&sup2;</strong><br />
											<p><strong>Этаж:</strong> 7/16<br />
												<strong>Число комнат:</strong> 2</p></td>
									</tr>
								</table>
							</div>
							<div class="boxBack_07">
								<div class="date">18.06.2009</div>
								<ul class="itemAction">
									<li><a href="#" class="action_02" title="actionName">2</a></li>
									<li><a href="#" class="action_06" title="actionName">6</a></li>
								</ul>
								<h3>Свекольная база</h3>
								<div class="clearBoth"></div>
							</div>
						</div>
						<!--searchResultItem end-->
						<ul class="actionList_02">
							<li><a href="#" class="edit">редактировать</a></li>
							<li><a href="#" class="none">возобновить&nbsp;показ</a></li>
							<li><a href="#" class="delete">удалить</a></li>
						</ul>
						<div class="clearBoth"></div>
					</div>
					<!--favoriteBox end-->
					<!--favoriteBox start -->
					<div class="favoriteBox">
						<!--searchResultItem start -->
						<div class="searchResultItem">
							<div class="padding_6">
								<h2><a href="#">Дмитровский район, д. Петрушкино-Укропино</a></h2>
								<table width="100%" border="0" cellspacing="0" cellpadding="0" class="searchResultTable">
									<tr>
										<td class="sr_01"><a href="#" class="resultImg"><img name="" src="images/pic/pic_03.jpg" width="84" height="62" alt="" /></a></td>
										<td class="sr_02"><p class="cena_01"><strong>150 000 000 р.</strong></p>
											ул. Миклухо-Маклая 141, к. 15/8</td>
										<td class="sr_03"><strong class="fontSize_13">Площадь: 1112 м&sup2;</strong><br />
											<p><strong>Этаж:</strong> 7/16<br />
												<strong>Число комнат:</strong> 2</p></td>
									</tr>
								</table>
							</div>
							<div class="boxBack_07">
								<div class="date">18.06.2009</div>
								<ul class="itemAction">
									<li><a href="#" class="action_02" title="actionName">2</a>
									<li><a href="#" class="action_06" title="actionName">6</a></li></li>
								</ul>
								<h3>Свекольная база</h3>
								<div class="clearBoth"></div>
							</div>
						</div>
						<!--searchResultItem end-->
						<ul class="actionList_02">
							<li><a href="#" class="edit">редактировать</a></li>
							<li><a href="#" class="none">возобновить&nbsp;показ</a></li>
							<li><a href="#" class="delete">удалить</a></li>
						</ul>
						<div class="clearBoth"></div>
					</div>
					<!--favoriteBox end-->
					<!--favoriteBox start -->
					<div class="favoriteBox">
						<!--searchResultItem start -->
						<div class="searchResultItem">
							<div class="padding_6">
								<h2><a href="#">Дмитровский район, д. Петрушкино-Укропино</a></h2>
								<table width="100%" border="0" cellspacing="0" cellpadding="0" class="searchResultTable">
									<tr>
										<td class="sr_01"><a href="#" class="resultImg"><img name="" src="images/pic/pic_03.jpg" width="84" height="62" alt="" /></a></td>
										<td class="sr_02"><p class="cena_01"><strong>150 000 000 р.</strong></p>
											ул. Миклухо-Маклая 141, к. 15/8</td>
										<td class="sr_03"><strong class="fontSize_13">Площадь: 1112 м&sup2;</strong><br />
											<p><strong>Этаж:</strong> 7/16<br />
												<strong>Число комнат:</strong> 2</p></td>
									</tr>
								</table>
							</div>
							<div class="boxBack_07">
								<div class="date">18.06.2009</div>
								<ul class="itemAction">
									<li><a href="#" class="action_02" title="actionName">2</a></li>
									<li><a href="#" class="action_06" title="actionName">6</a></li>
								</ul>
								<h3>Свекольная база</h3>
								<div class="clearBoth"></div>
							</div>
						</div>
						<!--searchResultItem end-->
						<ul class="actionList_02">
							<li><a href="#" class="edit">редактировать</a></li>
							<li><a href="#" class="none">возобновить&nbsp;показ</a></li>
							<li><a href="#" class="delete">удалить</a></li>
						</ul>
						<div class="clearBoth"></div>
					</div>
					<!--favoriteBox end-->
					<!--favoriteBox start -->
					<div class="favoriteBox">
						<!--searchResultItem start -->
						<div class="searchResultItem">
							<div class="padding_6">
								<h2><a href="#">Дмитровский район, д. Петрушкино-Укропино</a></h2>
								<table width="100%" border="0" cellspacing="0" cellpadding="0" class="searchResultTable">
									<tr>
										<td class="sr_01"><a href="#" class="resultImg"><img name="" src="images/pic/pic_03.jpg" width="84" height="62" alt="" /></a></td>
										<td class="sr_02"><p class="cena_01"><strong>150 000 000 р.</strong></p>
											ул. Миклухо-Маклая 141, к. 15/8</td>
										<td class="sr_03"><strong class="fontSize_13">Площадь: 1112 м&sup2;</strong><br />
											<p><strong>Этаж:</strong> 7/16<br />
												<strong>Число комнат:</strong> 2</p></td>
									</tr>
								</table>
							</div>
							<div class="boxBack_07">
								<div class="date">18.06.2009</div>
								<ul class="itemAction">
									<li><a href="#" class="action_02" title="actionName">2</a></li>
									<li><a href="#" class="action_06" title="actionName">6</a></li>
								</ul>
								<h3>Свекольная база</h3>
								<div class="clearBoth"></div>
							</div>
						</div>
						<!--searchResultItem end-->
						<ul class="actionList_02">
							<li><a href="#" class="edit">редактировать</a></li>
							<li><a href="#" class="none">возобновить&nbsp;показ</a></li>
							<li><a href="#" class="delete">удалить</a></li>
						</ul>
						<div class="clearBoth"></div>
					</div>
					<!--favoriteBox end-->
					<div class="clearBoth"></div>
					<!--pagesNaviBox start -->
					<div class="pagesNaviBox">
						<ul class="pagesNavi">
							<li><a href="#" class="previous" title="previous">previous</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#" class="active">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#" class="next" title="next">next</a></li>
							<li class="pageNumber">3/7</li>
						</ul>
						<div class="clearBoth"></div>
					</div>
					<!--pagesNaviBox end -->
				</div>
				<!--favoritesObjects end -->
			</div>
			<!--contentLeft end -->
			<!--contentRight start -->
			<div class="contentRight_02">
				<!--cabinetMenuBox start -->
				<div class="cabinetMenuBox ">
					<div class="boxBack_02">
						<h2>Мой кабинет</h2>
					</div>
					<ul class="cabinetMenu padding_11">
						<li><a href="#">Избранные</a></li>
						<li><a href="#">Разместить объявления</a></li>
						<li class="active"><a href="#">Мои объявления</a></li>
						<li><a href="#">Мои сообщения</a></li>
						<li><a href="#">Разместить объект</a></li>
						<li><a href="#">Профайл</a></li>
					</ul>
				</div>
				<!--cabinetMenuBox end -->
			</div>
			<!--contentRight end -->
			<div class="clearBoth"></div>
		</div>
	</div>
	<!--contentBox end -->
</div>
<!--global end -->
<!--footer start -->
<div class="footer">
	<div class="footerBox">
		<div class="copyright">&copy; 2009. Все права защищены</div>
		<!--footerMenu start -->
		<ul class="footerMenu">
			<li><a href="#">О&nbsp;проекте</a></li>
			<li class="active"><a href="#">Информация</a></li>
			<li><a href="#">Помощь</a></li>
			<li><a href="#">Реклама&nbsp;на&nbsp;проекте</a></li>
		</ul>
		<!--footerMenu end -->
	</div>
</div>
<!--footer end -->
</body>
</html>
