<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 6]>
<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
<link href="/css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<!--global start -->
<div class="global">
	<!--contentBox start -->
	<div class="contentBox">
		<!--header start -->
		<div class="headerBox">
			<div class="header">
				<div class="headerLeft"><a href="#" class="logo">domus</a>
					<!--sityMenu start -->
					<div class="cityMenu"> <a href="#"><span>Санкт-Петербург</span></a> </div>
					<!--sityMenu end -->
				</div>
				<div class="headerRight">
					<!--topMenu start -->
					<ul class="topMenu">
						<li>Петр Копейкин</li>
						<li class="cabinet"><a href="#">Мой кабинет</a></li>
						<li class="out"><a href="#">Выход</a></li>
					</ul>
					<!--topMenu end -->
					<!--topSearchForm start -->
					<form action="" method="get">
						<fieldset>
							<input type="text" value="Поиск по ключевому слову" onblur="if(this.value==''){this.value='Поиск по ключевому слову';}"
onfocus="if(this.value=='Поиск по ключевому слову'){this.value='';}" class="topSearchInput" />
							<button class="topSearchButton" type="submit" value="Найти">Найти</button>
						</fieldset>
					</form>
					<!--topSearchForm end -->
				</div>
			</div>
		</div>
		<!--header end -->
		<div class="wrapper">
			<!--globalMenu start -->
			<ul class="globalMenu">
				<li class="active"><a href="#">КВАРТИРЫ<br />
					продажа</a></li>
				<li><a href="#">КВАРТИРЫ<br />
					аренда</a></li>
				<li><a href="#">ДОМА И УЧАСТКИ<br />
					продажа</a></li>
				<li><a href="#">ДОМА И УЧАСТКИ<br />
					аренда</a></li>
				<li><a href="#">КОММЕРЧЕСКАЯ<br />
					продажа</a></li>
				<li><a href="#">КОММЕРЧЕСКАЯ<br />
					аренда</a></li>
			</ul>
			<!--globalMenu end -->
			<!--pageHeader start -->
			<div class="pageHeader">
				<h1>Профайл</h1>
			</div>
			<!--pageHeader end -->
			<!--contentLeft start -->
			<div class="contentLeft_02">
				<!--profileBox start -->
				<div class="profileBox">
					<!--sortBox start -->
					<div class="sortBox_02">
						<ul class="actionList_02">
							<li class="edit"><a href="#">редактировать</a></li>
							<li class="delete"><a href="#">удалить</a></li>
						</ul>
						<div class="clearBoth"></div>
					</div>
					<!--sortBox end -->
					<form action="" method="get" class="profileEditForm">
						<h2>Персональные данные</h2>
						<ul class="persona padding_12">
							<li><span><strong>Ф. И. О.:</strong></span>Копейкин Петр Николаевич</li>
							<li><span><strong>Компания:</strong></span>Первая ипотечная компания</li>
							<li><span><strong>Email (логин):</strong></span>Petr@company.ru</li>
							<li><span><strong>Телефон:</strong></span>+7 906 254-54-87</li>
						</ul>
						<h2>Логотип</h2>
						<div class="padding_12"> <a href="#"><img name="" src="images/pic/logoProfile.jpg" width="101" height="107" alt="" class="logoProfile"/></a>
							<h3>Добавить (изменить) логотип:</h3>
							<input type="file" class="input_05" size="45"/>
							<span class="formButton button_01">
							<input name="input" type="submit" value="Загрузить" />
							</span>
							<div class="clearBoth"></div>
							<p>Макс. размеры изображения: 200х100 px.<br />
								Тип изображения: jpg, gif, png.</p>
						</div>
						<h2>Ответы на вопросы</h2>
						<div class="padding_12">
							<h3>Если у вас возникли вопросы - напишите администратору:</h3>
							<textarea name="" cols="" rows="" class="textarea_01" onblur="if(this.value==''){this.value='Максимальное количество символов - 500';}"
onfocus="if(this.value=='Максимальное количество символов - 500'){this.value='';}">Максимальное количество символов - 500</textarea>
							<br />
							<div class="sendForm"><span class="formButton ">
								<input name="input" type="submit" value="Отправить" />
								</span></div>
							<span class="formButton">
							<input name="input" type="submit" value="Очистить" />
							</span>
							<div class="clearBoth"></div>
						</div>
						<h2>Удаление учетной записи</h2>
						<div class="padding_12">
							<label class="floatLeft">Введите пароль:
								<input name="" type="text" class="input_06"/>
							</label>
							<span class="formButton">
							<input name="input" type="submit" value="Удалить учетную запись" />
							</span> </div>
					</form>
				</div>
				<!--profileBox end -->
			</div>
			<!--contentLeft end -->
			<!--contentRight start -->
			<div class="contentRight_02">
				<!--cabinetMenuBox start -->
				<div class="cabinetMenuBox ">
					<div class="boxBack_02">
						<h2>Мой кабинет</h2>
					</div>
					<ul class="cabinetMenu padding_11">
						<li><a href="#">Избранные</a></li>
						<li><a href="#">Разместить объявления</a></li>
						<li class="active"><a href="#">Мои объявления</a></li>
						<li><a href="#">Мои сообщения</a></li>
						<li><a href="#">Разместить объект</a></li>
						<li><a href="#">Профайл</a></li>
					</ul>
				</div>
				<!--cabinetMenuBox end -->
			</div>
			<!--contentRight end -->
			<div class="clearBoth"></div>
		</div>
	</div>
	<!--contentBox end -->
</div>
<!--global end -->
<!--footer start -->
<div class="footer">
	<div class="footerBox">
		<div class="copyright">&copy; 2009. Все права защищены</div>
		<!--footerMenu start -->
		<ul class="footerMenu">
			<li><a href="#">О&nbsp;проекте</a></li>
			<li class="active"><a href="#">Информация</a></li>
			<li><a href="#">Помощь</a></li>
			<li><a href="#">Реклама&nbsp;на&nbsp;проекте</a></li>
		</ul>
		<!--footerMenu end -->
	</div>
</div>
<!--footer end -->
</body>
</html>
