<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 6]>
<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
<link href="/css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<!--global start -->
<div class="global">
    <!--contentBox start -->
    <div class="contentBox">
        <!--header start -->
        <div class="headerBox">
            <div class="header">
                <div class="headerLeft"><a href="#" class="logo">domus</a>
                    <!--sityMenu start -->
                    <div class="cityMenu"> <a href="#"><span>Санкт-Петербург</span></a> </div>
                    <!--sityMenu end -->
                </div>
                <div class="headerRight">
                    <!--topMenu start -->
                    <ul class="topMenu">
                        <li>Петр Копейкин</li>
                        <li class="cabinet"><a href="#">Мой кабинет</a></li>
                        <li class="out"><a href="#">Выход</a></li>
                    </ul>
                    <!--topMenu end -->
                    <!--topSearchForm start -->
                    <form action="" method="get">
                        <fieldset>
                            <input type="text" value="Поиск по ключевому слову" onblur="if(this.value==''){this.value='Поиск по ключевому слову';}"
onfocus="if(this.value=='Поиск по ключевому слову'){this.value='';}" class="topSearchInput" />
                            <button class="topSearchButton" type="submit" value="Найти">Найти</button>
                        </fieldset>
                    </form>
                    <!--topSearchForm end -->
                </div>
            </div>
        </div>
        <!--header end -->
        <div class="wrapper">
            <!--globalMenu start -->
            <ul class="globalMenu">
                <li class="active"><a href="#">КВАРТИРЫ<br />
                    продажа</a></li>
                <li><a href="#">КВАРТИРЫ<br />
                    аренда</a></li>
                <li><a href="#">ДОМА И УЧАСТКИ<br />
                    продажа</a></li>
                <li><a href="#">ДОМА И УЧАСТКИ<br />
                    аренда</a></li>
                <li><a href="#">КОММЕРЧЕСКАЯ<br />
                    продажа</a></li>
                <li><a href="#">КОММЕРЧЕСКАЯ<br />
                    аренда</a></li>
            </ul>
            <!--globalMenu end -->
            <!--pageHeader start -->
            <div class="pageHeader">
                <h1>Список сравнения 5 объектов</h1>
            </div>
            <!--pageHeader end -->
            <!--compareBox start -->
            <div class="compareBox">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="compareTable">
                    <tr class="tr_01">
                        <td class="td_01"></td>
                        <td class="td_03"><ul class="itemAction">
                                <li><a href="#" class="action_01" title="favorites">favorites</a></li>
                                <li><a href="#" class="action_05" title="delete">delete</a></li>
                            </ul></td>
                        <td class="td_03"><ul class="itemAction">
                                <li><a href="#" class="action_01" title="favorites">favorites</a></li>
                                <li><a href="#" class="action_05" title="delete">delete</a></li>
                            </ul></td>
                        <td class="td_03"><ul class="itemAction">
                                <li><a href="#" class="action_01" title="favorites">favorites</a></li>
                                <li><a href="#" class="action_05" title="delete">delete</a></li>
                            </ul></td>
                        <td class="td_03"><ul class="itemAction">
                                <li><a href="#" class="action_01" title="favorites">favorites</a></li>
                                <li><a href="#" class="action_05" title="delete">delete</a></li>
                            </ul></td>
                    </tr>
                    <tr>
                        <td class="td_02"><strong>Адрес</strong></td>
                        <td class="td_03"><a href="#" class="compareImg"><img name="" src="images/pic/pic_08.jpg" width="109" height="81" alt="" /></a><br />
                            <a href="#">Дмитровский район, д. Петрушкино-Укропино</a></td>
                        <td class="td_03"><a href="#" class="compareImg"><img name="" src="images/pic/pic_08.jpg" width="109" height="81" alt="" /></a><br />
                            <a href="#">Дмитровский район, д. Петрушкино-Укропино</a></td>
                        <td class="td_03"><a href="#" class="compareImg"><img name="" src="images/pic/pic_08.jpg" width="109" height="81" alt="" /></a><br />
                            <a href="#">Дмитровский район, д. Петрушкино-Укропино</a></td>
                        <td class="td_03"><a href="#" class="compareImg"><img name="" src="images/pic/pic_08.jpg" width="109" height="81" alt="" /></a><br />
                            <a href="#">Дмитровский район, д. Петрушкино-Укропино</a></td>
                    </tr>
                    <tr>
                        <td class="td_02"><strong>Цена</strong></td>
                        <td><strong>610 000 р.</strong></td>
                        <td><strong>610 000 р.</strong></td>
                        <td><strong>610 000 р.</strong></td>
                        <td><strong>610 000 р.</strong></td>
                    </tr>
                    <tr>
                        <td class="td_02"><strong>Регион</strong></td>
                        <td>Москва</td>
                        <td>Москва</td>
                        <td>Москва</td>
                        <td>Москва</td>
                    </tr>
                    <tr>
                        <td class="td_02"><strong>Спальни</strong></td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td class="td_02"><strong>Количество дней на&nbsp;сайте</strong></td>
                        <td>45</td>
                        <td>45</td>
                        <td>45</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td class="td_02"><strong>Описание</strong></td>
                        <td>Элювиальное образование, формируя аномальные геохимические ряды, поступает в кайнозой, за счет чего увеличивается мощность коры под многими хребтами. Шток подпитывает овражистый батолит, где на поверхность выведены кристаллические структуры фундамента.</td>
                        <td>Элювиальное образование, формируя аномальные геохимические ряды, поступает в кайнозой, за счет чего увеличивается мощность коры под многими хребтами. Шток подпитывает овражистый батолит, где на поверхность выведены кристаллические структуры фундамента.</td>
                        <td>Элювиальное образование, формируя аномальные геохимические ряды, поступает в кайнозой, за счет чего увеличивается мощность коры под многими хребтами. Шток подпитывает овражистый батолит, где на поверхность выведены кристаллические структуры фундамента.</td>
                        <td>Элювиальное образование, формируя аномальные геохимические ряды, поступает в кайнозой, за счет чего увеличивается мощность коры под многими хребтами. Шток подпитывает овражистый батолит, где на поверхность выведены кристаллические структуры фундамента.</td>
                    </tr>
                </table>
            </div>
            <!--compareBox end -->
        </div>
    </div>
    <!--contentBox end -->
</div>
<!--global end -->
<!--footer start -->
<div class="footer">
    <div class="footerBox">
        <div class="copyright">&copy; 2009. Все права защищены</div>
        <!--footerMenu start -->
        <ul class="footerMenu">
            <li><a href="#">О&nbsp;проекте</a></li>
            <li class="active"><a href="#">Информация</a></li>
            <li><a href="#">Помощь</a></li>
            <li><a href="#">Реклама&nbsp;на&nbsp;проекте</a></li>
        </ul>
        <!--footerMenu end -->
    </div>
</div>
<!--footer end -->
</body>
</html>
