<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link href="/css/citymenu.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="js/citymenu.js"></script>
<!--[if lte IE 6]>
<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
<link href="/css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<!--global start -->
<div class="global">
	<!--contentBox start -->
	<div class="contentBox">
		<!--header start -->
		<div class="headerBox">
			<div class="header">
				<div class="headerLeft"><a href="#" class="logo">domus</a>
					<!--cityMenu start -->
					<div class="cityMenu"> <a href="#" id="citySelect"><span>Санкт-Петербург</span></a>
						<div id="mymenu1" class="outlinemenu">
							<ul class="cityScroll">
								<li><a href="#">Москва</a></li>
								<li><a href="#">Санкт-Перетбург</a></li>
								<li><a href="#">Казань</a></li>
								<li><a href="#">Адыгея</a></li>
								<li><a href="#">Алтай</a></li>
								<li><a href="#">Башкортостан</a></li>
								<li><a href="#">Бурятия</a></li>
								<li><a href="#">Дагестан</a></li>
								<li><a href="#">Кабардино-Балкарская</a></li>
								<li><a href="#">Марий-Эл (Марийская)</a></li>
								<li><a href="#">Северная Осетия — Алания</a></li>
								<li><a href="#">Алтай</a></li>
								<li><a href="#">Башкортостан</a></li>
								<li><a href="#">Бурятия</a></li>
								<li><a href="#">Дагестан</a></li>
								<li><a href="#">Кабардино-Балкарская</a></li>
								<li><a href="#">Марий-Эл (Марийская)</a></li>
								<li><a href="#">Башкортостан</a></li>
								<li><a href="#">Бурятия</a></li>
								<li><a href="#">Дагестан</a></li>
								<li><a href="#">Кабардино-Балкарская</a></li>
								<li><a href="#">Кабардино-Балкарская</a></li>
								<li><a href="#">Марий-Эл (Марийская)</a></li>
								<li><a href="#">Северная Осетия — Алания</a></li>
								<li><a href="#">Алтай</a></li>
								<li><a href="#">Башкортостан</a></li>
								<li><a href="#">Бурятия</a></li>
								<li><a href="#">Дагестан</a></li>
								<li><a href="#">Кабардино-Балкарская</a></li>
								<li><a href="#">Марий-Эл (Марийская)</a></li>
								<li><a href="#">Башкортостан</a></li>
								<li><a href="#">Бурятия</a></li>
								<li><a href="#">Дагестан</a></li>
								<li><a href="#">Кабардино-Балкарская</a></li>
								<li><a href="#">Кабардино-Балкарская</a></li>
								<li><a href="#">Марий-Эл (Марийская)</a></li>
								<li><a href="#">Северная Осетия — Алания</a></li>
								<li><a href="#">Алтай</a></li>
								<li><a href="#">Башкортостан</a></li>
								<li><a href="#">Бурятия</a></li>
								<li><a href="#">Дагестан</a></li>
								<li><a href="#">Кабардино-Балкарская</a></li>
								<li><a href="#">Марий-Эл (Марийская)</a></li>
								<li><a href="#">Башкортостан</a></li>
								<li><a href="#">Бурятия</a></li>
								<li><a href="#">Дагестан</a></li>
								<li><a href="#">Кабардино-Балкарская</a></li>
							</ul>
						</div>
						<script type="text/javascript">
//jkoutlinemenu.definemenu("anchorid", "menuid", "mouseover|click", optional_width, optional_height)
jkoutlinemenu.definemenu("citySelect", "mymenu1", "mouseover", 244)
</script>
					</div>
					<!--cityMenu end -->
				</div>
				<div class="headerRight">
					<div id="cabinetSubmenu" class="cabinetSubmenu">
						<ul class="">
							<li><a href="#">Избранные</a></li>
							<li><a href="#">Разместить объявления</a></li>
							<li class="active"><a href="#">Мои объявления</a></li>
							<li><a href="#">Мои сообщения</a></li>
							<li><a href="#">Разместить объект</a></li>
							<li><a href="#">Профайл</a></li>
						</ul>
					</div>
					<script type="text/javascript">
//jkoutlinemenu.definemenu("anchorid", "menuid", "mouseover|click", optional_width, optional_height)
jkoutlinemenu.definemenu("cabinet", "cabinetSubmenu", "mouseover", 170)
</script>
					<div class="topMenuBox">
						<!--topMenu start -->
						<ul class="topMenu">
							<li>Петр Копейкин</li>
							<li class="cabinet" ><a href="#" id="cabinet">Мой кабинет</a> </li>
							<li class="out"><a href="#">Выход</a></li>
						</ul>
						<!--topMenu end -->
					</div>
					<!--topSearchForm start -->
					<form action="" method="get">
						<fieldset>
							<input type="text" value="Поиск по ключевому слову" onblur="if(this.value==''){this.value='Поиск по ключевому слову';}"
onfocus="if(this.value=='Поиск по ключевому слову'){this.value='';}" class="topSearchInput" />
							<button class="topSearchButton" type="submit" value="Найти">Найти</button>
						</fieldset>
					</form>
					<!--topSearchForm end -->
				</div>
			</div>
		</div>
		<!--header end -->
		<div class="wrapper">
			<!--globalMenu start -->
			<ul class="globalMenu">
				<li class="active"><a href="#">КВАРТИРЫ<br />
					продажа</a></li>
				<li><a href="#">КВАРТИРЫ<br />
					аренда</a></li>
				<li><a href="#">ДОМА И УЧАСТКИ<br />
					продажа</a></li>
				<li><a href="#">ДОМА И УЧАСТКИ<br />
					аренда</a></li>
				<li><a href="#">КОММЕРЧЕСКАЯ<br />
					продажа</a></li>
				<li><a href="#">КОММЕРЧЕСКАЯ<br />
					аренда</a></li>
			</ul>
			<!--globalMenu end -->
		</div>
	</div>
	<!--contentBox end -->
</div>
<!--global end -->
<!--footer start -->
<div class="footer">
	<div class="footerBox">
		<div class="copyright">&copy; 2009. Все права защищены</div>
		<!--footerMenu start -->
		<ul class="footerMenu">
			<li><a href="#">О&nbsp;проекте</a></li>
			<li class="active"><a href="#">Информация</a></li>
			<li><a href="#">Помощь</a></li>
			<li><a href="#">Реклама&nbsp;на&nbsp;проекте</a></li>
		</ul>
		<!--footerMenu end -->
	</div>
</div>
<!--footer end -->
</body>
</html>
