<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  <title>На сайте ведутся работы по обновлению программного обеспечения</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  
  <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
  <link rel="stylesheet" type="text/css" media="print" href="/css/print.css" />
  <!--[if IE 6]>
    <link rel='stylesheet' type='text/css' media='screen' href="/css/ie6.css" />
    <script type="text/javascript" src="/js/dd.js"></script>
  <![endif]-->
  <!--[if IE 7]>
    <link rel='stylesheet' type='text/css' media='screen' href="/css/ie7.css" />
  <![endif]-->
  <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/js/domus.js"></script>
</head>
<body>
<style type="text/css">
body { background: none;}
#logo { position: absolute; left: 1px; top: -71px;}
#logo img { border: 0 none}
.cap {
  background: url(/images/cap.png) no-repeat 0 0;
  width: 970px;
  height: 258px;
  margin: -129px auto 0;
  position: relative;
  top: 50%;
  text-align: center;
}
h1 {
  font-size: 25px;
  font-weight: bold;
  padding-top: 96px;
  margin: 0 0 3px;
  color: #fff;
}
p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #fff;
}
</style>
<div class="cap">
  <a href="#" id="logo"><img src="/images/logo.png" alt="" /></a>
  <h1>На сайте ведутся работы по обновлению программного обеспечения.</h1>
  <p>Приносим свои извинения за временные неудобства. Сайт будет доступен после 6:00 по московскому времени.</p>
</div>

</body>
</html>
