<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 6]>
<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
<link href="/css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<!--global start -->
<div class="global">
	<!--contentBox start -->
	<div class="contentBox">
		<!--header start -->
		<div class="headerBox">
			<div class="header">
				<div class="headerLeft"><a href="#" class="logo">domus</a>
					<!--sityMenu start -->
					<div class="cityMenu"> <a href="#"><span>Санкт-Петербург</span></a> </div>
					<!--sityMenu end -->
				</div>
				<div class="headerRight">
					<!--topMenu start -->
					<ul class="topMenu">
						<li>Петр Копейкин</li>
						<li class="cabinet"><a href="#">Мой кабинет</a></li>
						<li class="out"><a href="#">Выход</a></li>
					</ul>
					<!--topMenu end -->
					<!--topSearchForm start -->
					<form action="" method="get">
						<fieldset>
							<input type="text" value="Поиск по ключевому слову" onblur="if(this.value==''){this.value='Поиск по ключевому слову';}"
onfocus="if(this.value=='Поиск по ключевому слову'){this.value='';}" class="topSearchInput" />
							<button class="topSearchButton" type="submit" value="Найти">Найти</button>
						</fieldset>
					</form>
					<!--topSearchForm end -->
				</div>
			</div>
		</div>
		<!--header end -->
		<div class="wrapper">
			<!--globalMenu start -->
			<ul class="globalMenu">
				<li class="active"><a href="#">КВАРТИРЫ<br />
					продажа</a></li>
				<li><a href="#">КВАРТИРЫ<br />
					аренда</a></li>
				<li><a href="#">ДОМА И УЧАСТКИ<br />
					продажа</a></li>
				<li><a href="#">ДОМА И УЧАСТКИ<br />
					аренда</a></li>
				<li><a href="#">КОММЕРЧЕСКАЯ<br />
					продажа</a></li>
				<li><a href="#">КОММЕРЧЕСКАЯ<br />
					аренда</a></li>
			</ul>
			<!--globalMenu end -->
			<!--pageHeader start -->
			<div class="pageHeader">
				<h1>Баннерная реклама на сайте mesto.ru</h1>
			</div>
			<!--pageHeader end -->
			<!--contentLeft start -->
			<div class="contentCommercial">
        <div class="banner">
          <h2>Главная страница</h2>
          <img src="/images/banner01.jpg" alt=""/>
        </div>
        <div class="banner">
          <h2>Карточка объявления</h2>
          <img src="/images/banner02.jpg" alt=""/>
        </div>
        <div class="banner last">
          <h2>Личный кабинет</h2>
          <img src="/images/banner03.jpg" alt=""/>
        </div>

        <div class="clearBoth"></div>

        <div class="commercialPriceBox">
          <h2>Прайс-лист на размещение баннеров</h2>
          <div class="t"></div>
          <table>
            <thead>
              <tr>
                <td colspan="2">Раздел</td>
                <td>Баннер</td>
                <td>Стоимость за 7 дней, <em>(руб. без НДС)</em></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th rowspan="12" class="place">Главная страница</th>
                <td rowspan="4" class="region">Москва</td>
                <td class="size">100%x90*</td>
                <td class="num">5 000</td>
              </tr>
              <tr>
                <td>300x400</td>
                <td class="num">7 500</td>
              </tr>
              <tr>
                <td>200x250</td>
                <td class="num">5 000</td>
              </tr>
              <tr>
                <td>970x90*</td>
                <td class="num">10 000</td>
              </tr>
              <tr>
                <td rowspan="4">Московская область</td>
                <td>100%x90*</td>
                <td class="num">10 000</td>
              </tr>
              <tr>
                <td>300x400</td>
                <td class="num">6 000</td>
              </tr>
              <tr>
                <td>200x250</td>
                <td class="num">4 000</td>
              </tr>
              <tr>
                <td>970x90*</td>
                <td class="num">8 000</td>
              </tr>
              <tr>
                <td rowspan="4">Регионы</td>
                <td>100%x90*</td>
                <td class="num">8 000</td>
              </tr>
              <tr>
                <td>300x400</td>
                <td class="num">5 000</td>
              </tr>
              <tr>
                <td>200x250</td>
                <td class="num">3 000</td>
              </tr>
              <tr>
                <td>970x90*</td>
                <td class="num">5 000</td>
              </tr>
              <tr>
                <th rowspan="3" colspan="2">Карточка объявления</th>
                <td>100%x90*</td>
                <td class="num">20 000</td>
              </tr>
              <tr>
                <td>970x90*</td>
                <td class="num">8 000</td>
              </tr>
              <tr>
                <td>300x300</td>
                <td class="num">15 000</td>
              </tr>
              <tr>
                <th colspan="2">Личный кабинет</th>
                <td>300x300</td>
                <td class="num">5 000</td>
              </tr>
            </tbody>
          </table>
          <em>* — сквозные баннеры (на главной странице, во всех  объявлениях и личном кабинете каждого пользователя)</em>
        </div>

        <div class="commercialTechBox">
          <h2>Технические требования для баннеров:</h2>
          <div class="rcBox">
            <div class="rc t"></div>
            <div class="content">Поддерживаемые форматы: GIF, JPEG, PNG, SWF. Размер баннера: до 50 кб. Баннер должен не совпадать с цветом фона. Не принимаются мигающие баннеры, сильно отвлекающие пользователя от навигации по сайту.</div>
            <div class="rc b"></div>
          </div>
        </div>

        <p class="contact">По вопросам размещения рекламы обращаться к Владимиру Путину по телефону +7 495 223-22-33 или на почту <a href="#">putin@estdetei.ru</a></p>
      </div>
			<!--contentLeft end -->
  		<div class="clearBoth"></div>
		</div>
	</div>
	<!--contentBox end -->
</div>
<!--global end -->
<!--footer start -->
<div class="footer">
	<div class="footerBox">
		<div class="copyright">&copy; 2009. Все права защищены</div>
		<!--footerMenu start -->
		<ul class="footerMenu">
			<li><a href="#">О&nbsp;проекте</a></li>
			<li class="active"><a href="#">Информация</a></li>
			<li><a href="#">Помощь</a></li>
			<li><a href="#">Реклама&nbsp;на&nbsp;проекте</a></li>
		</ul>
		<!--footerMenu end -->
	</div>
</div>
<!--footer end -->
</body>
</html>
