<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 6]>
<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
<link href="/css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/global.js"></script>
</head>
<body>
<!--global start -->
<div class="global">
    <!--contentBox start -->
  <div class="contentBox">
        <!--header start -->
        <div class="headerBox">
            <div class="header">
                <div class="headerLeft"><a href="#" class="logo">domus</a>
                    <!--sityMenu start -->
                    <div class="cityMenu"> <a href="#"><span>Санкт-Петербург</span></a> </div>
                    <!--sityMenu end -->
                </div>
                <div class="headerRight">
                    <!--topMenu start -->
                    <ul class="topMenu">
                        <li>Петр Копейкин</li>
                        <li class="cabinet"><a href="#">Мой кабинет</a></li>
                        <li class="out"><a href="#">Выход</a></li>
                    </ul>
                    <!--topMenu end -->
                    <!--topSearchForm start -->
                    <form action="" method="get">
                        <fieldset>
                            <input type="text" value="Поиск по ключевому слову" onblur="if(this.value==''){this.value='Поиск по ключевому слову';}"
onfocus="if(this.value=='Поиск по ключевому слову'){this.value='';}" class="topSearchInput" />
                            <button class="topSearchButton" type="submit" value="Найти">Найти</button>
                            
                        </fieldset>
                    </form>
                    <!--topSearchForm end -->
                </div>
            </div>
        </div>
        <!--header end -->
        <div class="wrapper">
            <!--globalMenu start -->
            <ul class="globalMenu">
                <li class="active"><a href="#">КВАРТИРЫ<br />
                    продажа</a></li>
                <li><a href="#">КВАРТИРЫ<br />
                    аренда</a></li>
                <li><a href="#">ДОМА И УЧАСТКИ<br />
                    продажа</a></li>
                <li><a href="#">ДОМА И УЧАСТКИ<br />
                    аренда</a></li>
                <li><a href="#">КОММЕРЧЕСКАЯ<br />
                    продажа</a></li>
                <li><a href="#">КОММЕРЧЕСКАЯ<br />
                    аренда</a></li>
            </ul>
            <!--globalMenu end -->
            <!--pageHeader start -->
            <div class="pageHeader">
              <a href="#" class="viewCompareList">Список сравнения</a>
<h1>Заголовок страницы шириной 800 пикселей (sdg sfg sert r fg fg sfg ggoopwa adf dfaf )</h1>
            </div>
            <!--pageHeader end -->
            <!--contentLeft start -->
            <div class="contentLeft">
                <!--productOptionsBox start -->
                <div class="productOptionsBox">
                    <div class="priceBox"><span class="text_01">451 000 000 руб</span><br />
                        $ 500 000, &euro; 650 000
                      <div class="hypothec">
                        <h2>Узнайте условия ипотеки</h2>
                        <a href="#"><img src="/images/hyp01.png" alt=""/></a>
                        <a href="#"><img src="/images/hyp02.png" alt=""/></a>
                        <a href="#"><img src="/images/hyp03.png" alt=""/></a>
                      </div>
                    </div>
                    <ul class="productOptionsList">
                        <li>Площадь: 250</li>
                        <li>Этаж: 250</li>
                        <li>Комнат: 8</li>
                    </ul>
                    <ul class="productOptionsList">
                        <li>Площадь: 250</li>
                        <li>Этаж: 250</li>
                        <li>Комнат: 8</li>
                    </ul>
                    <ul class="productOptionsList">
                        <li>Площадь: 250</li>
                        <li>Этаж: 250</li>
                        <li>Комнат: 8</li>
                    </ul>
                </div>
                <!--productOptionsBox end -->
                <!--productImagesBox start -->
                <div class="productImagesBox"> <a href="#"><img src="images/pic/pic_01.jpg" width="320" height="240" alt="" class="bigImage"/></a>
                    <!--scrollImages start -->
                    <div class="scrollImages"> <a href="#" class="scrollLeft" title="scrollLeft">scrollLeft</a>
                        <div class="scrollBox"> <a href="#"><img src="images/pic/pic_02.jpg" width="84" height="62" alt="" /></a> <a href="#"><img src="images/pic/pic_03.jpg" width="84" height="62" alt="" /></a> <a href="#"><img src="images/pic/pic_04.jpg" width="84" height="62" alt="" /></a> </div>
                        <a href="#" class="scrollRight" title="scrollRight">scrollRight</a>
                        <div class="clearBoth"></div>
                    </div>
                    <!--scrollImages end -->
                    <!--contactsSeller start -->
                    <div class="contactsSeller"> <a href="#"><img src="images/pic/logoSeller.jpg" width="57" height="61" alt="" class="logoSeller"/></a>
                        <h2>Контактная информация:</h2>
                        <ul class="contactsList">
                            <li>Юниливер</li>
                            <li>Константин Константинов</li>
                            <li class="tel"><span class="hidden">8 (546) 585-55-99,</span><span class="hidden">8 (345) 324-23-43,</span><span class="hidden">8 (456) 45-65-55 — телефон из профайла</span>
                              <a href="#"><span>Показать телефон</span><span class="hidden">Скрыть телефон</span></a>
                              <var></var>
                            </li>


                            <li class="cl_01"><span class="rate">Рейтинг объявления: 286</span>18.06.2009</li>

                        </ul>
                    </div>
                    <!--contactsSeler end -->
                </div>
                <!--productImagesBox end -->
                <div class="clearBoth"></div>
                <p>B прошлом году один мой друг заапгрейдил Девушку 1.0 до Жены 1.0 и обнаружил, что она занимает кучу памяти и оставляет очень мало системных ресурсов для других приложений. И недавно он заметил, что Жена 1.0 еще и запускает дочерние процессы, которые тоже отнимают ценные ресурсы. Ни в рекламных листках, ни в документации такой феномен не был описан, хотя по информации, полученной от других пользователей, подобного и следовало ожидать в связи с природой данного приложения.</p>
                <p>Вдобавок ко всему Жена 1.0 инсталлируется таким образом, что всегда запускается при инициализации системы и следит за процессом работы. Он обнаружил, что некоторые приложения, в том числе футбол 10.3, Пивцо 1.5 и Рыбалка 7.0 вообще перестали работать в его системе, вызывая аварийный сброс при попытке выполнения (хотя никогда раньше таких проблем не было).</p>
                <p>При инсталляции Жена 1.0 не предоставляет выбора, устанавливая нежелательные добавки, вроде Тещи 55.8 и бета-релиза Шурина. Также кажется, что производительность системы падает с каждым днем. В следующем релизе Жены 2.0 нам хотелось бы увидеть такие возможности: кнопка "Не напоминай мне больше"; кнопка минимизации; опция в Uninstall, позволяющая установить Жену 2.0 таким образом, чтобы в любой момент можно было удалить ее без потери cash и других системных ресурсов; опция, позволяющая запустить сеть в режиме неразборчивости, что сделает функцию опробования системного оборудования значительно более полезной.</p>
                <p>Лично я решил избежать всех головных болей, связанных с Женой 1.0 и продолжать использовать Девушку 2.0. Но все равно у меня с ней возникли проблемы. </p>
                <!--productMenu start -->
                <div class="productMenu">
                    <ul >
                        <li><a href="#" class="favorites">В избранное</a></li>
                        <li><a href="#" class="print">На печать</a></li>
                        <li><a href="#" class="compare">В список сравнения</a></li>
                        <li><a href="#" class="inform">Оповещать об изменении цены</a></li>
                    </ul>
                    <div class="clearBoth"></div>
                </div>
                <!--productMenu end -->
                <!--mapBox start -->
                <div class="mapBox"> <img src="images/pic/map.gif" width="609" height="294" alt="" class="floatLeft" />
                    <div class="boxBack_01"><a href="#" class="collapse">Свернуть</a>
                        <div class="clearBoth"></div>
                    </div>
                </div>
                <!--mapBox end -->
                <!--similarResultsBox start -->
                <div class="similarResultsBox">
                    <div class="boxBack_02">
                        <h2>Похожие результаты</h2>
                    </div>
                    <div class="padding_16_v1">
                        <!--similarResults start -->
                        <div class="similarResults floatLeft"> <a href="#"><img src="images/pic/pic_05.jpg" width="92" height="69" alt="" class="resultImg"/></a>
                            <h3><a href="#">Петрушино-Укропино</a></h3>
                            <p class="cena_01"><strong>715 000 000 р</strong></p>
                            <p><strong>Пл.:</strong>133м&sup2;, <strong>Эт.:</strong> 2/2, <strong>Комнат:</strong> 7 </p>
                        </div>
                        <!--similarResults end -->
                        <!--similarResults start -->
                        <div class="similarResults floatRight"> <a href="#"><img src="images/pic/pic_05.jpg" width="92" height="69" alt="" class="resultImg"/></a>
                            <h3><a href="#">Петрушино-Укропино</a></h3>
                            <p class="cena_01"><strong>715 000 000 р</strong></p>
                            <p><strong>Пл.:</strong>133м&sup2;, <strong>Эт.:</strong> 2/2, <strong>Комнат:</strong> 7 </p>
                        </div>
                        <!--similarResults end -->
                        <div class="clearBoth_30"></div>
                        <!--similarResults start -->
                        <div class="similarResults floatLeft"> <a href="#"><img src="images/pic/pic_05.jpg" width="92" height="69" alt="" class="resultImg"/></a>
                            <h3><a href="#">Петрушино-Укропино</a></h3>
                            <p class="cena_01"><strong>715 000 000 р</strong></p>
                            <p><strong>Пл.:</strong>133м&sup2;, <strong>Эт.:</strong> 2/2, <strong>Комнат:</strong> 7 </p>
                        </div>
                        <!--similarResults end -->
                        <!--similarResults start -->
                        <div class="similarResults floatRight"> <a href="#"><img src="images/pic/pic_05.jpg" width="92" height="69" alt="" class="resultImg"/></a>
                            <h3><a href="#">Петрушино-Укропино</a></h3>
                            <p class="cena_01"><strong>715 000 000 р</strong></p>
                            <p><strong>Пл.:</strong>133м&sup2;, <strong>Эт.:</strong> 2/2, <strong>Комнат:</strong> 7 </p>
                        </div>
                        <!--similarResults end -->
                        <div class="clearBoth"></div>
                    </div>
                </div>
                <!--similarResultsBox end -->
                <a href="#" class="link1">Назад к результатам поиска</a> </div>
            <!--contentLeft end -->
            <!--contentRight start -->
            <div class="contentRight">
                <!--searchResultBox start -->
                <div class="searchResultBox">
                    <div class="boxBack_02">
                        <h2>Результаты поиска</h2>
                    </div>
                    <div class="padding_6"><a href="#" class="scrollLeft" title="scrollLeft">scrollLeft</a>
                        <div class="scrollResult">
                            <ul class="resultList">
                                <li class="resultItem"><a href="#"><img src="images/pic/pic_06.jpg" width="111" height="83" alt="" class="searchImg" /></a>
                                    <ul class="resultOptions">
                                        <li>715 000 000 р</li>
                                        <li><strong>Площадь:</strong> 113 м</li>
                                        <li><strong>Этаж:</strong> 3/3</li>
                                        <li><strong>Число комнат:</strong> 7</li>
                                    </ul>
                                </li>
                                <li class="resultItem"><a href="#"><img src="images/pic/pic_06.jpg" width="111" height="83" alt="" class="searchImg" /></a>
                                    <ul class="resultOptions">
                                        <li>715 000 000 р</li>
                                        <li><strong>Площадь:</strong> 113 м</li>
                                        <li><strong>Этаж:</strong> 3/3</li>
                                        <li><strong>Число комнат:</strong> 7</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="scrollRight" title="scrollRight">scrollRight</a>
                        <div class="clearBoth"></div>
                        <a href="#" class="link1">Назад к результатам поиска</a> </div>
                </div>
                <!--searchResulBox end -->
            </div>
            <!--contentRight end -->
            <div class="clearBoth"></div>
        </div>
    </div>
    <!--contentBox end -->
</div>
<!--global end -->
<!--footer start -->
<div class="footer">
    <div class="footerBox">
        <div class="copyright">&copy; 2009. Все права защищены</div>
        <!--footerMenu start -->
        <ul class="footerMenu">
            <li><a href="#">О&nbsp;проекте</a></li>
            <li class="active"><a href="#">Информация</a></li>
            <li><a href="#">Помощь</a></li>
            <li><a href="#">Реклама&nbsp;на&nbsp;проекте</a></li>
        </ul>
        <!--footerMenu end -->
    </div>
</div>
<!--footer end -->
</body>
</html>
