<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 6]>
<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
<link href="/css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<!--global start -->
<div class="global">
	<!--contentBox start -->
	<div class="contentBox">
		<!--header start -->
		<div class="headerBox">
			<div class="header">
				<div class="headerLeft"><a href="#" class="logo">domus</a>
					<!--sityMenu start -->
					<div class="cityMenu"> <a href="#"><span>Санкт-Петербург</span></a> </div>
					<!--sityMenu end -->
				</div>
				<div class="headerRight">
					<!--topMenu start -->
					<ul class="topMenu">
						<li>Петр Копейкин</li>
						<li class="cabinet"><a href="#">Мой кабинет</a></li>
						<li class="out"><a href="#">Выход</a></li>
					</ul>
					<!--topMenu end -->
					<!--topSearchForm start -->
					<form action="" method="get">
						<fieldset>
							<input type="text" value="Поиск по ключевому слову" onblur="if(this.value==''){this.value='Поиск по ключевому слову';}"
onfocus="if(this.value=='Поиск по ключевому слову'){this.value='';}" class="topSearchInput" />
							<button class="topSearchButton" type="submit" value="Найти">Найти</button>
						</fieldset>
					</form>
					<!--topSearchForm end -->
				</div>
			</div>
		</div>
		<!--header end -->
		<div class="wrapper">
			<!--globalMenu start -->
			<ul class="globalMenu">
				<li class="active"><a href="#">КВАРТИРЫ<br />
					продажа</a></li>
				<li><a href="#">КВАРТИРЫ<br />
					аренда</a></li>
				<li><a href="#">ДОМА И УЧАСТКИ<br />
					продажа</a></li>
				<li><a href="#">ДОМА И УЧАСТКИ<br />
					аренда</a></li>
				<li><a href="#">КОММЕРЧЕСКАЯ<br />
					продажа</a></li>
				<li><a href="#">КОММЕРЧЕСКАЯ<br />
					аренда</a></li>
			</ul>
			<!--globalMenu end -->
			<!--pageHeader start -->
			<div class="pageHeader">
				<h1>Дмитрий Бородаев</h1>
			</div>
			<!--pageHeader end -->
			<!--contentLeft start -->
			<div class="contentLeft_02">
				<!--profileBox start -->

        <div class="profile-ads ads-paginated">
          <h2>Объявления о продаже квартир и комнат</h2>
          <div class="ads-box">
            <div class="ads-item">
              <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
              <a href="#">м. Юго-западная, Ленинский проспект</a>
              <span>751 000 000 р.</span>
              <dl>
                <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
                <dt>Этаж:</dt><dd>6</dd>
                <dt>Число комнат:</dt><dd>2</dd>
              </dl>
            </div>
            <div class="ads-item">
              <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
              <a href="#">м. Юго-западная, Ленинский проспект</a>
              <span>751 000 000 р.</span>
              <dl>
                <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
                <dt>Этаж:</dt><dd>6</dd>
                <dt>Число комнат:</dt><dd>2</dd>
              </dl>
            </div>
            <div class="ads-item">
              <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
              <a href="#">м. Юго-западная, Ленинский проспект</a>
              <span>751 000 000 р.</span>
              <dl>
                <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
                <dt>Этаж:</dt><dd>6</dd>
                <dt>Число комнат:</dt><dd>2</dd>
              </dl>
            </div>
            <div class="ads-item">
              <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
              <a href="#">м. Юго-западная, Ленинский проспект</a>
              <span>751 000 000 р.</span>
              <dl>
                <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
                <dt>Этаж:</dt><dd>6</dd>
                <dt>Число комнат:</dt><dd>2</dd>
              </dl>
            </div>
            <div class="ads-item last">
              <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
              <a href="#">м. Юго-западная, Ленинский проспект</a>
              <span>751 000 000 р.</span>
              <dl>
                <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
                <dt>Этаж:</dt><dd>6</dd>
                <dt>Число комнат:</dt><dd>2</dd>
              </dl>
            </div>
            <div class="ads-item">
              <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
              <a href="#">м. Юго-западная, Ленинский проспект</a>
              <span>751 000 000 р.</span>
              <dl>
                <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
                <dt>Этаж:</dt><dd>6</dd>
                <dt>Число комнат:</dt><dd>2</dd>
              </dl>
            </div>
            <div class="ads-item">
              <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
              <a href="#">м. Юго-западная, Ленинский проспект</a>
              <span>751 000 000 р.</span>
              <dl>
                <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
                <dt>Этаж:</dt><dd>6</dd>
                <dt>Число комнат:</dt><dd>2</dd>
              </dl>
            </div>
            <div class="ads-item">
              <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
              <a href="#">м. Юго-западная, Ленинский проспект</a>
              <span>751 000 000 р.</span>
              <dl>
                <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
                <dt>Этаж:</dt><dd>6</dd>
                <dt>Число комнат:</dt><dd>2</dd>
              </dl>
            </div>
            <div class="ads-item">
              <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
              <a href="#">м. Юго-западная, Ленинский проспект</a>
              <span>751 000 000 р.</span>
              <dl>
                <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
                <dt>Этаж:</dt><dd>6</dd>
                <dt>Число комнат:</dt><dd>2</dd>
              </dl>
            </div>
            <div class="ads-item last">
              <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
              <a href="#">м. Юго-западная, Ленинский проспект</a>
              <span>751 000 000 р.</span>
              <dl>
                <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
                <dt>Этаж:</dt><dd>6</dd>
                <dt>Число комнат:</dt><dd>2</dd>
              </dl>
            </div>

          </div>


        </div><!-- .profile-sale-ads -->
        
<div class="pagesNaviBox">
    <ul class="pagesNavi">

      <li>
        <a href="/apartament-sale/77/search/hash/197ff858f7e9ae7cd3ec36553f3a6199/page/1" rel="1" class="previous">предыдущая</a>      </li>
                        <li><a href="/apartament-sale/77/search/hash/197ff858f7e9ae7cd3ec36553f3a6199/page/1" rel="1" class="active">1</a></li>
                                <li><a href="/apartament-sale/77/search/hash/197ff858f7e9ae7cd3ec36553f3a6199/page/2" rel="2">2</a></li>
                                <li><a href="/apartament-sale/77/search/hash/197ff858f7e9ae7cd3ec36553f3a6199/page/3" rel="3">3</a></li>
                                <li><a href="/apartament-sale/77/search/hash/197ff858f7e9ae7cd3ec36553f3a6199/page/4" rel="4">4</a></li>
                                <li><a href="/apartament-sale/77/search/hash/197ff858f7e9ae7cd3ec36553f3a6199/page/5" rel="5">5</a></li>
                    <li>
        <a href="/apartament-sale/77/search/hash/197ff858f7e9ae7cd3ec36553f3a6199/page/2" rel="2" class="next">следующая</a>      </li>

      <li class="pageNumber">
        1/100      </li>

    </ul>

    <div class="clearBoth"></div>
  </div>

        			</div>
			<!--contentLeft end -->
			<!--contentRight start -->
			<div class="contentRight_02">
				<!--cabinetMenuBox start -->
				<div class="cabinetMenuBox ">
					<div class="boxBack_02">
						<h2>Мой кабинет</h2>
					</div>
					<ul class="cabinetMenu padding_11">
						<li><a href="#">Избранные</a></li>
						<li><a href="#">Разместить объявления</a></li>
						<li class="active"><a href="#">Мои объявления</a></li>
						<li><a href="#">Мои сообщения</a></li>
						<li><a href="#">Разместить объект</a></li>
						<li><a href="#">Профайл</a></li>
					</ul>
          <ul class="cabinetMenu padding_11">
						<li><a href="#">Избранные</a></li>
						<li><a href="#">Разместить объявления</a></li>
						<li><a href="#">Мои сообщения</a></li>
						<li><a href="#">Разместить объект</a></li>
						<li><a href="#">Профайл</a></li>
					</ul>
          <ul class="cabinetMenu padding_11">
						<li><a href="#">Избранные</a></li>
						<li><a href="#">Разместить объявления</a></li>
						<li><a href="#">Мои сообщения</a></li>
						<li><a href="#">Разместить объект</a></li>
						<li><a href="#">Профайл</a></li>
					</ul>
				</div>
				<!--cabinetMenuBox end -->
			</div>
			<!--contentRight end -->
			<div class="clearBoth"></div>
		</div>
	</div>
	<!--contentBox end -->
</div>
<!--global end -->
<!--footer start -->
<div class="footer">
	<div class="footerBox">
		<div class="copyright">&copy; 2009. Все права защищены</div>
		<!--footerMenu start -->
		<ul class="footerMenu">
			<li><a href="#">О&nbsp;проекте</a></li>
			<li class="active"><a href="#">Информация</a></li>
			<li><a href="#">Помощь</a></li>
			<li><a href="#">Реклама&nbsp;на&nbsp;проекте</a></li>
		</ul>
		<!--footerMenu end -->
	</div>
</div>
<!--footer end -->
</body>
</html>
