<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Untitled Document</title>
  <link href="/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <!--[if lte IE 6]>
  <script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
  <link href="/css/ie6.css" rel="stylesheet" type="text/css" />
  <![endif]-->
</head>
<body>
<!--global start -->
<div class="global">
<!--contentBox start -->
<div class="contentBox">
<!--header start -->
<div class="headerBox">
  <div class="header">
    <div class="headerLeft"><a href="#" class="logo">domus</a>
      <!--sityMenu start -->
      <div class="cityMenu"> <a href="#"><span>Санкт-Петербург</span></a> </div>
      <!--sityMenu end -->
    </div>
    <div class="headerRight">
      <!--topMenu start -->
      <ul class="topMenu">
        <li>Петр Копейкин</li>
        <li class="cabinet"><a href="#">Мой кабинет</a></li>
        <li class="out"><a href="#">Выход</a></li>
      </ul>
      <!--topMenu end -->
      <!--topSearchForm start -->
      <form action="" method="get">
        <fieldset>
          <input type="text" value="Поиск по ключевому слову" onblur="if(this.value==''){this.value='Поиск по ключевому слову';}"
                 onfocus="if(this.value=='Поиск по ключевому слову'){this.value='';}" class="topSearchInput" />
          <button class="topSearchButton" type="submit" value="Найти">Найти</button>
        </fieldset>
      </form>
      <!--topSearchForm end -->
    </div>
  </div>
</div>
<!--header end -->
<div class="wrapper">
<!--globalMenu start -->
<ul class="globalMenu">
  <li class="active"><a href="#">КВАРТИРЫ<br />
    продажа</a></li>
  <li><a href="#">КВАРТИРЫ<br />
    аренда</a></li>
  <li><a href="#">ДОМА И УЧАСТКИ<br />
    продажа</a></li>
  <li><a href="#">ДОМА И УЧАСТКИ<br />
    аренда</a></li>
  <li><a href="#">КОММЕРЧЕСКАЯ<br />
    продажа</a></li>
  <li><a href="#">КОММЕРЧЕСКАЯ<br />
    аренда</a></li>
</ul>
<!--globalMenu end -->
<!--pageHeader start -->
<div class="pageHeader">
  <h1>Дмитрий Бородаев</h1>
</div>
<!--pageHeader end -->
<!--contentLeft start -->
<div class="contentLeft_02">

  <a class="btn-q-and-a" href="#">Вопросы и ответы</a>

  <div class="profile-message finance-message">
    <h5>01.06.2011</h5>
    <p>Обычай делового оборота гарантирует правомерный взаимозачет, хотя законодательством может быть установлено иное. Обязательство обеспечено неустойкой. Предпринимательский риск по определению катастрофично требует уставный коносамент, именно такой позиции придерживается арбитражная практика. Нежилое помещение, в отличие от классического случая, несостоятельно. Компенсация по определению поручает кредитор, что не имеет аналогов в англо-саксонской <a href="#">правовой системе</a>.</p>
  </div>
  <div class="profile-message info-message">
    <h5>01.06.2011</h5>
    <p>Обычай делового оборота гарантирует правомерный взаимозачет, хотя законодательством может быть установлено иное.  <a href="#">Подробнее&hellip;</a></p>
  </div>
  <div class="profile-message warn-message">
    <h5>01.06.2011</h5>
    <p>Обычай делового оборота гарантирует правомерный взаимозачет, хотя законодательством может быть установлено иное.</p><p> Обязательство обеспечено неустойкой.</p><a href="#">Подробнее&hellip;</a></p>
  </div>
  <div class="profile-message exclamation-yellow">
    <h5>01.06.2011</h5>
    <p>Обычай делового оборота гарантирует правомерный взаимозачет, хотя законодательством может быть установлено иное. Обязательство обеспечено неустойкой. Предпринимательский риск по определению катастрофично требует уставный коносамент, именно такой позиции придерживается арбитражная практика. Нежилое помещение, в отличие от классического случая, несостоятельно. Компенсация по определению поручает кредитор, что не имеет аналогов в англо-саксонской
      <a href="#">правовой системе</a>.</p>
  </div>
  <div class="profile-message exclamation-green">
    <h5>01.06.2011</h5>
    <p>Обычай делового оборота гарантирует правомерный взаимозачет, хотя законодательством может быть установлено иное.
      <a href="#">Подробнее&hellip;</a></p>
  </div>
  <div class="profile-message exclamation-red">
    <h5>01.06.2011</h5>
    <p>Обычай делового оборота гарантирует правомерный взаимозачет, хотя законодательством может быть установлено иное.</p>
    <p> Обязательство обеспечено неустойкой.</p>
    <a href="#">Подробнее&hellip;</a></p>
  </div>

  <!--profileBox start -->
  <div class="profileBox">

    <h2>Персональные данные</h2>
    <div class="userpic">
      <img src="/images/upic.jpg" alt=""/>
      Рейтинг <strong>286</strong>
    </div>
    <table>
      <tr>
        <th>Телефон</th>
        <td><span class="tel">+7 916 343-34-54</span> <a href="#" class="formButton"><span>Написать сообщение</span></a></td>
      </tr>
      <tr>
        <th>О себе</th>
        <td>Интеграл по поверхности отображает предел последовательности, откуда следует доказываемое равенство. Связное множество развивает невероятный график функции, что неудивительно. Правда, некоторые специалисты отмечают, что векторное поле переворачивает тройной интеграл, в итоге приходим к логическому противоречию. Если после применения правила Лопиталя неопределённость типа 0 / 0 осталась, геодезическая линия масштабирует убывающий детерминант, откуда следует доказываемое равенство. Начало координат искажает убывающий максимум, что известно даже школьникам.</td>
      </tr>
      <tr>
        <th>Специализация</th>
        <td>Интеграл по поверхности отображает предел последовательности, откуда следует доказываемое равенство.</td>
      </tr>
      <tr>
        <th>Регионы работы</th>
        <td><ul><li>Московская обл.</li><li>Мурманская обл.</li></ul></td>
      </tr>
      <tr>
        <th>Время работы на рынке недвижимости</th>
        <td>2 года</td>
      </tr>
      <tr>
        <th>Преимущества работы</th>
        <td>Когда я смотрю на будущее росии у меня волосы встают дыбом, в этом наше преимущество</td>
      </tr>
      <tr>
        <th>Адрес сайта</th>
        <td><a href="#">www.yandex.ru</a></td>
      </tr>
    </table>
  </div>
  <!--profileBox end -->

  <div class="profile-ads">
    <h2><a href="#">Объявления о продаже квартир и комнат</a> <em>1264</em></h2>
    <div class="ads-box">
      <div class="ads-item">
        <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
        <a href="#">м. Юго-западная, Ленинский проспект</a>
        <span>751 000 000 р.</span>
        <dl>
          <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
          <dt>Этаж:</dt><dd>6</dd>
          <dt>Число комнат:</dt><dd>2</dd>
        </dl>
      </div>
      <div class="ads-item">
        <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
        <a href="#">м. Юго-западная, Ленинский проспект</a>
        <span>751 000 000 р.</span>
        <dl>
          <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
          <dt>Этаж:</dt><dd>6</dd>
          <dt>Число комнат:</dt><dd>2</dd>
        </dl>
      </div>
      <div class="ads-item">
        <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
        <a href="#">м. Юго-западная, Ленинский проспект</a>
        <span>751 000 000 р.</span>
        <dl>
          <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
          <dt>Этаж:</dt><dd>6</dd>
          <dt>Число комнат:</dt><dd>2</dd>
        </dl>
      </div>
      <div class="ads-item">
        <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
        <a href="#">м. Юго-западная, Ленинский проспект</a>
        <span>751 000 000 р.</span>
        <dl>
          <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
          <dt>Этаж:</dt><dd>6</dd>
          <dt>Число комнат:</dt><dd>2</dd>
        </dl>
      </div>
      <div class="ads-item last">
        <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
        <a href="#">м. Юго-западная, Ленинский проспект</a>
        <span>751 000 000 р.</span>
        <dl>
          <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
          <dt>Этаж:</dt><dd>6</dd>
          <dt>Число комнат:</dt><dd>2</dd>
        </dl>
      </div>
    </div>
  </div><!-- .profile-sale-ads -->

  <div class="profile-ads">
    <h2><a href="#">Объявления об аренде квартир и комнат</a> <em>1264</em></h2>
    <div class="ads-box">
      <div class="ads-item">
        <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
        <a href="#">м. Юго-западная, Ленинский проспект</a>
        <span>751 000 000 р.</span>
        <dl>
          <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
          <dt>Этаж:</dt><dd>6</dd>
          <dt>Число комнат:</dt><dd>2</dd>
        </dl>
      </div>
      <div class="ads-item">
        <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
        <a href="#">м. Юго-западная, Ленинский проспект</a>
        <span>751 000 000 р.</span>
        <dl>
          <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
          <dt>Этаж:</dt><dd>6</dd>
          <dt>Число комнат:</dt><dd>2</dd>
        </dl>
      </div>
      <div class="ads-item">
        <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
        <a href="#">м. Юго-западная, Ленинский проспект</a>
        <span>751 000 000 р.</span>
        <dl>
          <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
          <dt>Этаж:</dt><dd>6</dd>
          <dt>Число комнат:</dt><dd>2</dd>
        </dl>
      </div>
      <div class="ads-item">
        <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
        <a href="#">м. Юго-западная, Ленинский проспект</a>
        <span>751 000 000 р.</span>
        <dl>
          <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
          <dt>Этаж:</dt><dd>6</dd>
          <dt>Число комнат:</dt><dd>2</dd>
        </dl>
      </div>
      <div class="ads-item last">
        <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
        <a href="#">м. Юго-западная, Ленинский проспект</a>
        <span>751 000 000 р.</span>
        <dl>
          <dt>Площадь:</dt><dd>45 м<sup>2</sup></dd>
          <dt>Этаж:</dt><dd>6</dd>
          <dt>Число комнат:</dt><dd>2</dd>
        </dl>
      </div>
    </div>
  </div><!-- .profile-buy-ads -->

  <div class="profile-ads">
    <h2><a href="#">Объявления об аренде квартир и комнат</a> <em>1264</em></h2>
    <div class="ads-box">
      <div class="ads-item">
        <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
        <a href="#">м. Юго-западная, Ленинский проспект</a>
      </div>
      <div class="ads-item">
        <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
        <a href="#">м. Юго-западная, Ленинский проспект</a>
      </div>
      <div class="ads-item">
        <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
        <a href="#">м. Юго-западная, Ленинский проспект</a>
      </div>
      <div class="ads-item">
        <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
        <a href="#">м. Юго-западная, Ленинский проспект</a>
      </div>
      <div class="ads-item last">
        <div class="pic"><img src="/images/adsthumb.jpg" alt=""/></div>
        <a href="#">м. Юго-западная, Ленинский проспект</a>
      </div>
    </div>
  </div><!-- .profile-buy-ads -->

</div>
<!--contentLeft end -->
<!--contentRight start -->
<div class="contentRight_02">
  <!--cabinetMenuBox start -->
  <div class="cabinetMenuBox ">
    <div class="boxBack_02">
      <h2>Мой кабинет</h2>
    </div>
    <ul class="cabinetMenu padding_11">
      <li><a href="#">Избранные</a></li>
      <li><a href="#">Разместить объявления</a></li>
      <li class="active"><a href="#">Мои объявления</a></li>
      <li><a href="#">Мои сообщения</a></li>
      <li><a href="#">Разместить объект</a></li>
      <li><a href="#">Профайл</a></li>
    </ul>
    <ul class="cabinetMenu padding_11">
      <li><a href="#">Избранные</a></li>
      <li><a href="#">Разместить объявления</a></li>
      <li><a href="#">Мои сообщения</a></li>
      <li><a href="#">Разместить объект</a></li>
      <li><a href="#">Профайл</a></li>
    </ul>
    <ul class="cabinetMenu padding_11">
      <li><a href="#">Избранные</a></li>
      <li><a href="#">Разместить объявления</a></li>
      <li><a href="#">Мои сообщения</a></li>
      <li><a href="#">Разместить объект</a></li>
      <li><a href="#">Профайл</a></li>
    </ul>
  </div>
  <!--cabinetMenuBox end -->
</div>
<!--contentRight end -->
<div class="clearBoth"></div>
</div>
</div>
<!--contentBox end -->
</div>
<!--global end -->
<!--footer start -->
<div class="footer">
  <div class="footerBox">
    <div class="copyright">&copy; 2009. Все права защищены</div>
    <!--footerMenu start -->
    <ul class="footerMenu">
      <li><a href="#">О&nbsp;проекте</a></li>
      <li class="active"><a href="#">Информация</a></li>
      <li><a href="#">Помощь</a></li>
      <li><a href="#">Реклама&nbsp;на&nbsp;проекте</a></li>
    </ul>
    <!--footerMenu end -->
  </div>
</div>
<!--footer end -->
</body>
</html>
