<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 6]>
<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
<link href="/css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<!--global start -->
<div class="global">
	<!--contentBox start -->
	<div class="contentBox">
		<!--header start -->
		<div class="headerBox">
			<div class="header">
				<div class="headerLeft"><a href="#" class="logo">domus</a>
					<!--sityMenu start -->
					<div class="cityMenu"> <a href="#"><span>Санкт-Петербург</span></a> </div>
					<!--sityMenu end -->
				</div>
				<div class="headerRight">
					<!--topMenu start -->
					<ul class="topMenu">
						<li>Петр Копейкин</li>
						<li class="cabinet"><a href="#">Мой кабинет</a></li>
						<li class="out"><a href="#">Выход</a></li>
					</ul>
					<!--topMenu end -->
					<!--topSearchForm start -->
					<form action="" method="get">
						<fieldset>
							<input type="text" value="Поиск по ключевому слову" onblur="if(this.value==''){this.value='Поиск по ключевому слову';}"
onfocus="if(this.value=='Поиск по ключевому слову'){this.value='';}" class="topSearchInput" />
							<button class="topSearchButton" type="submit" value="Найти">Найти</button>
						</fieldset>
					</form>
					<!--topSearchForm end -->
				</div>
			</div>
		</div>
		<!--header end -->
		<div class="wrapper">
			<!--globalMenu start -->
			<ul class="globalMenu">
				<li class="active"><a href="#">КВАРТИРЫ<br />
					продажа</a></li>
				<li><a href="#">КВАРТИРЫ<br />
					аренда</a></li>
				<li><a href="#">ДОМА И УЧАСТКИ<br />
					продажа</a></li>
				<li><a href="#">ДОМА И УЧАСТКИ<br />
					аренда</a></li>
				<li><a href="#">КОММЕРЧЕСКАЯ<br />
					продажа</a></li>
				<li><a href="#">КОММЕРЧЕСКАЯ<br />
					аренда</a></li>
			</ul>
			<!--globalMenu end -->
			<!--pageHeader start -->
			<div class="pageHeader">
				<h1>Рейтинг риеэлторов</h1>
			</div>
			<!--pageHeader end -->
			<!--contentLeft start -->
			<div class="contentLeft_02">
				<!--profileBox start -->

        <div class="sortBox_02">
          <form class="favoritesForm" method="post" action="/lot/my">
            <fieldset>
              <div class="floatLeft">
                <select id="filter_region_id" name="filter[region_id]" class="select_06">
    <option selected="selected" value="">Выберите регион</option>
    <option value="77">г. Москва</option>
    <option value="50">Московская обл.</option>
    <option value="78">г. Санкт-Петербург</option>
    <option value="47">Ленинградская обл.</option>
    <option value="1">Адыгея</option>
    <option value="4">Алтай</option>
    <option value="22">Алтайский край</option>
    <option value="28">Амурская обл.</option>
    <option value="29">Архангельская обл.</option>
    <option value="30">Астраханская обл.</option>
    <option value="2">Башкортостан</option>
    <option value="31">Белгородская обл.</option>
    <option value="32">Брянская обл.</option>
    <option value="3">Бурятия</option>
    <option value="33">Владимирская обл.</option>
    <option value="34">Волгоградская обл.</option>
    <option value="35">Вологодская обл.</option>
    <option value="36">Воронежская обл.</option>
    <option value="5">Дагестан</option>
    <option value="79">Еврейская обл.</option>
    <option value="37">Ивановская обл.</option>
    <option value="6">Ингушетия</option>
    <option value="38">Иркутская обл.</option>
    <option value="7">Кабардино-Балкария</option>
    <option value="39">Калининградская обл.</option>
    <option value="8">Калмыкия</option>
    <option value="40">Калужская обл.</option>
    <option value="41">Камчатский край</option>
    <option value="9">Карачаево-Черкессия</option>
    <option value="42">Кемеровская обл.</option>
    <option value="10">Карелия</option>
    <option value="43">Кировская обл.</option>
    <option value="11">Коми</option>
    <option value="44">Костромская обл.</option>
    <option value="23">Краснодарский край</option>
    <option value="24">Красноярский край</option>
    <option value="45">Курганская обл.</option>
    <option value="46">Курская обл.</option>
    <option value="48">Липецкая обл.</option>
    <option value="49">Магаданская обл.</option>
    <option value="12">Марий Эл</option>
    <option value="13">Мордовия</option>
    <option value="51">Мурманская обл.</option>
    <option value="83">Ненецкий АО</option>
    <option value="52">Нижегородская обл.</option>
    <option value="53">Новгородская обл.</option>
    <option value="54">Новосибирская обл.</option>
    <option value="55">Омская обл.</option>
    <option value="56">Оренбургская обл.</option>
    <option value="57">Орловская обл.</option>
    <option value="58">Пензенская обл.</option>
    <option value="59">Пермский край</option>
    <option value="25">Приморский край</option>
    <option value="60">Псковская обл.</option>
    <option value="61">Ростовская обл.</option>
    <option value="62">Рязанская обл.</option>
    <option value="63">Самарская обл.</option>
    <option value="64">Саратовская обл.</option>
    <option value="14">Саха /Якутия/</option>
    <option value="65">Сахалинская обл.</option>
    <option value="66">Свердловская обл.</option>
    <option value="15">Северная Осетия</option>
    <option value="67">Смоленская обл.</option>
    <option value="26">Ставропольский край</option>
    <option value="68">Тамбовская обл.</option>
    <option value="16">Татарстан</option>
    <option value="69">Тверская обл.</option>
    <option value="70">Томская обл.</option>
    <option value="71">Тульская обл.</option>
    <option value="17">Тыва</option>
    <option value="72">Тюменская обл.</option>
    <option value="18">Удмуртия</option>
    <option value="73">Ульяновская обл.</option>
    <option value="27">Хабаровский край</option>
    <option value="19">Хакасия</option>
    <option value="86">Ханты-Мансийский АО</option>
    <option value="74">Челябинская обл.</option>
    <option value="20">Чечня</option>
    <option value="75">Забайкальский край</option>
    <option value="21">Чувашия</option>
    <option value="87">Чукотский АО</option>
    <option value="89">Ямало-Ненецкий АО</option>
    <option value="76">Ярославская обл.</option>
    </select>            <select id="filter_type" name="filter[type]" class="select_06">
    <option selected="selected" value="">Выберите тип недвижимости</option>
    <option value="apartament-sale">Квартира/комната на продажу</option>
    <option value="apartament-rent">Квартира/комната в аренду</option>
    <option value="house-sale">Дом/участок на продажу</option>
    <option value="house-rent">Дом в аренду</option>
    <option value="commercial-sale">Коммерческая недвижимость на продажу</option>
    <option value="commercial-rent">Коммерческая недвижимость в аренду</option>
    </select>          </div>
              <div class="floatRight">
                <span class="formButton"><input type="submit" value="Найти" name="input"></span>
              </div>
              <div class="clearBoth"></div>
            </fieldset>
          </form>
        </div>


        <div class="sortBox">
          <div class="floatLeft">
            <label>Сортировать по:</label>
            <select class="select_05" name="sort">
              <option value="rating-desc">рейтингу ↓</option>
              <option value="rating-asc">рейтингу ↑</option>
              <option value="date-desc">дате ↓</option>
              <option value="date-asc">дате ↑</option>
              <option value="address-asc">адресу ↑</option>
              <option value="address-desc">адресу ↓</option>
              <option value="size-asc">площади ↑</option>
              <option value="size-desc">площади ↓</option>
              <option value="price-asc">цене ↑</option>
              <option value="price-desc">цене ↓</option>
              <option value="seller-asc">продавцу ↑</option>
              <option value="seller-desc">продавцу ↓</option>
            </select>
          </div>
          <div class="sortRight">



        <ul class="resultPageMenu">
          <li>
            <a href="/search/get?hash=5064620e9b08ddf3ab8676880bceb61e&amp;page=1" rel="1" class="previous">предыдущая</a>    </li>
          <li class="pageNumber">
            1/100    </li>
          <li>
            <a href="/search/get?hash=5064620e9b08ddf3ab8676880bceb61e&amp;page=2" rel="2" class="next">следующая</a>    </li>
        </ul>     


          </div>
          <div class="clearBoth"></div>
        </div>


        <div class="realtor-rate-item">          
          <div class="image"><img src="/images/upic60.jpg" alt=""/></div>
          <div class="rate">Рейтинг <strong>265</strong></div>
          <div class="info">
            <h2><a href="#">Михаил Псой</a></h2>
            <dl>
              <dt>Компания:</dt>
              <dd>&laquo;Первая ипотечная компания&raquo;</dd>
              <dt>Опыт работы:</dt>
              <dd>с 2003 года</dd>
            </dl>
          </div>
          <ul>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
          </ul>
        </div>

        <div class="realtor-rate-item">
          <div class="image"><img src="/images/upic60.jpg" alt=""/></div>
          <div class="rate">Рейтинг <strong>265</strong></div>
          <div class="info">
            <h2><a href="#">Михаил Псой</a></h2>
            <dl>
              <dt>Компания:</dt>
              <dd>&laquo;Первая ипотечная компания&raquo;</dd>
              <dt>Опыт работы:</dt>
              <dd>с 2003 года</dd>
            </dl>
          </div>
          <ul>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
          </ul>
        </div>

        <div class="realtor-rate-item">
          <div class="image"><img src="/images/upic60.jpg" alt=""/></div>
          <div class="rate">Рейтинг <strong>265</strong></div>
          <div class="info">
            <h2><a href="#">Михаил Псой</a></h2>
            <dl>
              <dt>Компания:</dt>
              <dd>&laquo;Первая ипотечная компания&raquo;</dd>
              <dt>Опыт работы:</dt>
              <dd>с 2003 года</dd>
            </dl>
          </div>
          <ul>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
          </ul>
        </div>

        <div class="realtor-rate-item">
          <div class="image"><img src="/images/upic60.jpg" alt=""/></div>
          <div class="rate">Рейтинг <strong>265</strong></div>
          <div class="info">
            <h2><a href="#">Михаил Псой</a></h2>
            <dl>
              <dt>Компания:</dt>
              <dd>&laquo;Первая ипотечная компания&raquo;</dd>
              <dt>Опыт работы:</dt>
              <dd>с 2003 года</dd>
            </dl>
          </div>
          <ul>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
          </ul>
        </div>

        <div class="realtor-rate-item">
          <div class="image"><img src="/images/upic60.jpg" alt=""/></div>
          <div class="rate">Рейтинг <strong>265</strong></div>
          <div class="info">
            <h2><a href="#">Михаил Псой</a></h2>
            <dl>
              <dt>Компания:</dt>
              <dd>&laquo;Первая ипотечная компания&raquo;</dd>
              <dt>Опыт работы:</dt>
              <dd>с 2003 года</dd>
            </dl>
          </div>
          <ul>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
          </ul>
        </div>

        <div class="realtor-rate-item">
          <div class="image"><img src="/images/upic60.jpg" alt=""/></div>
          <div class="rate">Рейтинг <strong>265</strong></div>
          <div class="info">
            <h2><a href="#">Михаил Псой</a></h2>
            <dl>
              <dt>Компания:</dt>
              <dd>&laquo;Первая ипотечная компания&raquo;</dd>
              <dt>Опыт работы:</dt>
              <dd>с 2003 года</dd>
            </dl>
          </div>
          <ul>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
          </ul>
        </div>

        <div class="realtor-rate-item">
          <div class="image"><img src="/images/upic60.jpg" alt=""/></div>
          <div class="rate">Рейтинг <strong>265</strong></div>
          <div class="info">
            <h2><a href="#">Михаил Псой</a></h2>
            <dl>
              <dt>Компания:</dt>
              <dd>&laquo;Первая ипотечная компания&raquo;</dd>
              <dt>Опыт работы:</dt>
              <dd>с 2003 года</dd>
            </dl>
          </div>
          <ul>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
          </ul>
        </div>

        <div class="realtor-rate-item">
          <div class="image"><img src="/images/upic60.jpg" alt=""/></div>
          <div class="rate">Рейтинг <strong>265</strong></div>
          <div class="info">
            <h2><a href="#">Михаил Псой</a></h2>
            <dl>
              <dt>Компания:</dt>
              <dd>&laquo;Первая ипотечная компания&raquo;</dd>
              <dt>Опыт работы:</dt>
              <dd>с 2003 года</dd>
            </dl>
          </div>
          <ul>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
          </ul>
        </div>

        <div class="realtor-rate-item">
          <div class="image"><img src="/images/upic60.jpg" alt=""/></div>
          <div class="rate">Рейтинг <strong>265</strong></div>
          <div class="info">
            <h2><a href="#">Михаил Псой</a></h2>
            <dl>
              <dt>Компания:</dt>
              <dd>&laquo;Первая ипотечная компания&raquo;</dd>
              <dt>Опыт работы:</dt>
              <dd>с 2003 года</dd>
            </dl>
          </div>
          <ul>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
          </ul>
        </div>

        <div class="realtor-rate-item">
          <div class="image"><img src="/images/upic60.jpg" alt=""/></div>
          <div class="rate">Рейтинг <strong>265</strong></div>
          <div class="info">
            <h2><a href="#">Михаил Псой</a></h2>
            <dl>
              <dt>Компания:</dt>
              <dd>&laquo;Первая ипотечная компания&raquo;</dd>
              <dt>Опыт работы:</dt>
              <dd>с 2003 года</dd>
            </dl>
          </div>
          <ul>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
            <li>+7 (915) 983-34-65</li>
          </ul>
        </div>
        
<div class="pagesNaviBox">
    <ul class="pagesNavi">

      <li>
        <a href="/apartament-sale/77/search/hash/197ff858f7e9ae7cd3ec36553f3a6199/page/1" rel="1" class="previous">предыдущая</a>      </li>
                        <li><a href="/apartament-sale/77/search/hash/197ff858f7e9ae7cd3ec36553f3a6199/page/1" rel="1" class="active">1</a></li>
                                <li><a href="/apartament-sale/77/search/hash/197ff858f7e9ae7cd3ec36553f3a6199/page/2" rel="2">2</a></li>
                                <li><a href="/apartament-sale/77/search/hash/197ff858f7e9ae7cd3ec36553f3a6199/page/3" rel="3">3</a></li>
                                <li><a href="/apartament-sale/77/search/hash/197ff858f7e9ae7cd3ec36553f3a6199/page/4" rel="4">4</a></li>
                                <li><a href="/apartament-sale/77/search/hash/197ff858f7e9ae7cd3ec36553f3a6199/page/5" rel="5">5</a></li>
                    <li>
        <a href="/apartament-sale/77/search/hash/197ff858f7e9ae7cd3ec36553f3a6199/page/2" rel="2" class="next">следующая</a>      </li>

      <li class="pageNumber">
        1/100      </li>

    </ul>

    <div class="clearBoth"></div>
  </div>

        			</div>
			<!--contentLeft end -->
			<!--contentRight start -->
			<div class="contentRight_02">
			
			

			</div>
			<!--contentRight end -->
			<div class="clearBoth"></div>
		</div>
	</div>
	<!--contentBox end -->
</div>
<!--global end -->
<!--footer start -->
<div class="footer">
	<div class="footerBox">
		<div class="copyright">&copy; 2009. Все права защищены</div>
		<!--footerMenu start -->
		<ul class="footerMenu">
			<li><a href="#">О&nbsp;проекте</a></li>
			<li class="active"><a href="#">Информация</a></li>
			<li><a href="#">Помощь</a></li>
			<li><a href="#">Реклама&nbsp;на&nbsp;проекте</a></li>
		</ul>
		<!--footerMenu end -->
	</div>
</div>
<!--footer end -->
</body>
</html>
