<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="X-Ua-Compatible" content="IE=8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="title" content="Мои объявления"/>
  <meta name="name" content="Мои объявления"/>
  <title>Мои объявления</title>
  <link rel="stylesheet" type="text/css" media="all" href="/css/reset.css?1300193896"/>
  <link rel="stylesheet" type="text/css" media="all" href="/css/main.css?1302606874"/>
  <link rel="stylesheet" type="text/css" media="all" href="/css/user.css?1300193826"/>
  <link rel="stylesheet" type="text/css" media="all" href="/css/metro.css?1300193962"/>
  <link rel="stylesheet" type="text/css" media="all" href="/css/jquery.sb.css"/>
  <link rel="stylesheet" type="text/css" media="print" href="/css/print.css?1300193917"/>
  <!--[if IE 6]>
    <script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/css/ie6.css"/>
  <![endif]-->
  <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" media="all" href="/css/ie7.css"/>
  <![endif]-->
  <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" media="all" href="/css/ie8.css"/>
  <![endif]-->
  <script type="text/javascript" src="/js/jquery.js?1300193834"></script>
  <script type="text/javascript" src="/js/global.js?1302539541"></script>
  <script type="text/javascript" src="/js/form.js?1301066369"></script>
  <script type="text/javascript" src="/js/metro.js?1301066370"></script>
  <script type="text/javascript" src="/js/jquery.sb.min.js"></script>
  <script type="text/javascript">
    $(function(){
      $('div.custom-select select').sb();
    });
  </script>
  <link rel="shortcut icon" href="/images/favicon.ico"/>
</head>
<body>
<div id="homepage_header">
  <center>
    <script type='text/javascript'><!--//<![CDATA[
    var m3_u = (location.protocol == 'https:' ? 'https://media.mesto.ru/www/delivery/ajs.php' : 'http://media.mesto.ru/www/delivery/ajs.php');
    var m3_r = Math.floor(Math.random() * 99999999999);
    if (!document.MAX_used) document.MAX_used = ',';
    document.write("<scr" + "ipt type='text/javascript' src='" + m3_u);
    document.write("?zoneid=3");
    document.write('&amp;cb=' + m3_r);
    if (document.MAX_used != ',') document.write("&amp;exclude=" + document.MAX_used);
    document.write(document.charset ? '&amp;charset=' + document.charset : (document.characterSet ? '&amp;charset=' + document.characterSet : ''));
    document.write("&amp;loc=" + escape(window.location));
    if (document.referrer) document.write("&amp;referer=" + escape(document.referrer));
    if (document.context) document.write("&context=" + escape(document.context));
    if (document.mmm_fo) document.write("&amp;mmm_fo=1");
    document.write("'><\/scr" + "ipt>");
    //]]>--></script>
    <noscript>
      <a href='http://media.mesto.ru/www/delivery/ck.php?n=a29427f3&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://media.mesto.ru/www/delivery/avw.php?zoneid=3&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a29427f3' border='0' alt=''/></a>
    </noscript>
  </center>
</div>

<noindex>
  <div class="header_counters">
  </div>
</noindex>
<div id="bg">
<div id="container">
<div id="global-loading"></div>
<div class="global">
<div class="contentBox">

<div class="headerBox">
  <div id="header">
    <a class="new-insertion" href="/lot/add">Добавить объявление<span></span></a>
    <ul class="login-nav">
      <li>Игорь В. Н.</li>

      <li class="cabinet inner">
        <a href="#" toggle=".cabinetSubmenu" class="toggle">Мой кабинет</a>
        <ul class="cabinetSubmenu">
          <li class="">
            <a href="/lot/favourite">Избранное</a>
            (<span title="Всего">0</span>)

          </li>
          <li class="">
            <a href="/lot/add">Добавить объявление</a>

          </li>
          <li class="active">
            <span>Мои объявления</span>
            (<span title="Всего">79</span> /
            <span class="status-moderate" title="Ожидают модерации">69</span> /
            <span class="status-restricted" title="Запрещены">1</span> /
            <span class="status-inactive" title="Неактивны">7</span>)

          </li>
          <li class="">
            <a href="/user/pm">Мои сообщения</a>
            (27<span class="unread-messages-container"> / <b title="Новые" class="unread-messages">9</b></span>)


          </li>
          <li class="">
            <a href="/blogs/my">Мой блог</a>

          </li>
          <li class="">
            <a href="/user/profile">Профайл</a>

          </li>
          <li class="">
            <a href="/user/pm#c:create-pm$moderator:1">Обратная связь</a>

          </li>
          <li class="">
            <a href="/lot/moderate">Модерация</a>

          </li>
          <li class="">
            <a href="/backend.php">Администрирование</a>

          </li>
        </ul>
      </li>
      <li class="out last"><a href="/user/logout">Выход</a></li>

    </ul>
    <!--        <div class="headerLeft">-->
    <a class="logo" href="/77/main"><img alt="Место.ру" src="/images/no-repeat.png"/></a>

    <div class="cityMenu" style="background: url('/images/region/77.gif') no-repeat left top">
      <a href="#" toggle=".cityMenu .outlinemenu" id="citySelect">
        <span>г. Москва</span>
      </a>

      <div class="outlinemenu" style="display: none">
        <iframe class="select-hider" frameborder="0"></iframe>
        <ul class="cityScroll">

          <li rel="77" class="current" style="display: none">
            <a href="/setregion/77">г. Москва</a></li>

          <li rel="50"><a href="/setregion/50">Московская обл.</a></li>

          <li rel="47"><a href="/setregion/47">Ленинградская обл.</a></li>

          <li rel="28"><a href="/setregion/28">Амурская обл.</a></li>

          <li rel="2"><a href="/setregion/2">Башкортостан</a></li>

          <li rel="31"><a href="/setregion/31">Белгородская обл.</a></li>

          <li rel="78"><a href="/setregion/78">г. Санкт-Петербург</a></li>

          <li rel="3"><a href="/setregion/3">Бурятия</a></li>

          <li rel="34"><a href="/setregion/34">Волгоградская обл.</a></li>

          <li rel="35"><a href="/setregion/35">Вологодская обл.</a></li>

          <li rel="37"><a href="/setregion/37">Ивановская обл.</a></li>

          <li rel="6"><a href="/setregion/6">Ингушетия</a></li>

          <li rel="40"><a href="/setregion/40">Калужская обл.</a></li>

          <li rel="23"><a href="/setregion/23">Краснодарский край</a></li>

          <li rel="12"><a href="/setregion/12">Марий Эл</a></li>

          <li rel="61"><a href="/setregion/61">Ростовская обл.</a></li>

          <li rel="15"><a href="/setregion/15">Северная Осетия</a></li>

          <li rel="86"><a href="/setregion/86">Ханты-Мансийский АО</a></li>

          <li rel="20"><a href="/setregion/20">Чечня</a></li>

          <li rel="75"><a href="/setregion/75">Забайкальский край</a></li>
        </ul>

      </div>
    </div>
    <ul class="top-nav">
      <li class="inner ">
        <a href="#"><em><span>Новости <var></var></span></em></a>

        <div class="corner"></div>
        <div class="dropbox">
          <div class="dropbox-wrap">
            <ul>
              <li><a href="/77/news/news-market">Новости рынка</a></li>
              <li><a href="/77/news/news-portal">Новости портала</a></li>
              <li><a href="/77/news/news-companies">Новости компаний</a></li>
            </ul>
            <div class="dropbox-cn dropbox-tl"></div>
            <div class="dropbox-cn dropbox-tr"></div>
          </div>
          <div class="dropbox-cn dropbox-bl"></div>
          <div class="dropbox-cn dropbox-br"></div>
        </div>
      </li>
      <li>
        <a href="/77/posts/article"><em>Статьи</em></a></li>
      <li>
        <a href="/77/posts/analytics"><em>Аналитика</em></a></li>
      <li class="inner "><a href="#"><em><span>Эксперты <var></var></span></em></a>

        <div class="corner"></div>
        <div class="dropbox">
          <div class="dropbox-wrap">
            <ul>
              <li><a href="/77/experts">Экспертные мнения</a></li>
              <li><a href="/77/authors">Авторские колонки</a></li>
            </ul>
            <div class="dropbox-cn dropbox-tl"></div>
            <div class="dropbox-cn dropbox-tr"></div>
          </div>
          <div class="dropbox-cn dropbox-bl"></div>
          <div class="dropbox-cn dropbox-br"></div>
        </div>
      </li>
      <li class="inner "><a href="#"><em><span>Рейтинги <var></var></span></em></a>

        <div class="corner"></div>
        <div class="dropbox">
          <div class="dropbox-wrap">
            <ul>
              <li><a href="/rating/company">Рейтинги компаний</a></li>
              <li><a href="/rating/realtor">Рейтинги риэлторов</a></li>
            </ul>
            <div class="dropbox-cn dropbox-tl"></div>
            <div class="dropbox-cn dropbox-tr"></div>
          </div>
          <div class="dropbox-cn dropbox-bl"></div>
          <div class="dropbox-cn dropbox-br"></div>
        </div>
      </li>
      <li class="inner "><a href="#"><em><span>Еще <var></var></span></em></a>

        <div class="corner"></div>
        <div class="dropbox">
          <div class="dropbox-wrap">
            <ul>
              <li><a href="/77/posts/events">События</a></li>
              <li><a href="/questionnaire">Опросы</a></li>
              <li><a href="/77/qa">Вопрос&amp;Ответ</a></li>
              <li><a href="/blog/all">Блоги</a></li>
              <li><a href="/info">О Место.ру</a></li>
            </ul>
            <div class="dropbox-cn dropbox-tl"></div>
            <div class="dropbox-cn dropbox-tr"></div>
          </div>
          <div class="dropbox-cn dropbox-bl"></div>
          <div class="dropbox-cn dropbox-br"></div>
        </div>
      </li>
    </ul>
    <!--        </div>-->
    <!--        <div class="headerRight">
    </div>-->
  </div>
</div>

<div class="wrapper">
<ul class="innerGlobalMenu">
  <li class="first ">
    <a href="/apartament-sale/77/search">КВАРТИРЫ<br/>продажа</a></li>
  <li class=" ">
    <a href="/apartament-rent/77/search">КВАРТИРЫ<br/>аренда</a></li>
  <li class=" ">
    <a href="/house-sale/77/search">ДОМА И УЧАСТКИ<br/>продажа</a></li>
  <li class=" ">
    <a href="#" class="no-click">ДОМА<br/>аренда</a>
  </li>
  <li class=" ">
    <a href="/commercial-sale/77/search">КОММЕРЧЕСКАЯ<br/>продажа</a></li>
  <li class="last ">
    <a href="/commercial-rent/77/search">КОММЕРЧЕСКАЯ<br/>аренда</a></li>
</ul>
<div class="index-adv-teaser">
  <div class="wrap">
    <!-- Первый баннер -->
    <script type='text/javascript'><!--//<![CDATA[
    var m3_u = (location.protocol == 'https:' ? 'https://media.mesto.ru/www/delivery/ajs.php' : 'http://media.mesto.ru/www/delivery/ajs.php');
    var m3_r = Math.floor(Math.random() * 99999999999);
    if (!document.MAX_used) document.MAX_used = ',';
    document.write("<scr" + "ipt type='text/javascript' src='" + m3_u);
    document.write("?zoneid=31&amp;block=1");
    document.write('&amp;cb=' + m3_r);
    if (document.MAX_used != ',') document.write("&amp;exclude=" + document.MAX_used);
    document.write(document.charset ? '&amp;charset=' + document.charset : (document.characterSet ? '&amp;charset=' + document.characterSet : ''));
    document.write("&amp;loc=" + escape(window.location));
    if (document.referrer) document.write("&amp;referer=" + escape(document.referrer));
    if (document.context) document.write("&context=" + escape(document.context));
    if (document.mmm_fo) document.write("&amp;mmm_fo=1");
    document.write("'><\/scr" + "ipt>");
    //]]>--></script>
    <noscript>
      <a href='http://media.mesto.ru/www/delivery/ck.php?n=a63bd565&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://media.mesto.ru/www/delivery/avw.php?zoneid=31&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a63bd565' border='0' alt=''/></a>
    </noscript>

    <!-- Второй баннер -->
    <script type='text/javascript'><!--//<![CDATA[
    var m3_u = (location.protocol == 'https:' ? 'https://media.mesto.ru/www/delivery/ajs.php' : 'http://media.mesto.ru/www/delivery/ajs.php');
    var m3_r = Math.floor(Math.random() * 99999999999);
    if (!document.MAX_used) document.MAX_used = ',';
    document.write("<scr" + "ipt type='text/javascript' src='" + m3_u);
    document.write("?zoneid=32&amp;block=1");
    document.write('&amp;cb=' + m3_r);
    if (document.MAX_used != ',') document.write("&amp;exclude=" + document.MAX_used);
    document.write(document.charset ? '&amp;charset=' + document.charset : (document.characterSet ? '&amp;charset=' + document.characterSet : ''));
    document.write("&amp;loc=" + escape(window.location));
    if (document.referrer) document.write("&amp;referer=" + escape(document.referrer));
    if (document.context) document.write("&context=" + escape(document.context));
    if (document.mmm_fo) document.write("&amp;mmm_fo=1");
    document.write("'><\/scr" + "ipt>");
    //]]>--></script>
    <noscript>
      <a href='http://media.mesto.ru/www/delivery/ck.php?n=a8e93a7a&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://media.mesto.ru/www/delivery/avw.php?zoneid=32&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a8e93a7a' border='0' alt=''/></a>
    </noscript>

    <!-- Третий баннер -->
    <script type='text/javascript'><!--//<![CDATA[
    var m3_u = (location.protocol == 'https:' ? 'https://media.mesto.ru/www/delivery/ajs.php' : 'http://media.mesto.ru/www/delivery/ajs.php');
    var m3_r = Math.floor(Math.random() * 99999999999);
    if (!document.MAX_used) document.MAX_used = ',';
    document.write("<scr" + "ipt type='text/javascript' src='" + m3_u);
    document.write("?zoneid=33&amp;block=1");
    document.write('&amp;cb=' + m3_r);
    if (document.MAX_used != ',') document.write("&amp;exclude=" + document.MAX_used);
    document.write(document.charset ? '&amp;charset=' + document.charset : (document.characterSet ? '&amp;charset=' + document.characterSet : ''));
    document.write("&amp;loc=" + escape(window.location));
    if (document.referrer) document.write("&amp;referer=" + escape(document.referrer));
    if (document.context) document.write("&context=" + escape(document.context));
    if (document.mmm_fo) document.write("&amp;mmm_fo=1");
    document.write("'><\/scr" + "ipt>");
    //]]>--></script>
    <noscript>
      <a href='http://media.mesto.ru/www/delivery/ck.php?n=a1c85eda&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://media.mesto.ru/www/delivery/avw.php?zoneid=33&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a1c85eda' border='0' alt=''/></a>
    </noscript>

    <!-- Четвёртый баннер -->
    <script type='text/javascript'><!--//<![CDATA[
    var m3_u = (location.protocol == 'https:' ? 'https://media.mesto.ru/www/delivery/ajs.php' : 'http://media.mesto.ru/www/delivery/ajs.php');
    var m3_r = Math.floor(Math.random() * 99999999999);
    if (!document.MAX_used) document.MAX_used = ',';
    document.write("<scr" + "ipt type='text/javascript' src='" + m3_u);
    document.write("?zoneid=34&amp;block=1");
    document.write('&amp;cb=' + m3_r);
    if (document.MAX_used != ',') document.write("&amp;exclude=" + document.MAX_used);
    document.write(document.charset ? '&amp;charset=' + document.charset : (document.characterSet ? '&amp;charset=' + document.characterSet : ''));
    document.write("&amp;loc=" + escape(window.location));
    if (document.referrer) document.write("&amp;referer=" + escape(document.referrer));
    if (document.context) document.write("&context=" + escape(document.context));
    if (document.mmm_fo) document.write("&amp;mmm_fo=1");
    document.write("'><\/scr" + "ipt>");
    //]]>--></script>
    <noscript>
      <a href='http://media.mesto.ru/www/delivery/ck.php?n=a1d66c55&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://media.mesto.ru/www/delivery/avw.php?zoneid=34&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a1d66c55' border='0' alt=''/></a>
    </noscript>

    <!-- Пятый баннер -->
    <script type='text/javascript'><!--//<![CDATA[
    var m3_u = (location.protocol == 'https:' ? 'https://media.mesto.ru/www/delivery/ajs.php' : 'http://media.mesto.ru/www/delivery/ajs.php');
    var m3_r = Math.floor(Math.random() * 99999999999);
    if (!document.MAX_used) document.MAX_used = ',';
    document.write("<scr" + "ipt type='text/javascript' src='" + m3_u);
    document.write("?zoneid=35&amp;block=1");
    document.write('&amp;cb=' + m3_r);
    if (document.MAX_used != ',') document.write("&amp;exclude=" + document.MAX_used);
    document.write(document.charset ? '&amp;charset=' + document.charset : (document.characterSet ? '&amp;charset=' + document.characterSet : ''));
    document.write("&amp;loc=" + escape(window.location));
    if (document.referrer) document.write("&amp;referer=" + escape(document.referrer));
    if (document.context) document.write("&context=" + escape(document.context));
    if (document.mmm_fo) document.write("&amp;mmm_fo=1");
    document.write("'><\/scr" + "ipt>");
    //]]>--></script>
    <noscript>
      <a href='http://media.mesto.ru/www/delivery/ck.php?n=abc49b60&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://media.mesto.ru/www/delivery/avw.php?zoneid=35&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=abc49b60' border='0' alt=''/></a>
    </noscript>

    <!-- Шестой баннер -->
    <script type='text/javascript'><!--//<![CDATA[
    var m3_u = (location.protocol == 'https:' ? 'https://media.mesto.ru/www/delivery/ajs.php' : 'http://media.mesto.ru/www/delivery/ajs.php');
    var m3_r = Math.floor(Math.random() * 99999999999);
    if (!document.MAX_used) document.MAX_used = ',';
    document.write("<scr" + "ipt type='text/javascript' src='" + m3_u);
    document.write("?zoneid=36&amp;block=1");
    document.write('&amp;cb=' + m3_r);
    if (document.MAX_used != ',') document.write("&amp;exclude=" + document.MAX_used);
    document.write(document.charset ? '&amp;charset=' + document.charset : (document.characterSet ? '&amp;charset=' + document.characterSet : ''));
    document.write("&amp;loc=" + escape(window.location));
    if (document.referrer) document.write("&amp;referer=" + escape(document.referrer));
    if (document.context) document.write("&context=" + escape(document.context));
    if (document.mmm_fo) document.write("&amp;mmm_fo=1");
    document.write("'><\/scr" + "ipt>");
    //]]>--></script>
    <noscript>
      <a href='http://media.mesto.ru/www/delivery/ck.php?n=a7cc5638&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://media.mesto.ru/www/delivery/avw.php?zoneid=36&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a7cc5638' border='0' alt=''/></a>
    </noscript>
  </div>
  <div class="adv-line adv-line-view-2 search-ads"><!-- если убрать класс adv-line-view-2 то будет другой вид - с рамкой -->
    <div class="frame-wrap">
      <iframe src="http://advstr.winner-group.ru/mesto.html" height="26px" width="100%" frameborder="0" scrolling="no" style="width:100%;"></iframe>
    </div>
    <div class="shadow"></div>
    <div class="r"></div>
  </div>
  <a class="adv-link" href="/price">Реклама</a>
</div>



<div class="pageHeader">
  <h1>Рейтинг риэлторов</h1>
</div>

<div class="contentLeft_02">
  <div class="favoritesObjects">

    <div class="sortBox_02">
      <form action="" method="get" class="favoritesForm">
        <fieldset>
          <div class="floatLeft">
            <select name="" class="select_06">
              <option selected="selected">Выберите регион</option>
            </select>
            <select name="select" class="select_06">
              <option selected="selected">Специализация</option>
            </select>
          </div>
          <div class="floatRight"><span class="formButton">
            <input name="input" type="submit" value="Найти"/>
            </span></div>
          <div class="clearBoth"></div>
        </fieldset>
      </form>
    </div>

    <div class="sortBox">
      <div class="floatLeft">
        <label> Сортировать по:
          <select name="" class="select_05">
            <option selected="selected">Рейтингу</option>
          </select>
        </label>
      </div>
      <div class="sortRight">
        <!--resultPageMenu start -->
        <ul class="resultPageMenu">
          <li><a href="#" class="previous" title="previous">previous</a></li>
          <li class="pageNumber">1/7</li>
          <li><a href="#" class="next" title="next">next</a></li>
        </ul>
        <!--resultPageMenu end -->
      </div>
      <div class="clearBoth"></div>
    </div>

    <div class="realty-scroller realtor-rate">
      <div class="realtor-info-box">

        <a href="#"><img src="http://flickholdr.com/50/50/portrait" alt="Placeholder image from flickholdr.com"/></a>

        <div class="realtor">
          <h3><a href="#">Дмитрий Романов</a></h3>
          <dl>
            <dt>Опыт работы:</dt>
            <dd>10 лет</dd>
          </dl>
          <dl class="rate">
            <dt>Рейтинг:</dt>
            <dd>854 <a class="plus-one" href="#">+1</a></dd>
          </dl>
        </div>

        <address>
          <strong>Телефон:</strong>
          <span>+7 (925) 453-34-22</span>
        </address>

        <span class="formButton"><input name="input" type="submit" value="Написать сообщение"></span>

        <a class="inner" href="#">Объекты риэлтора</a>

      </div>

      <div class="scroller">
        <a class="prev" href="#"></a>
        <div class="wrap"><div class="cut">
          <div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div><a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div>
        </div></div>
        <a class="next" href="#"></a>
      </div>
    </div>

    <div class="realty-scroller realtor-rate">
      <div class="realtor-info-box">

        <a href="#"><img src="http://flickholdr.com/50/50/portrait" alt="Placeholder image from flickholdr.com"/></a>

        <div class="realtor">
          <h3><a href="#">Дмитрий Романов</a></h3>
          <dl>
            <dt>Опыт работы:</dt>
            <dd>10 лет</dd>
          </dl>
          <dl class="rate">
            <dt>Рейтинг:</dt>
            <dd>854 <a class="plus-one" href="#">+1</a></dd>
          </dl>
        </div>

        <address>
          <strong>Телефон:</strong>
          <span>+7 (925) 453-34-22</span>
        </address>

        <span class="formButton"><input name="input" type="submit" value="Написать сообщение"></span>

        <a class="inner" href="#">Объекты риэлтора</a>

      </div>

      <div class="scroller">
        <a class="prev" href="#"></a>
        <div class="wrap"><div class="cut">
          <div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div><a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div>
        </div></div>
        <a class="next" href="#"></a>
      </div>
    </div>

    <div class="realty-scroller realtor-rate">
      <div class="realtor-info-box">

        <a href="#"><img src="http://flickholdr.com/50/50/portrait" alt="Placeholder image from flickholdr.com"/></a>

        <div class="realtor">
          <h3><a href="#">Дмитрий Романов</a></h3>
          <dl>
            <dt>Опыт работы:</dt>
            <dd>10 лет</dd>
          </dl>
          <dl class="rate">
            <dt>Рейтинг:</dt>
            <dd>854 <a class="plus-one" href="#">+1</a></dd>
          </dl>
        </div>

        <address>
          <strong>Телефон:</strong>
          <span>+7 (925) 453-34-22</span>
        </address>

        <span class="formButton"><input name="input" type="submit" value="Написать сообщение"></span>

        <a class="inner" href="#">Объекты риэлтора</a>

      </div>

      <div class="scroller">
        <a class="prev" href="#"></a>
        <div class="wrap"><div class="cut">
          <div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div><a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div>
        </div></div>
        <a class="next" href="#"></a>
      </div>
    </div>

  <div class="realty-scroller realtor-rate">
      <div class="realtor-info-box">

        <a href="#"><img src="http://flickholdr.com/50/50/portrait" alt="Placeholder image from flickholdr.com"/></a>

        <div class="realtor">
          <h3><a href="#">Дмитрий Романов</a></h3>
          <dl>
            <dt>Опыт работы:</dt>
            <dd>10 лет</dd>
          </dl>
          <dl class="rate">
            <dt>Рейтинг:</dt>
            <dd>854 <a class="plus-one" href="#">+1</a></dd>
          </dl>
        </div>

        <address>
          <strong>Телефон:</strong>
          <span>+7 (925) 453-34-22</span>
        </address>

        <span class="formButton"><input name="input" type="submit" value="Написать сообщение"></span>

        <a class="inner" href="#">Объекты риэлтора</a>

      </div>

      <div class="scroller">
        <a class="prev" href="#"></a>
        <div class="wrap"><div class="cut">
          <div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div><a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div>
        </div></div>
        <a class="next" href="#"></a>
      </div>
    </div>

  <div class="realty-scroller realtor-rate">
      <div class="realtor-info-box">

        <a href="#"><img src="http://flickholdr.com/50/50/portrait" alt="Placeholder image from flickholdr.com"/></a>

        <div class="realtor">
          <h3><a href="#">Дмитрий Романов</a></h3>
          <dl>
            <dt>Опыт работы:</dt>
            <dd>10 лет</dd>
          </dl>
          <dl class="rate">
            <dt>Рейтинг:</dt>
            <dd>854 <a class="plus-one" href="#">+1</a></dd>
          </dl>
        </div>

        <address>
          <strong>Телефон:</strong>
          <span>+7 (925) 453-34-22</span>
        </address>

        <span class="formButton"><input name="input" type="submit" value="Написать сообщение"></span>

        <a class="inner" href="#">Объекты риэлтора</a>

      </div>

      <div class="scroller">
        <a class="prev" href="#"></a>
        <div class="wrap"><div class="cut">
          <div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div><a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div>
        </div></div>
        <a class="next" href="#"></a>
      </div>
    </div>

    <div class="realty-scroller realtor-rate">
      <div class="realtor-info-box">

        <a href="#"><img src="http://flickholdr.com/50/50/portrait" alt="Placeholder image from flickholdr.com"/></a>

        <div class="realtor">
          <h3><a href="#">Дмитрий Романов</a></h3>
          <dl>
            <dt>Опыт работы:</dt>
            <dd>10 лет</dd>
          </dl>
          <dl class="rate">
            <dt>Рейтинг:</dt>
            <dd>854 <a class="plus-one" href="#">+1</a></dd>
          </dl>
        </div>

        <address>
          <strong>Телефон:</strong>
          <span>+7 (925) 453-34-22</span>
        </address>

        <span class="formButton"><input name="input" type="submit" value="Написать сообщение"></span>

        <a class="inner" href="#">Объекты риэлтора</a>

      </div>

      <div class="scroller">
        <a class="prev" href="#"></a>
        <div class="wrap"><div class="cut">
          <div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div><a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div>
        </div></div>
        <a class="next" href="#"></a>
      </div>
    </div>

    <div class="realty-scroller realtor-rate">
      <div class="realtor-info-box">

        <a href="#"><img src="http://flickholdr.com/50/50/portrait" alt="Placeholder image from flickholdr.com"/></a>

        <div class="realtor">
          <h3><a href="#">Дмитрий Романов</a></h3>
          <dl>
            <dt>Опыт работы:</dt>
            <dd>10 лет</dd>
          </dl>
          <dl class="rate">
            <dt>Рейтинг:</dt>
            <dd>854 <a class="plus-one" href="#">+1</a></dd>
          </dl>
        </div>

        <address>
          <strong>Телефон:</strong>
          <span>+7 (925) 453-34-22</span>
        </address>

        <span class="formButton"><input name="input" type="submit" value="Написать сообщение"></span>

        <a class="inner" href="#">Объекты риэлтора</a>

      </div>

      <div class="scroller">
        <a class="prev" href="#"></a>
        <div class="wrap"><div class="cut">
          <div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div><a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div>
        </div></div>
        <a class="next" href="#"></a>
      </div>
    </div>

    <div class="realty-scroller realtor-rate">
      <div class="realtor-info-box">

        <a href="#"><img src="http://flickholdr.com/50/50/portrait" alt="Placeholder image from flickholdr.com"/></a>

        <div class="realtor">
          <h3><a href="#">Дмитрий Романов</a></h3>
          <dl>
            <dt>Опыт работы:</dt>
            <dd>10 лет</dd>
          </dl>
          <dl class="rate">
            <dt>Рейтинг:</dt>
            <dd>854 <a class="plus-one" href="#">+1</a></dd>
          </dl>
        </div>

        <address>
          <strong>Телефон:</strong>
          <span>+7 (925) 453-34-22</span>
        </address>

        <span class="formButton"><input name="input" type="submit" value="Написать сообщение"></span>

        <a class="inner" href="#">Объекты риэлтора</a>

      </div>

      <div class="scroller">
        <a class="prev" href="#"></a>
        <div class="wrap"><div class="cut">
          <div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div><a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div>
        </div></div>
        <a class="next" href="#"></a>
      </div>
    </div>

    <div class="realty-scroller realtor-rate">
      <div class="realtor-info-box">

        <a href="#"><img src="http://flickholdr.com/50/50/portrait" alt="Placeholder image from flickholdr.com"/></a>

        <div class="realtor">
          <h3><a href="#">Дмитрий Романов</a></h3>
          <dl>
            <dt>Опыт работы:</dt>
            <dd>10 лет</dd>
          </dl>
          <dl class="rate">
            <dt>Рейтинг:</dt>
            <dd>854 <a class="plus-one" href="#">+1</a></dd>
          </dl>
        </div>

        <address>
          <strong>Телефон:</strong>
          <span>+7 (925) 453-34-22</span>
        </address>

        <span class="formButton"><input name="input" type="submit" value="Написать сообщение"></span>

        <a class="inner" href="#">Объекты риэлтора</a>

      </div>

      <div class="scroller">
        <a class="prev" href="#"></a>
        <div class="wrap"><div class="cut">
          <div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div><a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div>
        </div></div>
        <a class="next" href="#"></a>
      </div>
    </div>

    <div class="realty-scroller realtor-rate">
      <div class="realtor-info-box">

        <a href="#"><img src="http://flickholdr.com/50/50/portrait" alt="Placeholder image from flickholdr.com"/></a>

        <div class="realtor">
          <h3><a href="#">Дмитрий Романов</a></h3>
          <dl>
            <dt>Опыт работы:</dt>
            <dd>10 лет</dd>
          </dl>
          <dl class="rate">
            <dt>Рейтинг:</dt>
            <dd>854 <a class="plus-one" href="#">+1</a></dd>
          </dl>
        </div>

        <address>
          <strong>Телефон:</strong>
          <span>+7 (925) 453-34-22</span>
        </address>

        <span class="formButton"><input name="input" type="submit" value="Написать сообщение"></span>

        <a class="inner" href="#">Объекты риэлтора</a>

      </div>

      <div class="scroller">
        <a class="prev" href="#"></a>
        <div class="wrap"><div class="cut">
          <div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty01.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty04.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div>
            <a href="#"><img src="/images/realty02.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div><div><a href="#"><img src="/images/realty03.jpg" alt=""/>г. Москва, м. Марьино, ул. Донецкая, дом 19</a>
            <span>6 900 000 руб.</span>
          </div>
        </div></div>
        <a class="next" href="#"></a>
      </div>
    </div>

  </div>
</div>
<div class="contentRight_02">
  <div class="cabinetMenuBox realtorTopBoxYellow"> <!-- можно поставить класс realtorTopBox тогда все будет не желтым, а зеленым -->
    <div class="boxBack_02">
      <h2>Популярные риэлторы</h2>
    </div>

    <div class="realtor-top">
      <ul>
        <li>
          <a href="#" class="frame"><span><ins>1</ins></span><img src="http://flickholdr.com/72/97/portrait" alt=""/></a>
          <h3><a href="#">Дудоладов Павел</a></h3>
          г. Москва
        </li>
        <li>
          <a href="#" class="frame"><span><ins>2</ins></span><img src="http://flickholdr.com/72/97/portrait" alt=""/></a>
          <h3><a href="#">Чернова Олеся Сергеевна</a></h3>
          г. Москва
        </li>
        <li>
          <div class="frame"><span><ins>3</ins></span><img src="http://flickholdr.com/72/97/portrait" alt=""/></div>
          <h3><a href="#">Болезнов Михаил</a></h3>
          г. Москва
        </li>
        <li>
          <div class="frame"><span><ins>4</ins></span><img src="http://flickholdr.com/72/97/portrait" alt=""/></div>
          <h3><a href="#">Георгий Ищук</a></h3>
          г. Москва
        </li>
      </ul>
    </div>
  </div>






</div>

<div class="clearBoth"></div>
</div>
</div>
</div>
<div class="wrap">
</div>
<div class="district-description"></div>
<div id="footer">
  <div class="lining">
    <div class="col side">
      <p>© 2011. Все права защищены</p>
      <ul>
        <li><a href="/contacts">Контактная информация</a></li>
        <li><a href="/sitemap">Карта сайта</a></li>
        <li>
        </li>
      </ul>
    </div>
    <div class="col info">
      <h3><span></span>Справка</h3>
      <ul>
        <li><a href="/about">Что&nbsp;такое&nbsp;Место.ру?</a></li>
        <li><a href="/terms">Условия&nbsp;использования</a></li>
        <li><a href="/info">Как&nbsp;пользоваться&nbsp;Место.ру?</a></li>
      </ul>
    </div>

    <div class="col text">
      <h3><span></span>Тексты</h3>
      <ul>
        <li><a href="/77/news/news-market">Новости рынка</a></li>
        <li><a href="/77/posts/article">Статьи</a></li>
        <li><a href="/77/authors">Авторские колонки</a></li>
      </ul>
    </div>

    <div class="col search">
      <h3><span></span>Поиск</h3>
      <ul>
        <li>Квартиры <a href="/apartament-rent/77/search">в аренду</a><br/>
          и <a href="/apartament-sale/77/search">на продажу</a></li>
        <li>Дома <a href="/house-rent/77/search">в аренду</a><br/>
          и <a href="/house-sale/77/search">на продажу</a></li>
        <li>Коммерческая недвижимость
          <a href="/commercial-rent/77/search">в аренду</a><br/>
          и <a href="/commercial-sale/77/search">на продажу</a></li>
      </ul>
    </div>

    <div class="col profile">
      <h3><span></span>Личный кабинет</h3>
      <ul>

        <li class="out last"><a href="/user/logout">Выход</a></li>

        <li>
          <a class="" href="/lot/add">Добавить объявление</a></li>
      </ul>
    </div>

    <div class="col side">
      <a href="/terms">Пользовательское соглашение</a></div>
  </div>
  <div class="b"></div>
</div>
</div>
</div>
</body>
</html>