<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>


  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="name" content="г. Москва - найдено более 1000 квартир/комнат на продажу">
  <meta name="title" content="Место.ру - Квартира/комната на продажу г. Москва - Поиск">
  <title>Место.ру - Квартира/комната на продажу г. Москва - Поиск</title>
  <link rel="stylesheet" type="text/css" media="all" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" media="all" href="/css/main.css">
  <link rel="stylesheet" type="text/css" media="all" href="/css/user.css">
  <link rel="stylesheet" type="text/css" media="print" href="/css/print.css">
  <!--[if IE 6]>
    <script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/css/ie6.css"/>
  <![endif]-->
  <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" media="all" href="/css/ie7.css"/>
  <![endif]-->
  <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" media="all" href="/css/ie8.css"/>
  <![endif]-->
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/global.js"></script>
  <script type="text/javascript" src="/js/form.js"></script>
  <script type="text/javascript" src="/js/currency.js"></script>
  <script type="text/javascript" src="/js/gmap.js"></script>
  <script type="text/javascript" src="/js/search_002.js"></script>
  <script type="text/javascript" src="/js/maps"></script>
  <script src="/js/main.js" type="text/javascript"></script>
  <style type="text/css">@media print {
    .gmnoprint {
      display: none
    }
  }

  @media screen {
    .gmnoscreen {
      display: none
    }
  }</style>
  <script type="text/javascript" src="/js/search.js"></script>
  <link rel="shortcut icon" href="http://mesto.ru/images/favicon.ico">
  <script src="search_files/mod_dragmod_ctrapimod_api_gcmod_scrwhmod_kbrd.js" charset="UTF-8" type="text/javascript"></script>
</head>
<div firebugversion="1.5.3" style="display: none;" id="_firebugConsole"></div>
<body>

<div class="withtext" style="display: none;" id="global-loading"></div>
<div class="global">
<div class="contentBox">

<div class="headerBox">
<div class="header">
<ul class="topMenu">
  <li>Беляев Евгений</li>

  <li>
    <a href="/lot/add">Подать объявление</a></li>

  <li class="cabinet inner">
    <a href="#" toggle=".cabinetSubmenu" class="toggle">Мой кабинет</a>
    <ul class="cabinetSubmenu">
      <li class="">
        <a href="/lot/favourite">Избранное</a>
      </li>
      <li class="">
        <a href="/lot/add">Подать
          объявление</a></li>
      <li class="">
        <a href="/lot/my">Мои объявления</a>
      </li>
      <li class="">
        <a href="/user/pm">Мои сообщения</a>
      </li>
      <li class="">
        <a href="/user/profile">Профайл</a>
      </li>
      <li
          class="">
        <a
            href="/user/pm#c:create-pm$moderator:1">Обратная
          связь</a></li>
      <li class="">
        <a href="/lot/moderate">Модерация</a>
      </li>
      <li class="">
        <a href="/backend.php">Администрирование</a>
      </li>
    </ul>
  </li>
  <li class="out last"><a
      href="/user/logout">Выход</a></li>

</ul>
<div class="headerLeft">
<a class="logo"
   href="/apartament-sale/77/search"><img
    alt="Место.ру" src="search2_files/no-repeat.png"></a>

<div
    class="cityMenu" style="background: url(/images/region/77.gif) no-repeat scroll left top transparent;">
<a href="#" toggle=".cityMenu .outlinemenu" id="citySelect">
    <span>
            г. Москва          </span>
</a>

<div class="outlinemenu" style="display: none;">
<iframe class="select-hider" frameborder="0"></iframe>
<ul class="cityScroll">

<li rel="77" class="current" style="display: none;">
  <a
      href="/apartament-sale/77/search">г. Москва</a>
</li>

<li rel="78"><a
    href="/apartament-sale/78/search">г.
  Санкт-Петербург</a></li>

<li rel="50"><a
    href="/apartament-sale/50/search">Московская
  обл.</a></li>

<li rel="47"><a
    href="/apartament-sale/47/search">Ленинградская
  обл.</a></li>

<li rel="1"><a
    href="/apartament-sale/1/search">Адыгея</a></li>

<li rel="4"><a
    href="/apartament-sale/4/search">Алтай</a></li>

<li rel="22"><a
    href="/apartament-sale/22/search">Алтайский
  край</a></li>

<li rel="28"><a
    href="/apartament-sale/28/search">Амурская
  обл.</a></li>

<li rel="29"><a
    href="/apartament-sale/29/search">Архангельская
  обл.</a></li>

<li rel="30"><a
    href="/apartament-sale/30/search">Астраханская
  обл.</a></li>

<li rel="2"><a
    href="/apartament-sale/2/search">Башкортостан</a>
</li>

<li rel="31"><a
    href="/apartament-sale/31/search">Белгородская
  обл.</a></li>

<li rel="32"><a
    href="/apartament-sale/32/search">Брянская
  обл.</a></li>

<li rel="3"><a
    href="/apartament-sale/3/search">Бурятия</a>
</li>

<li rel="33"><a
    href="/apartament-sale/33/search">Владимирская
  обл.</a></li>

<li rel="34"><a
    href="/apartament-sale/34/search">Волгоградская
  обл.</a></li>

<li rel="35"><a
    href="/apartament-sale/35/search">Вологодская
  обл.</a></li>

<li rel="36"><a
    href="/apartament-sale/36/search">Воронежская
  обл.</a></li>

<li rel="5"><a
    href="/apartament-sale/5/search">Дагестан</a>
</li>

<li rel="79"><a
    href="/apartament-sale/79/search">Еврейская
  обл.</a></li>

<li rel="37"><a
    href="/apartament-sale/37/search">Ивановская
  обл.</a></li>

<li rel="6"><a
    href="/apartament-sale/6/search">Ингушетия</a>
</li>

<li rel="38"><a
    href="/apartament-sale/38/search">Иркутская
  обл.</a></li>

<li rel="7"><a
    href="/apartament-sale/7/search">Кабардино-Балкария</a>
</li>

<li rel="39"><a
    href="/apartament-sale/39/search">Калининградская
  обл.</a></li>

<li rel="8"><a
    href="/apartament-sale/8/search">Калмыкия</a>
</li>

<li rel="40"><a
    href="/apartament-sale/40/search">Калужская
  обл.</a></li>

<li rel="41"><a
    href="/apartament-sale/41/search">Камчатский
  край</a></li>

<li rel="9"><a
    href="/apartament-sale/9/search">Карачаево-Черкессия</a>
</li>

<li rel="42"><a
    href="/apartament-sale/42/search">Кемеровская
  обл.</a></li>

<li rel="10"><a
    href="/apartament-sale/10/search">Карелия</a>
</li>

<li rel="43"><a
    href="/apartament-sale/43/search">Кировская
  обл.</a></li>

<li rel="11"><a
    href="/apartament-sale/11/search">Коми</a></li>

<li rel="44"><a
    href="/apartament-sale/44/search">Костромская
  обл.</a></li>

<li rel="23"><a
    href="/apartament-sale/23/search">Краснодарский
  край</a></li>

<li rel="24"><a
    href="/apartament-sale/24/search">Красноярский
  край</a></li>

<li rel="45"><a
    href="/apartament-sale/45/search">Курганская
  обл.</a></li>

<li rel="46"><a
    href="/apartament-sale/46/search">Курская
  обл.</a></li>

<li rel="48"><a
    href="/apartament-sale/48/search">Липецкая
  обл.</a></li>

<li rel="49"><a
    href="/apartament-sale/49/search">Магаданская
  обл.</a></li>

<li rel="12"><a
    href="/apartament-sale/12/search">Марий Эл</a>
</li>

<li rel="13"><a
    href="/apartament-sale/13/search">Мордовия</a>
</li>

<li rel="51"><a
    href="/apartament-sale/51/search">Мурманская
  обл.</a></li>

<li rel="83"><a
    href="/apartament-sale/83/search">Ненецкий
  АО</a></li>

<li rel="52"><a
    href="/apartament-sale/52/search">Нижегородская
  обл.</a></li>

<li rel="53"><a
    href="/apartament-sale/53/search">Новгородская
  обл.</a></li>

<li rel="54"><a
    href="/apartament-sale/54/search">Новосибирская
  обл.</a></li>

<li rel="55"><a
    href="/apartament-sale/55/search">Омская
  обл.</a></li>

<li rel="56"><a
    href="/apartament-sale/56/search">Оренбургская
  обл.</a></li>

<li rel="57"><a
    href="/apartament-sale/57/search">Орловская
  обл.</a></li>

<li rel="58"><a
    href="/apartament-sale/58/search">Пензенская
  обл.</a></li>

<li rel="59"><a
    href="/apartament-sale/59/search">Пермский
  край</a></li>

<li rel="25"><a
    href="/apartament-sale/25/search">Приморский
  край</a></li>

<li rel="60"><a
    href="/apartament-sale/60/search">Псковская
  обл.</a></li>

<li rel="61"><a
    href="/apartament-sale/61/search">Ростовская
  обл.</a></li>

<li rel="62"><a
    href="/apartament-sale/62/search">Рязанская
  обл.</a></li>

<li rel="63"><a
    href="/apartament-sale/63/search">Самарская
  обл.</a></li>

<li rel="64"><a
    href="/apartament-sale/64/search">Саратовская
  обл.</a></li>

<li rel="14"><a
    href="/apartament-sale/14/search">Саха
  /Якутия/</a></li>

<li rel="65"><a
    href="/apartament-sale/65/search">Сахалинская
  обл.</a></li>

<li rel="66"><a
    href="/apartament-sale/66/search">Свердловская
  обл.</a></li>

<li rel="15"><a
    href="/apartament-sale/15/search">Северная
  Осетия</a></li>

<li rel="67"><a
    href="/apartament-sale/67/search">Смоленская
  обл.</a></li>

<li rel="26"><a
    href="/apartament-sale/26/search">Ставропольский
  край</a></li>

<li rel="68"><a
    href="/apartament-sale/68/search">Тамбовская
  обл.</a></li>

<li rel="16"><a
    href="/apartament-sale/16/search">Татарстан</a>
</li>

<li rel="69"><a
    href="/apartament-sale/69/search">Тверская
  обл.</a></li>

<li rel="70"><a
    href="/apartament-sale/70/search">Томская
  обл.</a></li>

<li rel="71"><a
    href="/apartament-sale/71/search">Тульская
  обл.</a></li>

<li rel="17"><a
    href="/apartament-sale/17/search">Тыва</a></li>

<li rel="72"><a
    href="/apartament-sale/72/search">Тюменская
  обл.</a></li>

<li rel="18"><a
    href="/apartament-sale/18/search">Удмуртия</a>
</li>

<li rel="73"><a
    href="/apartament-sale/73/search">Ульяновская
  обл.</a></li>

<li rel="27"><a
    href="/apartament-sale/27/search">Хабаровский
  край</a></li>

<li rel="19"><a
    href="/apartament-sale/19/search">Хакасия</a>
</li>

<li rel="86"><a
    href="/apartament-sale/86/search">Ханты-Мансийский
  АО</a></li>

<li rel="74"><a
    href="/apartament-sale/74/search">Челябинская
  обл.</a></li>

<li rel="20"><a
    href="/apartament-sale/20/search">Чечня</a></li>

<li rel="75"><a
    href="/apartament-sale/75/search">Забайкальский
  край</a></li>

<li rel="21"><a
    href="/apartament-sale/21/search">Чувашия</a>
</li>

<li rel="87"><a
    href="/apartament-sale/87/search">Чукотский
  АО</a></li>

<li rel="89"><a
    href="/apartament-sale/89/search">Ямало-Ненецкий
  АО</a></li>

<li rel="76"><a
    href="/apartament-sale/76/search">Ярославская
  обл.</a></li>
</ul>

</div>
</div>
</div>
<div class="headerRight">

  <form action="/apartament-sale/77/search" method="post">
    <fieldset>
      <input value="населенный пункт / метро / улица / ключевое слово"
             style="color: silver;" class="topSearchInput" name="q" init="населенный
пункт / метро / улица / ключевое слово" type="text">
      <button class="topSearchButton" type="submit" value="Найти">Найти</button>
    </fieldset>
  </form>
</div>
</div>
</div>

<div class="wrapper">
<ul class="globalMenu">
  <li class="active">
    <a href="/apartament-sale/77/search">КВАРТИРЫ<br>продажа</a>
  </li>
  <li class="">
    <a href="/apartament-rent/77/search">КВАРТИРЫ<br>аренда</a>
  </li>
  <li class="">
    <a href="/house-sale/77/search">ДОМА И
      УЧАСТКИ<br>продажа</a></li>
  <li class="">
    <a href="/house-rent/77/search">ДОМА<br>аренда</a>
  </li>
  <li class="">
    <a href="/commercial-sale/77/search">КОММЕРЧЕСКАЯ<br>продажа</a>
  </li>
  <li class="">
    <a href="/commercial-rent/77/search">КОММЕРЧЕСКАЯ<br>аренда</a>
  </li>
</ul>
<div class="pageHeader">

  <a class="viewCompareList"
     href="/compare/apartament-sale">Список
    сравнения <span class="count" style="display: none;"></span></a>

  <h1>Найдено 36 квартир/комнат на продажу</h1>
</div>


<div class="contentLeft_02">
<div class="searchObjectBox">
  <div class="boxBack_03"></div>
  <div class="boxBack_04">
    <form action="/search/get" method="post" class="searchObjectForm">

      <input name="q" id="q" value="" type="hidden"> <input
        name="region_id" id="region_id" value="77" type="hidden"> <input
        name="currency" id="currency" value="RUR" type="hidden"> <input
        name="latitude[from]" id="latitude_from" value="53.891391285752874"
        type="hidden"> <input name="latitude[to]" id="latitude_to"
                              value="58.15911242952296" type="hidden"> <input
        name="longitude[from]" id="longitude_from" value="26.4990234375"
        type="hidden"> <input name="longitude[to]" id="longitude_to"
                              value="43.13232421875" type="hidden">
      <input name="zoom"
             id="zoom" value="6" type="hidden"> <input name="map_maximized"
                                                       id="map_maximized" value="1" type="hidden">
      <input
          name="restrict_region" id="restrict_region" value="1" type="hidden">
      <input name="restore_custom" id="restore_custom"
             value="price[to]:RUR||1|,RUR||0|500000,RUR||0|1000000,RUR||0|2000000,RUR||0|3000000,RUR||0|4000000,RUR||0|5000000,RUR||0|6000000,RUR||0|7000000,RUR||0|8000000,RUR||0|9000000,RUR||0|10000000,RUR||0|15000000,RUR||0|20000000,RUR||0|25000000,RUR||0|30000000,RUR||0|35000000,RUR||0|40000000,RUR||0|45000000,RUR||0|50000000,RUR||0|60000000,RUR||0|70000000,RUR||0|80000000,RUR||0|90000000,RUR||0|100000000,RUR||0|200000000,RUR||0|300000000
price[from]:RUR||1|,RUR||0|500000,RUR||0|1000000,RUR||0|2000000,RUR||0|3000000,RUR||0|4000000,RUR||0|5000000,RUR||0|6000000,RUR||0|7000000,RUR||0|8000000,RUR||0|9000000,RUR||0|10000000,RUR||0|15000000,RUR||0|20000000,RUR||0|25000000,RUR||0|30000000,RUR||0|35000000,RUR||0|40000000,RUR||0|45000000,RUR||0|50000000,RUR||0|60000000,RUR||0|70000000,RUR||0|80000000,RUR||0|90000000,RUR||0|100000000,RUR||0|200000000,RUR||0|300000000
field[1][to]:RUR||1|,RUR||0|20,RUR||0|30,RUR||0|40,RUR||0|50,RUR||0|60,RUR||0|70,RUR||0|80,RUR||0|90,RUR||0|100,RUR||0|125,RUR||0|150,RUR||0|175,RUR||0|200,RUR||0|250,RUR||0|300
field[1][from]:RUR||1|,RUR||0|20,RUR||0|30,RUR||0|40,RUR||0|50,RUR||0|60,RUR||0|70,RUR||0|80,RUR||0|90,RUR||0|100,RUR||0|125,RUR||0|150,RUR||0|175,RUR||0|200,RUR||0|250,RUR||0|300"
             type="hidden"> <input name="restore_advanced"
                                   id="restore_advanced" value="" type="hidden">
      <input name="type" id="type" value="apartament-sale"
             type="hidden">
      <fieldset>
        <h3>Местоположение</h3>

        <div class="radioBox_01">
          <label>
            <input name="location-type" value="map"
                   checked="checked" type="radio">
            искать по карте
          </label><br>

          <label>
            <input name="location-type" value="form" type="radio">
            выбрать из списка
          </label>
        </div>

        <div style="opacity: 0.3;" class="metroBox">
          <a style="display: none;" href="#" class="link2
select-regionnode">метро/район/нас. пункт</a>
        </div>


        <div class="priceSelectBox">
          <ul class="currencyList">
            <li><a href="#" class="active" rel="RUR">p.</a></li>
            <li><a class="" href="#" rel="USD">$</a></li>
            <li><a class="" href="#" rel="EUR">€</a></li>
          </ul>

          <h3>Цена</h3>

          <div class="clearBoth"></div>

          <select name="price[from]" class="select_02">
            <option
                selected="selected" value="">от
            </option>
            <option value="500000">500 тыс.</option>
            <option
                value="1000000">1 млн.
            </option>
            <option value="2000000">2 млн.</option>
            <option
                value="3000000">3 млн.
            </option>
            <option value="4000000">4 млн.</option>
            <option
                value="5000000">5 млн.
            </option>
            <option value="6000000">6 млн.</option>
            <option
                value="7000000">7 млн.
            </option>
            <option value="8000000">8 млн.</option>
            <option
                value="9000000">9 млн.
            </option>
            <option value="10000000">10 млн.</option>
            <option
                value="15000000">15 млн.
            </option>
            <option value="20000000">20 млн.</option>
            <option
                value="25000000">25 млн.
            </option>
            <option value="30000000">30 млн.</option>
            <option
                value="35000000">35 млн.
            </option>
            <option value="40000000">40 млн.</option>
            <option
                value="45000000">45 млн.
            </option>
            <option value="50000000">50 млн.</option>
            <option
                value="60000000">60 млн.
            </option>
            <option value="70000000">70 млн.</option>
            <option
                value="80000000">80 млн.
            </option>
            <option value="90000000">90 млн.</option>
            <option
                value="100000000">100 млн.
            </option>
            <option value="200000000">200 млн.</option>
            <option
                value="300000000">300 млн.
            </option>
          </select>
          -
          <select name="price[to]" class="select_02">
            <option selected="selected"
                    value="">до
            </option>
            <option value="500000">500 тыс.</option>
            <option
                value="1000000">1 млн.
            </option>
            <option value="2000000">2 млн.</option>
            <option
                value="3000000">3 млн.
            </option>
            <option value="4000000">4 млн.</option>
            <option
                value="5000000">5 млн.
            </option>
            <option value="6000000">6 млн.</option>
            <option
                value="7000000">7 млн.
            </option>
            <option value="8000000">8 млн.</option>
            <option
                value="9000000">9 млн.
            </option>
            <option value="10000000">10 млн.</option>
            <option
                value="15000000">15 млн.
            </option>
            <option value="20000000">20 млн.</option>
            <option
                value="25000000">25 млн.
            </option>
            <option value="30000000">30 млн.</option>
            <option
                value="35000000">35 млн.
            </option>
            <option value="40000000">40 млн.</option>
            <option
                value="45000000">45 млн.
            </option>
            <option value="50000000">50 млн.</option>
            <option
                value="60000000">60 млн.
            </option>
            <option value="70000000">70 млн.</option>
            <option
                value="80000000">80 млн.
            </option>
            <option value="90000000">90 млн.</option>
            <option
                value="100000000">100 млн.
            </option>
            <option value="200000000">200 млн.</option>
            <option
                value="300000000">300 млн.
            </option>
          </select>
          <a href="#" class="link2 set-custom">Изменить значения</a>
        </div>
        <div class="squareBox">
          <h3>Площадь, м<sup>2</sup></h3>
          <select name="field[1][from]" id="field_1_from" class="select_02">
            <option
                value="" selected="selected">от
            </option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="60">60</option>
            <option value="70">70</option>
            <option value="80">80</option>
            <option value="90">90</option>
            <option value="100">100</option>
            <option value="125">125</option>
            <option value="150">150</option>
            <option value="175">175</option>
            <option value="200">200</option>
            <option value="250">250</option>
            <option value="300">300</option>
          </select> -
          <select name="field[1][to]" id="field_1_to" class="select_02">
            <option
                value="" selected="selected">до
            </option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="60">60</option>
            <option value="70">70</option>
            <option value="80">80</option>
            <option value="90">90</option>
            <option value="100">100</option>
            <option value="125">125</option>
            <option value="150">150</option>
            <option value="175">175</option>
            <option value="200">200</option>
            <option value="250">250</option>
            <option value="300">300</option>
          </select> <a href="#" class="link2 set-custom">Изменить значения</a>
        </div>

        <div class="roomsBox">
          <h3>Количество комнат</h3>
          <label><input name="field[54][or][]" value="комната" type="checkbox">
            комната</label>
          <br>
          <label><input name="field[54][or][]" value="1 комнатная квартира"
                        type="checkbox"> 1</label>
          <label><input name="field[54][or][]" value="2-х комнатная квартира"
                        type="checkbox"> 2</label>
          <label><input name="field[54][or][]" value="3-х комнатная квартира"
                        type="checkbox"> 3</label>
          <label><input name="field[54][or][]" value="4-х комнатная квартира"
                        type="checkbox"> 4</label>
          <label><input name="field[54][or][]" value="5+-?и комнатная квартира"
                        type="checkbox"> 5+</label>
          <br>
          <label><input name="field[54][or][]" value="квартира со свободной
планировкой" type="checkbox"> свободная планировка</label>
        </div>


        <div class="advancedSearch">
          <a href="#" class="advancedClose"><span>Расширенный поиск</span></a>

          <div class="boxBack_06" style="display: none;">
            <h3>Тип дома</h3>
            <select rating="3" name="field[6]" class="select_04" id="field_6">
              <option value="" selected="selected">Любой</option>
              <option value="Кирпичный">Кирпичный</option>
              <option value="Блочный">Блочный</option>
              <option value="Панельный">Панельный</option>
              <option value="Дерево">Дерево</option>
              <option value="Панельно-блочный">Панельно-блочный</option>
              <option value="Монолит">Монолит</option>
              <option value="Монолитно-кирпичный">Монолитно-кирпичный</option>
            </select>

            <h3>Год постройки/сдачи</h3>
            <input name="field[5][from]" class="input_03" type="text">
            -
            <input name="field[5][to]" class="input_03" type="text">
            <br>

            <div class="inputBox">
              <label>
                <input name="field[20][]" value="Подземная автостоянка"
                       type="checkbox">
                подземная автостоянка
              </label>
              <label>
                <input name="field[20][]" value="С отделкой" type="checkbox">
                с отделкой
              </label>
            </div>

            <div class="searchObjectButton">
              <span class="formButton"><input value="Найти" type="submit"></span>
            </div>

          </div>

        </div>
      </fieldset>


      <input name="sort" id="sort" value="rating-desc" type="hidden">
      <input name="page" id="page" value="1" type="hidden"> <input
        value="" name="referrer" type="hidden"></form>
  </div>
  <div class="boxBack_05"></div>

</div>


<div style="padding-top: 400px;" class="viewObjects">

<div class="sortBox text-search" style="display: none;">
  <a href="#" class="update-search-text">искать</a>
  <input name="q_text" id="q_text" type="text">
  <input name="q_text_enabled" id="q_text_enabled" value="1"
         checked="checked" type="checkbox"> <label for="q_text_enabled">учитывать
  текстовый поиск</label></div>

<div id="result" class="block-view">

<input name="res_title" id="res_title" value="найдено 36 квартир/комнат 
на продажу" type="hidden">

<a class="newObjectsInfo popup" rel="auth"
   href="/search/notify"><span>Информировать о
новых объектах в заданных условиях поиска</span></a>

<div class="sortBox">
  <div class="floatLeft">
    <select name="sort" class="select_05">
      <option selected="selected" value="rating-desc">по рейтингу ↓</option>
      <option value="rating-asc">по рейтингу ↑</option>
      <option value="date-desc">по дате ↓</option>
      <option value="date-asc">по дате ↑</option>
      <option value="address-asc">по адресу ↑</option>
      <option value="address-desc">по адресу ↓</option>
      <option value="size-asc">по площади ↑</option>
      <option value="size-desc">по площади ↓</option>
      <option value="price-asc">по цене ↑</option>
      <option value="price-desc">по цене ↓</option>
      <option value="seller-asc">по продавцу ↑</option>
      <option value="seller-desc">по продавцу ↓</option>
    </select>
  </div>

  <ul class="view-switch">
    <li><a class="action_09" href="#"></a></li>
    <li><a class="action_10" href="#"></a></li>
  </ul>

  <div class="sortRight">


    <ul class="resultPageMenu">
      <li>
        <a class="previous" rel="1"
           href="/search/get?hash=9d66262c389ae0e3deecbb37d5fb6164&amp;page=1">предыдущая</a>
      </li>
      <li class="pageNumber">
        1/4
      </li>
      <li>
        <a class="next" rel="2"
           href="/search/get?hash=9d66262c389ae0e3deecbb37d5fb6164&amp;page=2">следующая</a>
      </li>
    </ul>


    <ul class="currencyList">
      <li><a class="active" href="#" rel="RUR">p.</a></li>
      <li><a href="#" rel="USD">$</a></li>
      <li><a href="#" rel="EUR">€</a></li>
    </ul>
  </div>
  <div class="clearBoth"></div>
</div>


<div class="items-row-wrap">
  <div class="searchResultItem fl" latitude="55.7934287" longitude="37.5949144" rel="7422">
    <a class="resultImg" href=""><img src="http://flickholdr.com/214/140/buildings" alt=""/></a>
    <div class="padding_6">
      <h2><a href="#">г. Москва, м. Отрадное, Алтуфьевское ш., дом 42А</a></h2>
      <h3>14&nbsp;000&nbsp;000&nbsp;&nbsp;руб.</h3>
      <ul>
        <li>Жилая квартира;</li>
        <li>7 комнат;</li>
        <li>Площадь: 10 000 м2.</li>
      </ul>
    </div>
    <div class="boxBack_07">
      <div class="date">26.04.2010</div>

      <ul class="itemAction">
        <li>
          <noindex>
            <a class="post-toggle action_01" active="Из избранного" inactive="В избранное" title="В избранное" href="/lot/7422/favourite">В избранное</a>
          </noindex>
        </li>
        <li>
          <noindex>
            <a class="popup action_02" rel="auth" title="Оповещать об изменении цены" href="/lot/7422/notify">Оповещать об изменении цены</a>
          </noindex>
        </li>
        <li>
          <noindex><a class="post-toggle action_03" active="Из
списка сравнения" inactive="В список сравнения" title="В список
сравнения" href="/compare/toggle?id=7422">В
            список сравнения</a></noindex>
        </li>
        <li>
          <a class="show-map action_04" title="Показать на карте"
             href="/search/get">Показать на карте</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="searchResultItem fr" latitude="55.7934287" longitude="37.5949144" rel="7422">
    <a class="resultImg" href=""><img src="http://flickholdr.com/214/140/buildings" alt=""/></a>
    <div class="padding_6">
      <h2><a href="#">г. Москва, м. Авиамоторная, Осенняя, дом 2</a></h2>
      <h3>14&nbsp;000&nbsp;000&nbsp;&nbsp;руб.</h3>
      <ul>
        <li>Жилая квартира;</li>
        <li>7 комнат;</li>
        <li>Площадь: 10 000 м2.</li>
      </ul>
    </div>
    <div class="boxBack_07">
      <div class="date">26.04.2010</div>

      <ul class="itemAction">
        <li>
          <noindex>
            <a class="post-toggle action_01" active="Из избранного" inactive="В избранное" title="В избранное" href="/lot/7422/favourite">В избранное</a>
          </noindex>
        </li>
        <li>
          <noindex>
            <a class="popup action_02" rel="auth" title="Оповещать об изменении цены" href="/lot/7422/notify">Оповещать об изменении цены</a>
          </noindex>
        </li>
        <li>
          <noindex><a class="post-toggle action_03" active="Из
списка сравнения" inactive="В список сравнения" title="В список
сравнения" href="/compare/toggle?id=7422">В
            список сравнения</a></noindex>
        </li>
        <li>
          <a class="show-map action_04" title="Показать на карте"
             href="/search/get">Показать на карте</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="items-row-wrap">
  <div class="searchResultItem fl" latitude="55.7934287" longitude="37.5949144" rel="7422">
    <a class="resultImg" href=""><img src="http://flickholdr.com/214/140/buildings" alt="" /></a>
    <div class="padding_6">
      <h2><a href="#">Москва, м. Петровско-Разумовская, Софьи Ковалевской ул., 2 корп. 4</a></h2>
      <h3>14&nbsp;000&nbsp;000&nbsp;&nbsp;руб.</h3>
      <ul>
        <li>Жилая квартира;</li>
        <li>7 комнат;</li>
        <li>Площадь: 10 000 м2.</li>
      </ul>
    </div>
    <div class="boxBack_07">
      <div class="date">26.04.2010</div>

      <ul class="itemAction">
        <li>
          <noindex><a class="post-toggle action_01" active="Из избранного" inactive="В избранное" title="В избранное" href="/lot/7422/favourite">В избранное</a></noindex>
        </li>
        <li>
          <noindex><a class="popup action_02" rel="auth" title="Оповещать об изменении цены" href="/lot/7422/notify">Оповещать об изменении цены</a></noindex>
        </li>
        <li>
          <noindex><a class="post-toggle action_03" active="Из
  списка сравнения" inactive="В список сравнения" title="В список
  сравнения" href="/compare/toggle?id=7422">В
            список сравнения</a></noindex>
        </li>
        <li>
          <a class="show-map action_04" title="Показать на карте"
             href="/search/get">Показать на карте</a>
        </li>
      </ul>
    </div>
  </div>


  <div class="searchResultItem fr" latitude="55.7934287" longitude="37.5949144" rel="7422">
    <a class="resultImg" href=""><img src="http://flickholdr.com/214/140/buildings" alt="" /></a>
    <div class="padding_6">
      <h2><a href="#">г. Москва, м. Отрадное, Алтуфьевское ш., дом 42А</a></h2>
      <h3>14&nbsp;000&nbsp;000&nbsp;&nbsp;руб.</h3>
      <ul>
        <li>Жилая квартира;</li>
        <li>7 комнат;</li>
        <li>Площадь: 10 000 м2.</li>
      </ul>
    </div>
    <div class="boxBack_07">
      <div class="date">26.04.2010</div>

      <ul class="itemAction">
        <li>
          <noindex><a class="post-toggle action_01" active="Из избранного" inactive="В избранное" title="В избранное" href="/lot/7422/favourite">В избранное</a></noindex>
        </li>
        <li>
          <noindex><a class="popup action_02" rel="auth" title="Оповещать об изменении цены" href="/lot/7422/notify">Оповещать об изменении цены</a></noindex>
        </li>
        <li>
          <noindex><a class="post-toggle action_03" active="Из
  списка сравнения" inactive="В список сравнения" title="В список
  сравнения" href="/compare/toggle?id=7422">В
            список сравнения</a></noindex>
        </li>
        <li>
          <a class="show-map action_04" title="Показать на карте"
             href="/search/get">Показать на карте</a>
        </li>
      </ul>
    </div>
  </div>
</div><!-- .items-row-wrap -->













<div class="clearBoth"></div>


<div class="pagesNaviBox">
  <ul class="pagesNavi">

    <li>
      <a class="previous" rel="1"
         href="/search/get?hash=9d66262c389ae0e3deecbb37d5fb6164&amp;page=1">предыдущая</a>
    </li>
    <li><a class="active" rel="1"
           href="/search/get?hash=9d66262c389ae0e3deecbb37d5fb6164&amp;page=1">1</a>
    </li>
    <li><a rel="2"
           href="/search/get?hash=9d66262c389ae0e3deecbb37d5fb6164&amp;page=2">2</a>
    </li>
    <li><a rel="3"
           href="/search/get?hash=9d66262c389ae0e3deecbb37d5fb6164&amp;page=3">3</a>
    </li>
    <li><a rel="4"
           href="/search/get?hash=9d66262c389ae0e3deecbb37d5fb6164&amp;page=4">4</a>
    </li>
    <li>
      <a class="next" rel="2"
         href="/search/get?hash=9d66262c389ae0e3deecbb37d5fb6164&amp;page=2">следующая</a>
    </li>

    <li class="pageNumber">
      1/4
    </li>

  </ul>

  <div class="clearBoth"></div>
</div>

</div>
</div>
</div>

<div style="padding-top: 0px;" class="contentRight_02 search">

<div class="searchAddr expandable">
  <i></i>
  <form action="">
    <table>
      <colgroup><col width="135"/><col/><col width="70"/></colgroup>
      <tr>
        <td><label for="addr-search">Поиск по адресу:</label></td>
        <th><input type="text" name="" id="addr-search"/></th>
        <td><input type="submit" value="Найти"/></td>
      </tr>
    </table>
  </form>
</div>

<div class="searchMap">
<ul class="page-nav" id="pager-map">
  <li rel="prev">←&nbsp;предыдущие 10</li>
  <li rel="next"><a href="#"><span>следующие 10</span>&nbsp;→</a></li>
</ul>

<div class="aside-adv-box green-bordered-box">
  <a class="close" href="#">×</a>
  <div>
    <a href="http://media.mesto.ru/www/delivery/ck.php?oaparams=2__bannerid=78__zoneid=31__cb=18b87ac0bd__oadest=http%3A%2F%2Fwww.porpvdm.ru%2F" target="_blank">
      <img src="http://www.mesto.ru/uploads/content/SpecPredlojenie/moevro.jpg" alt="" width="144" height="106">
      <b>МО, г. Одинцово, вокзальный туп., дом 17</b>
    </a>
    <span>Квартира в клубном евродоме. <br> Цена 1 918 400  руб.</span>
  </div>
</div>

<div style="position: relative; background-color: rgb(229, 227,223);" id="search-gmap">
<div style="position: absolute; left: 0px; top:0px; overflow: hidden; width: 100%; height: 100%;">
  <div style="position:
 absolute; left: 0px; top: 0px; z-index: 0; cursor: -moz-grab;">
    <div
        style="position: absolute; left: 0px; top: 0px; display: none;">
      <div
          style="position: absolute; left: 0px; top: 0px; z-index: 0;"><img
          src="search2_files/transparent.png" style="position: absolute; left:
0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; 
border: 0px none; padding: 0px; margin: 0px;"><img
          src="search2_files/transparent.png" style="position: absolute; left:
0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; 
border: 0px none; padding: 0px; margin: 0px;"><img
          src="search2_files/transparent.png" style="position: absolute; left:
0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; 
border: 0px none; padding: 0px; margin: 0px;"><img
          src="search2_files/transparent.png" style="position: absolute; left:
0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; 
border: 0px none; padding: 0px; margin: 0px;"><img
          src="search2_files/transparent.png" style="position: absolute; left:
0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; 
border: 0px none; padding: 0px; margin: 0px;"><img
          src="search2_files/transparent.png" style="position: absolute; left:
0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; 
border: 0px none; padding: 0px; margin: 0px;"><img
          src="search2_files/transparent.png" style="position: absolute; left:
0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; 
border: 0px none; padding: 0px; margin: 0px;"><img
          src="search2_files/transparent.png" style="position: absolute; left:
0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; 
border: 0px none; padding: 0px; margin: 0px;"><img
          src="search2_files/transparent.png" style="position: absolute; left:
0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; 
border: 0px none; padding: 0px; margin: 0px;"><img
          src="search2_files/transparent.png" style="position: absolute; left:
0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; 
border: 0px none; padding: 0px; margin: 0px;"><img
          src="search2_files/transparent.png" style="position: absolute; left:
0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; 
border: 0px none; padding: 0px; margin: 0px;"><img
          src="search2_files/transparent.png" style="position: absolute; left:
0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; 
border: 0px none; padding: 0px; margin: 0px;"><img
          src="search2_files/transparent.png" style="position: absolute; left:
0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; 
border: 0px none; padding: 0px; margin: 0px;"><img
          src="search2_files/transparent.png" style="position: absolute; left:
0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; 
border: 0px none; padding: 0px; margin: 0px;"><img
          src="search2_files/transparent.png" style="position: absolute; left:
0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; 
border: 0px none; padding: 0px; margin: 0px;"></div>
    </div>
    <div
        style="position: absolute; left: 0px; top: 0px;">
      <div style="position:
absolute; left: 0px; top: 0px; z-index: 0;"><img
          src="search2_files/lyrsm126hlensrcapix36y18z6sGalile.png"
          style="position: absolute; left: -182px; top: -313px; width: 256px;
height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; 
margin: 0px;"><img
          src="search2_files/lyrsm126hlensrcapix36y19z6sGalileo.png"
          style="position: absolute; left: -182px; top: -57px; width: 256px;
height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; 
margin: 0px;"><img src="search2_files/lyrsm126hlensrcapix36y20z6s.png"
                   style="position: absolute; left: -182px; top: 199px; width: 256px;
height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; 
margin: 0px;"><img src="search2_files/lyrsm126hlensrcapix37y18z6sG.png"
                   style="position: absolute; left: 74px; top: -313px; width: 256px;
height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; 
margin: 0px;"><img src="search2_files/lyrsm126hlensrcapix37y19z6sGa.png"
                   style="position: absolute; left: 74px; top: -57px; width: 256px;
height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; 
margin: 0px;"><img
          src="search2_files/lyrsm126hlensrcapix37y20z6sGal.png" style="position:
absolute; left: 74px; top: 199px; width: 256px; height: 256px; 
-moz-user-select: none; border: 0px none; padding: 0px; margin: 0px;"><img
          src="search2_files/lyrsm126hlensrcapix38y18z6sGali.png"
          style="position: absolute; left: 330px; top: -313px; width: 256px;
height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; 
margin: 0px;"><img
          src="search2_files/lyrsm126hlensrcapix38y19z6sGalil.png"
          style="position: absolute; left: 330px; top: -57px; width: 256px;
height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; 
margin: 0px;"><img
          src="search2_files/lyrsm126hlensrcapix38y20z6sGalile.png"
          style="position: absolute; left: 330px; top: 199px; width: 256px;
height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; 
margin: 0px;"><img
          src="search2_files/lyrsm126hlensrcapix39y18z6sGalileo.png"
          style="position: absolute; left: 586px; top: -313px; width: 256px;
height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; 
margin: 0px;"><img src="search2_files/lyrsm126hlensrcapix39y19z6s.png"
                   style="position: absolute; left: 586px; top: -57px; width: 256px;
height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; 
margin: 0px;"><img src="search2_files/lyrsm126hlensrcapix39y20z6sG.png"
                   style="position: absolute; left: 586px; top: 199px; width: 256px;
height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; 
margin: 0px;"><img src="search2_files/lyrsm126hlensrcapix40y18z6sGa.png"
                   style="position: absolute; left: 842px; top: -313px; width: 256px;
height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; 
margin: 0px;"><img
          src="search2_files/lyrsm126hlensrcapix40y19z6sGal.png" style="position:
absolute; left: 842px; top: -57px; width: 256px; height: 256px; 
-moz-user-select: none; border: 0px none; padding: 0px; margin: 0px;"><img
          src="search2_files/lyrsm126hlensrcapix40y20z6sGali.png"
          style="position: absolute; left: 842px; top: 199px; width: 256px;
height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; 
margin: 0px;"></div>
    </div>
    <div style="position: absolute; left: 0px;
top: 0px; z-index: 100;"></div>
    <div style="position: absolute; left:
0px; top: 0px; z-index: 101;"></div>
    <div style="position: absolute;
left: 0px; top: 0px; z-index: 102;"><img class="gmnoprint"
                                         src="search2_files/marker-many-shadow.png" style="position: absolute;
left: 496px; top: 163px; width: 32px; height: 37px; -moz-user-select: 
none; border: 0px none; padding: 0px; margin: 0px; z-index: -178538976;"></div>
    <div
        style="position: absolute; left: 0px; top: 0px; z-index: 103;"></div>
    <div
        style="position: absolute; left: 0px; top: 0px; z-index: 104; cursor:
default;"><img id="mtgt_unnamed_8"
               src="search2_files/marker-many-hover.png" style="width: 25px; height:
37px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 
0px; position: absolute; left: 496px; top: 163px; z-index: -178538976; 
cursor: pointer;"></div>
    <div style="position: absolute; left: 0px; top:
0px; z-index: 105;"></div>
    <div style="position: absolute; left: 0px;
top: 0px; z-index: 106;"></div>
    <div style="position: absolute; left:
0px; top: 0px; z-index: 107; cursor: default;"></div>
  </div>
</div>
<div
    id="logocontrol" style="-moz-user-select: none; z-index: 0; position:
absolute; left: 2px; bottom: 2px;" class="gmnoprint"><a target="_blank"
                                                        href="http://maps.google.com/maps?ll=56.084298,34.82666&amp;spn=4.267721,16.633301&amp;z=6&amp;key=ABQIAAAAFenUZ1dWnutO1UanaakQ0BT_Le6hTfFDB2tIaX09e5KrJNjnPRSLCs7X_7sIeXLoUGcVjufxLPEdww&amp;sensor=true&amp;mapclient=jsapi&amp;oi=map_misc&amp;ct=api_logo"
                                                        title="Click to see this area on Google Maps"><img
    src="search2_files/poweredby.png" style="width: 62px; height: 30px;
-moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; 
cursor: pointer;"></a></div>
<div dir="ltr" style="-moz-user-select:
none; z-index: 0; position: absolute; right: 3px; bottom: 2px; color: 
black; font-family: Arial,sans-serif; font-size: 11px; white-space: 
nowrap; text-align: right;"><span>Map data ©2010  Geocentre Consulting, 
Tele Atlas - </span><a style="color: rgb(119, 119, 204);"
                       class="gmnoprint terms-of-use-link" target="_blank"
                       href="http://www.google.com/intl/en_ALL/help/terms_maps.html">Terms of
  Use</a><span></span></div>
<div id="lmc3d" class="gmnoprint"
     style="width: 59px; height: 232px; -moz-user-select: none; z-index: 0;
position: absolute; left: 7px; top: 7px; overflow: hidden; text-align: 
left;">
  <div style="position: absolute; left: 0px; top: 0px; width: 59px;
 height: 62px;">
    <div style="width: 59px; height: 62px; overflow: hidden;
 position: absolute; left: 0px; top: 0px;"><img
        src="search2_files/mapcontrols3d5.png" style="position: absolute; left:
0px; top: 0px; -moz-user-select: none; border: 0px none; padding: 0px; 
margin: 0px;"></div>
    <div log="pan_up" title="Pan up" style="position:
absolute; left: 20px; top: 0px; width: 18px; height: 18px; cursor: 
pointer;"></div>
    <div log="pan_lt" title="Pan left" style="position:
absolute; left: 0px; top: 20px; width: 18px; height: 18px; cursor: 
pointer;"></div>
    <div log="pan_rt" title="Pan right" style="position:
absolute; left: 40px; top: 20px; width: 18px; height: 18px; cursor: 
pointer;"></div>
    <div log="pan_down" title="Pan down" style="position:
absolute; left: 20px; top: 40px; width: 18px; height: 18px; cursor: 
pointer;"></div>
    <div log="center_result" title="Return to the last
result" style="position: absolute; left: 20px; top: 20px; width: 18px; 
height: 18px; cursor: pointer;"></div>
  </div>
  <div id="lmcslider"
       style="position: absolute; left: 0px; top: 62px; width: 59px; height:
140px; overflow: hidden; z-index: 1;">
    <div style="width: 59px; height:
292px; overflow: hidden;"><img src="search2_files/mapcontrols3d5.png"
                               style="position: absolute; left: 0px; top: -62px; -moz-user-select:
none; border: 0px none; padding: 0px; margin: 0px;"></div>
    <div
        title="Zoom In" style="position: absolute; left: 20px; top: 0px; width:
20px; height: 27px; cursor: pointer;"></div>
  </div>
  <div id="lmczo"
       style="position: absolute; left: 0px; top: 202px; width: 59px; height:
30px; text-align: left;">
    <div style="width: 59px; height: 30px;
overflow: hidden; position: absolute;"><img
        src="search2_files/mapcontrols3d5.png" style="position: absolute; left:
0px; top: -354px; -moz-user-select: none; border: 0px none; padding: 
0px; margin: 0px;"></div>
    <div title="Zoom Out" style="position:
absolute; left: 20px; top: 0px; width: 20px; height: 27px; cursor: 
pointer;"></div>
  </div>
  <div id="lmczb" style="position: absolute; left:
19px; top: 86px; width: 22px; height: 122px; cursor: pointer;">
    <div
        title="Drag to zoom" style="width: 22px; height: 14px; overflow: hidden;
 z-index: 2; position: absolute; left: 0px; top: 96px; cursor: 
-moz-grab;"><img src="search2_files/mapcontrols3d5.png" style="position:
 absolute; left: 0px; top: -384px; -moz-user-select: none; border: 0px 
none; padding: 0px; margin: 0px;"></div>
  </div>
</div>
<div id="hmtctl"
     class="gmnoprint" style="width: 200px; height: 18px; -moz-user-select:
none; z-index: 0; position: absolute; right: 7px; top: 7px; color: 
black; font-family: Arial,sans-serif; font-size: small;">
  <div
      jsaction="amtc.selectMap" title="Show street map" style="position:
absolute; background-color: white; border: 1px solid black; text-align: 
center; width: 5em; right: 10.2em; cursor: pointer;">
    <div
        style="font-size: 12px; border-width: 1px; border-style: solid;
border-color: rgb(52, 86, 132) rgb(108, 157, 223) rgb(108, 157, 223) 
rgb(52, 86, 132); font-weight: bold;">Map
    </div>
  </div>
  <div
      jsaction="amtc.selectSatellite" title="Show satellite imagery"
      style="position: absolute; background-color: white; border: 1px solid
black; text-align: center; width: 5em; right: 5.1em; cursor: pointer;">
    <div
        style="font-size: 12px; border-width: 1px; border-style: solid;
border-color: white rgb(176, 176, 176) rgb(176, 176, 176) white;">Satellite
    </div>
    <div
        jsaction="amtc.selectHybrid" title="Show imagery with street names"
        style="position: absolute; background-color: white; border: 1px solid
black; text-align: left; right: 0em; cursor: pointer; visibility: 
hidden; white-space: nowrap;">
      <div style="font-size: 11px; padding-left:
 2px; padding-right: 2px;"><input checked="checked"
                                  style="vertical-align: middle;" type="checkbox">Show labels
      </div>
    </div>
  </div>
  <div
      jsaction="amtc.selectTerrain" title="Show street map with terrain"
      style="position: absolute; background-color: white; border: 1px solid
black; text-align: center; width: 5em; right: 0em; cursor: pointer;">
    <div
        style="font-size: 12px; border-width: 1px; border-style: solid;
border-color: white rgb(176, 176, 176) rgb(176, 176, 176) white;">Terrain
    </div>
  </div>
</div>
<div
    id="scalecontrol" jstcache="0" class="gmnoprint" style="width: 122px;
height: 26px; -moz-user-select: none; z-index: 0; position: absolute; 
left: 68px; bottom: 5px; color: black; font-family: Arial,sans-serif; 
font-size: 11px;">
  <div jstcache="0">
    <div jsinstance="0" jstcache="1"
         style="overflow: hidden; position: absolute; left: 0px; top: 0px; width:
 4px; height: 26px;" jsselect="bars"
         jsvalues=".style.left:$this.left;.style.top:$this.top;.style.width:$this.width;.style.height:$this.height">
      <img
          src="search2_files/mapcontrols3d5.png" jstcache="3" style="border: 0px
none; margin: 0px; padding: 0px; position: absolute; left: 0px; top: 
-398px; width: 59px; height: 492px;"
          jsvalues=".style.left:$this.imgLeft;.style.top:$this.imgTop;.style.width:$this.imgWidth;.style.height:$this.imgHeight;.src:$this.imgSrc;">
    </div>
    <div
        jsinstance="1" jstcache="1" style="overflow: hidden; position:
absolute; left: 3px; top: 11px; width: 118px; height: 4px;"
        jsselect="bars"
        jsvalues=".style.left:$this.left;.style.top:$this.top;.style.width:$this.width;.style.height:$this.height">
      <img
          src="search2_files/mapcontrols3d5.png" jstcache="3" style="border: 0px
none; margin: 0px; padding: 0px; position: absolute; left: 0px; top: 
-424px; width: 118px; height: 492px;"
          jsvalues=".style.left:$this.imgLeft;.style.top:$this.imgTop;.style.width:$this.imgWidth;.style.height:$this.imgHeight;.src:$this.imgSrc;">
    </div>
    <div
        jsinstance="2" jstcache="1" style="overflow: hidden; position:
absolute; left: 121px; top: 11px; width: 1px; height: 4px;"
        jsselect="bars"
        jsvalues=".style.left:$this.left;.style.top:$this.top;.style.width:$this.width;.style.height:$this.height">
      <img
          src="search2_files/mapcontrols3d5.png" jstcache="3" style="border: 0px
none; margin: 0px; padding: 0px; position: absolute; left: -412px; top: 
-398px; width: 59px; height: 492px;"
          jsvalues=".style.left:$this.imgLeft;.style.top:$this.imgTop;.style.width:$this.imgWidth;.style.height:$this.imgHeight;.src:$this.imgSrc;">
    </div>
    <div
        jsinstance="3" jstcache="1" style="overflow: hidden; position:
absolute; left: 118px; top: 0px; width: 4px; height: 12px;"
        jsselect="bars"
        jsvalues=".style.left:$this.left;.style.top:$this.top;.style.width:$this.width;.style.height:$this.height">
      <img
          src="search2_files/mapcontrols3d5.png" jstcache="3" style="border: 0px
none; margin: 0px; padding: 0px; position: absolute; left: -4px; top: 
-398px; width: 59px; height: 492px;"
          jsvalues=".style.left:$this.imgLeft;.style.top:$this.imgTop;.style.width:$this.imgWidth;.style.height:$this.imgHeight;.src:$this.imgSrc;">
    </div>
    <div
        jsinstance="*4" jstcache="1" style="overflow: hidden; position:
absolute; left: 73px; top: 14px; width: 4px; height: 12px;"
        jsselect="bars"
        jsvalues=".style.left:$this.left;.style.top:$this.top;.style.width:$this.width;.style.height:$this.height">
      <img
          src="search2_files/mapcontrols3d5.png" jstcache="3" style="border: 0px
none; margin: 0px; padding: 0px; position: absolute; left: -8px; top: 
-398px; width: 59px; height: 492px;"
          jsvalues=".style.left:$this.imgLeft;.style.top:$this.imgTop;.style.width:$this.imgWidth;.style.height:$this.imgHeight;.src:$this.imgSrc;">
    </div>
    <div
        jsinstance="0" jstcache="2" style="position: absolute; left: 8px;
bottom: 16px;" jsselect="scales" jscontent="$this.title"
        jsvalues=".style.left:$this.left;.style.bottom:$this.bottom;.style.top:$this.top">100
      mi
    </div>
    <div jsinstance="*1" jstcache="2" style="position: absolute;
left: 8px; top: 15px;" jsselect="scales" jscontent="$this.title"
         jsvalues=".style.left:$this.left;.style.bottom:$this.bottom;.style.top:$this.top">100
      km
    </div>
  </div>
</div>
<div class="gmnoprint"
     id="search-gmap_magnifyingglass" style="width: 39px; height: 26px;
visibility: hidden; border: medium none; -moz-user-select: none; 
z-index: 0; position: absolute; left: 529px; top: 196px;">
  <div
      style="width: 6px; height: 4px; line-height: 1px; font-size: 1px;
border-width: 2px 0px 0px 2px; border-style: solid none none solid; 
border-color: rgb(255, 0, 0) -moz-use-text-color -moz-use-text-color 
rgb(255, 0, 0); position: absolute; left: 35px; top: 23px;"></div>
  <div
      style="width: 6px; height: 4px; line-height: 1px; font-size: 1px;
border-width: 2px 2px 0px 0px; border-style: solid solid none none; 
border-color: rgb(255, 0, 0) rgb(255, 0, 0) -moz-use-text-color 
-moz-use-text-color; position: absolute; left: 0px; top: 23px;"></div>
  <div
      style="width: 6px; height: 4px; line-height: 1px; font-size: 1px;
border-width: 0px 2px 2px 0px; border-style: none solid solid none; 
border-color: -moz-use-text-color rgb(255, 0, 0) rgb(255, 0, 0) 
-moz-use-text-color; position: absolute; left: 0px; top: 0px;"></div>
  <div
      style="width: 6px; height: 4px; line-height: 1px; font-size: 1px;
border-width: 0px 0px 2px 2px; border-style: none none solid solid; 
border-color: -moz-use-text-color -moz-use-text-color rgb(255, 0, 0) 
rgb(255, 0, 0); position: absolute; left: 35px; top: 0px;"></div>
</div>
<div
    class="gmnoprint" id="search-gmap_magnifyingglass" style="width: 39px;
height: 26px; visibility: hidden; border: medium none; -moz-user-select:
 none; z-index: 0; position: absolute; left: 529px; top: 196px;">
  <div
      style="width: 6px; height: 4px; line-height: 1px; font-size: 1px;
border-width: 2px 0px 0px 2px; border-style: solid none none solid; 
border-color: rgb(255, 0, 0) -moz-use-text-color -moz-use-text-color 
rgb(255, 0, 0); position: absolute; left: 35px; top: 23px;"></div>
  <div
      style="width: 6px; height: 4px; line-height: 1px; font-size: 1px;
border-width: 2px 2px 0px 0px; border-style: solid solid none none; 
border-color: rgb(255, 0, 0) rgb(255, 0, 0) -moz-use-text-color 
-moz-use-text-color; position: absolute; left: 0px; top: 23px;"></div>
  <div
      style="width: 6px; height: 4px; line-height: 1px; font-size: 1px;
border-width: 0px 2px 2px 0px; border-style: none solid solid none; 
border-color: -moz-use-text-color rgb(255, 0, 0) rgb(255, 0, 0) 
-moz-use-text-color; position: absolute; left: 0px; top: 0px;"></div>
  <div
      style="width: 6px; height: 4px; line-height: 1px; font-size: 1px;
border-width: 0px 0px 2px 2px; border-style: none none solid solid; 
border-color: -moz-use-text-color -moz-use-text-color rgb(255, 0, 0) 
rgb(255, 0, 0); position: absolute; left: 35px; top: 0px;"></div>
</div>
</div>
<div class="boxBack_01">
  <a href="#" class="searchOn searchOn-active active">Выключить
    поиск по карте</a>
  <a href="#" class="maximize maximize-active active">Свернуть</a>
      <span class="restrict-region">
        <input name="ck-restrict-region" id="ck-restrict-region"
               value="1" checked="checked" type="checkbox">        <label
          for="ck-restrict-region">Только в рамках региона</label>      </span>

  <div class="clearBoth"></div>
</div>
</div>


</div>

<div class="clearBoth"></div>

</div>
</div>
</div>

<div id="banner-footer">
</div>
<div class="footer">
  <div class="footerBox">
    <div class="copyright">
      © 2010. Все права защищены
    </div>
    <ul class="footerMenu">
      <li>
        <a href="/lot/add">Подать объявление</a>
      </li>

      <li>
        <a href="/about">Что&nbsp;такое&nbsp;Место.ру?</a>
      </li>
      <li>
        <a href="/terms">Условия&nbsp;использования</a>
      </li>
      <li>
        <a href="/info">Как&nbsp;пользоваться&nbsp;Место.ру?</a>
      </li>
    </ul>
  </div>
</div>
<div style="display: none; position: absolute;" id="jsts">
  <div>
    <div
        jstcache="0" id="sc_jstemplate">
      <div jstcache="1" style="overflow:
hidden; position: absolute;" jsselect="bars"
           jsvalues=".style.left:$this.left;.style.top:$this.top;.style.width:$this.width;.style.height:$this.height">
        <img
            jstcache="3" style="border: 0px none; margin: 0px; padding: 0px;
position: absolute;"
            jsvalues=".style.left:$this.imgLeft;.style.top:$this.imgTop;.style.width:$this.imgWidth;.style.height:$this.imgHeight;.src:$this.imgSrc;">
      </div>
      <div
          jstcache="2" style="position: absolute;" jsselect="scales"
          jscontent="$this.title"
          jsvalues=".style.left:$this.left;.style.bottom:$this.bottom;.style.top:$this.top"></div>
    </div>
  </div>
</div>
</body>
</html>