<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 6]>
<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
<link href="/css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<!--global start -->
<div class="global">
	<!--contentBox start -->
	<div class="contentBox">
		<!--header start -->
		<div class="headerBox">
			<div class="header">
				<div class="headerLeft"><a href="#" class="logo">domus</a>
					<!--sityMenu start -->
					<div class="cityMenu"> <a href="#"><span>Санкт-Петербург</span></a> </div>
					<!--sityMenu end -->
				</div>
				<div class="headerRight">
					<!--topMenu start -->
					<ul class="topMenu">
						<li>Петр Копейкин</li>
						<li class="cabinet"><a href="#">Мой кабинет</a></li>
						<li class="out"><a href="#">Выход</a></li>
					</ul>
					<!--topMenu end -->
					<!--topSearchForm start -->
					<form action="" method="get">
						<fieldset>
							<input type="text" value="Поиск по ключевому слову" onblur="if(this.value==''){this.value='Поиск по ключевому слову';}"
onfocus="if(this.value=='Поиск по ключевому слову'){this.value='';}" class="topSearchInput" />
							<button class="topSearchButton" type="submit" value="Найти">Найти</button>
						</fieldset>
					</form>
					<!--topSearchForm end -->
				</div>
			</div>
		</div>
		<!--header end -->
		<div class="wrapper">
			<!--globalMenu start -->
			<ul class="globalMenu">
				<li class="active"><a href="#">КВАРТИРЫ<br />
					продажа</a></li>
				<li><a href="#">КВАРТИРЫ<br />
					аренда</a></li>
				<li><a href="#">ДОМА И УЧАСТКИ<br />
					продажа</a></li>
				<li><a href="#">ДОМА И УЧАСТКИ<br />
					аренда</a></li>
				<li><a href="#">КОММЕРЧЕСКАЯ<br />
					продажа</a></li>
				<li><a href="#">КОММЕРЧЕСКАЯ<br />
					аренда</a></li>
			</ul>
			<!--globalMenu end -->
			<!--pageHeader start -->
			<div class="pageHeader"><a href="#" class="viewCompareList">Список сравнения</a>
				<h1>Заголовок страницы</h1>
			</div>
			<!--pageHeader end -->
			<!--contentLeft start -->
			<div class="contentLeft_02">
				<!--searchObjectBox start -->
				<div class="searchObjectBox">
					<div class="boxBack_03"></div>
					<div class="boxBack_04">
						<form action="" method="get" class="searchObjectForm">
							<fieldset>
								<h3>Искать</h3>
								<div class="radioBox_01">
									<label>
										<input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_0" />
										По местоположению</label>
									<br />
									<label>
										<input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_1" />
										По карте</label>
								</div>
								<div class="metroBox">
									<h3>Метро/район/нас. пункт</h3>
									<ul class="metroList">
										<li><a href="#">м.Краснопресненская</a></li>
										<li><a href="#">м.Краненская</a></li>
									</ul>
									<a href="#" class="link2">выбрать еще</a></div>
								<div class="priceSelectBox">
									<ul class="currencyList">
										<li><a href="#">p.</a></li>
										<li class="active"><a href="#">$</a></li>
										<li><a href="#">&euro;</a></li>
									</ul>
									<h3>Цена</h3>
									<div class="clearBoth"></div>
									<select name="" class="select_02">
									</select>
									-
									<select name="" class="select_02">
									</select>
									
									<a href="#" class="link2">Изменить значения</a> </div>						
								
							</fieldset>
						</form>
					</div>
					<div class="boxBack_05"></div>

          <div class="infoblock">
            <h3>Что такое Место.ру?</h3>
            <div class="content">
            <ul>
              <li>объявления добавляются вручную!</li>
              <li>нет старых объявлений</li>
              <li>контроль качества информации</li>
            </ul>
            </div>
            <div class="b"></div>
          </div>

          <div class="infoblock">
            <h3>Как пользоваться Место.ру?</h3>
            <div class="content">
              <ul class="iconofied">
                <li class="info-1"><a href="#">Как найти недвижимость в&nbsp;3&nbsp;клика?</a></li>
                <li class="info-2"><a href="#">Как подать объявление?</a></li>
                <li class="info-3"><a href="#">Как искать на&nbsp;карте?</a></li>
                <li class="info-4"><a href="#">Как сделать поиск удобнее?</a></li>
                <li class="info-5"><a href="#">Что такое &laquo;Мой кабинет&raquo;?</a></li>
              </ul>
            </div>
            <div class="b"></div>
          </div>

          <div class="grey-round-box grey-adv-box">
            <div class="tl rc"></div>
            <div class="tr rc"></div>
            <div class="content">
              <div>
                <a href="http://media.mesto.ru/www/delivery/ck.php?oaparams=2__bannerid=223__zoneid=31__cb=6b0b05d1a0__oadest=http%3A%2F%2Fwww.izamok.ru%2Fcover.html" target="_blank">
                <img src="http://mesto.ru/uploads/content/SpecPredlojenie/izgorod.jpg" alt="" width="144" height="106">
                <b>ЖК "Изумрудный замок" в центре Н.Новгорода</b>
                </a>
                <span>Дом сдан, премиум класс, свободные планировки,<br> пентхаусы, подземный паркинг<br>Цена от 75тыс.руб.за кв.м. Рассорчка. Ипотека<br>тел.: 8 (831) 413-62-62,<br>413-62-62</span>
              </div>
              <div>
                <a href="http://media.mesto.ru/www/delivery/ck.php?oaparams=2__bannerid=223__zoneid=31__cb=6b0b05d1a0__oadest=http%3A%2F%2Fwww.izamok.ru%2Fcover.html" target="_blank">
                <img src="http://mesto.ru/uploads/content/SpecPredlojenie/izgorod.jpg" alt="" width="144" height="106">
                <b>ЖК "Изумрудный замок" в центре Н.Новгорода</b>
                </a>
                <span>Дом сдан, премиум класс, свободные планировки,<br> пентхаусы, подземный паркинг<br>Цена от 75тыс.руб.за кв.м. Рассорчка. Ипотека<br>тел.: 8 (831) 413-62-62,<br>413-62-62</span>
              </div>
              <div>
                <a href="http://media.mesto.ru/www/delivery/ck.php?oaparams=2__bannerid=223__zoneid=31__cb=6b0b05d1a0__oadest=http%3A%2F%2Fwww.izamok.ru%2Fcover.html" target="_blank">
                <img src="http://mesto.ru/uploads/content/SpecPredlojenie/izgorod.jpg" alt="" width="144" height="106">
                <b>ЖК "Изумрудный замок" в центре Н.Новгорода</b>
                </a>
                <span>Дом сдан, премиум класс, свободные планировки,<br> пентхаусы, подземный паркинг<br>Цена от 75тыс.руб.за кв.м. Рассорчка. Ипотека<br>тел.: 8 (831) 413-62-62,<br>413-62-62</span>
              </div>
            </div>
            <div class="bl rc"></div>
            <div class="br rc"></div>
          </div>
				</div>
				<!--searchObjectBox end -->
				<!--viewObjects start -->
				<div class="viewObjects"> <a href="#" class="newObjectsInfo"><span>Информировать о новых объектах в этом разделе</span></a>
					<!--sortBox start -->
					<div class="sortBox">
						<div class="floatLeft">
							<label> Сортировать по:
								<select name="" class="select_05">
									<option selected="selected">Адресу</option>
								</select>
							</label>
						</div>
						<div class="sortRight">
							<!--resultPageMenu start -->
							<ul class="resultPageMenu">
								<li><a href="#" class="previous" title="previous">previous</a></li>
								<li class="pageNumber">1/7</li>
								<li><a href="#" class="next" title="next">next</a></li>
							</ul>
							<!--resultPageMenu end -->
							<ul class="currencyList">
								<li><a href="#">p.</a></li>
								<li class="active"><a href="#">$</a></li>
								<li><a href="#">&euro;</a></li>
							</ul>
						</div>
						<div class="clearBoth"></div>
					</div>
					<!--sortBox end -->

					<!--searchResultItem start -->
					<div class="searchResultItem">
						<div class="padding_6">
							<h2><a href="#">Дмитровский район, д. Петрушкино-Укропино</a></h2>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="searchResultTable">
								<tr>
									<td class="sr_01"><a href="#" class="resultImg"><img name="" src="images/pic/pic_03.jpg" width="84" height="62" alt="" /></a></td>
									<td class="sr_02"><p class="cena_01"><strong>150 000 000 р.</strong></p>
										ул. Миклухо-Маклая 141, к. 15/8</td>
									<td class="sr_03"><strong class="fontSize_13">Площадь: 1112 м&sup2;</strong><br />
										<p><strong>Этаж:</strong> 7/16<br />
											<strong>Число комнат:</strong> 2</p></td>
								</tr>
							</table>
						</div>
						<div class="boxBack_07">
							<div class="date">18.06.2009</div>
							<ul class="itemAction">
								<li><a href="#" class="action_01" title="actionName_01">1</a></li>
								<li><a href="#" class="action_02" title="actionName_02">2</a></li>
								<li><a href="#" class="action_03" title="actionName_03">3</a></li>
								<li><a href="#" class="action_04" title="actionName_04">4</a></li>
							</ul>
							<h3>Свекольная база</h3>
							<div class="clearBoth"></div>
						</div>
					</div>
					<!--searchResultItem end-->
          <div class="adv-line adv-line-view-2 search-ads">
            <div class="frame-wrap">
               <iframe src="http://advstr.winner-group.ru/mesto.html" height="26px" width="100%" frameborder="0" scrolling="no" style="width:100%;"></iframe>
            </div>
            <div class="shadow"></div>
            <div class="r"></div>
          </div>
					<!--searchResultItem start -->
					<div class="searchResultItem">
						<div class="padding_6">
							<h2><a href="#">Дмитровский район, д. Петрушкино-Укропино</a></h2>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="searchResultTable">
								<tr>
									<td class="sr_01"><a href="#" class="resultImg"><img name="" src="images/pic/pic_03.jpg" width="84" height="62" alt="" /></a></td>
									<td class="sr_02"><p class="cena_01"><strong>150 000 000 р.</strong></p>
										ул. Миклухо-Маклая 141, к. 15/8</td>
									<td class="sr_03"><strong class="fontSize_13">Площадь: 1112 м&sup2;</strong><br />
										<p><strong>Этаж:</strong> 7/16<br />
											<strong>Число комнат:</strong> 2</p></td>
								</tr>
							</table>
						</div>
						<div class="boxBack_07">
							<div class="date">18.06.2009</div>
							<ul class="itemAction">
								<li><a href="#" class="action_01" title="actionName_01">1</a></li>
								<li><a href="#" class="action_02" title="actionName_02">2</a></li>
								<li><a href="#" class="action_03" title="actionName_03">3</a></li>
								<li><a href="#" class="action_04" title="actionName_04">4</a></li>
							</ul>
							<h3>Свекольная база</h3>
							<div class="clearBoth"></div>
						</div>
					</div>
					<!--searchResultItem end-->
          <div class="adv-line adv-line-view-2 search-ads">
            <div class="frame-wrap">
               <iframe src="http://advstr.winner-group.ru/mesto.html" height="26px" width="100%" frameborder="0" scrolling="no" style="width:100%;"></iframe>
            </div>
            <div class="shadow"></div>
            <div class="r"></div>
          </div>
					<!--searchResultItem start -->
					<div class="searchResultItem">
						<div class="padding_6">
							<h2><a href="#">Дмитровский район, д. Петрушкино-Укропино</a></h2>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="searchResultTable">
								<tr>
									<td class="sr_01"><a href="#" class="resultImg"><img name="" src="images/pic/pic_03.jpg" width="84" height="62" alt="" /></a></td>
									<td class="sr_02"><p class="cena_01"><strong>150 000 000 р.</strong></p>
										ул. Миклухо-Маклая 141, к. 15/8</td>
									<td class="sr_03"><strong class="fontSize_13">Площадь: 1112 м&sup2;</strong><br />
										<p><strong>Этаж:</strong> 7/16<br />
											<strong>Число комнат:</strong> 2</p></td>
								</tr>
							</table>
						</div>
						<div class="boxBack_07">
							<div class="date">18.06.2009</div>
							<ul class="itemAction">
								<li><a href="#" class="action_01" title="actionName_01">1</a></li>
								<li><a href="#" class="action_02" title="actionName_02">2</a></li>
								<li><a href="#" class="action_03" title="actionName_03">3</a></li>
								<li><a href="#" class="action_04" title="actionName_04">4</a></li>
							</ul>
							<h3>Свекольная база</h3>
							<div class="clearBoth"></div>
						</div>
					</div>
					<!--searchResultItem end-->
					<div class="clearBoth"></div>
					<!--pagesNaviBox start -->
					<div class="pagesNaviBox">
						<ul class="pagesNavi">
							<li><a href="#" class="previous" title="previous">previous</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#" class="active">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#" class="next" title="next">next</a></li>
							<li class="pageNumber">3/7</li>
						</ul>
						<div class="clearBoth"></div>
					</div>
					<!--pagesNaviBox end -->
				</div>
				<!--viewObjects end -->
			</div>
			<!--contentLeft end -->
			<!--contentRight start -->
			<div class="contentRight_02">
				<!--mapPopup start -->
				<div class="mapPopup"> <a href="#" class="link3">Дмитровский район, д. Петрушкино-Укропино</a><a href="#" class="resultImg"><img name="" src="images/pic/pic_03.jpg" width="84" height="62" alt="" /></a>
					<ul class="popupList">
						<li>150 000 000 р.</li>
						<li>Площадь: 1112 м2</li>
						<li>Этаж: 7/16</li>
						<li>Число комнат: 2</li>
					</ul>
					<div class="clearBoth"></div>
					<a href="#" class="favorites">В избранное</a> <a href="#" class="compare">В список сравнения</a>
					<div class="clearBoth"></div>
				</div>
				<!--mapPopup end -->
				<!--searshMap start -->
				<div class="searchMap"> <img name="" src="images/pic/map2.gif" width="298" height="348" alt="" />
					<div class="boxBack_01"> <a href="#" class="searchOn">Включить поиск по карте</a> <a href="#" class="maximize">Расширить</a>
						<div class="clearBoth"></div>
					</div>
				</div>
				<!--searchMap end -->

        <div class="aside-adv-box green-bordered-box">
          <div>
            <a href="http://media.mesto.ru/www/delivery/ck.php?oaparams=2__bannerid=223__zoneid=31__cb=6b0b05d1a0__oadest=http%3A%2F%2Fwww.izamok.ru%2Fcover.html" target="_blank">
            <img src="http://mesto.ru/uploads/content/SpecPredlojenie/izgorod.jpg" alt="" width="144" height="106">
            <b>ЖК "Изумрудный замок" в центре Н.Новгорода</b>
            </a>
            <span>Дом сдан, премиум класс, свободные планировки,<br> пентхаусы, подземный паркинг<br>Цена от 75тыс.руб.за кв.м. Рассорчка. Ипотека<br>тел.: 8 (831) 413-62-62,<br>413-62-62</span>
          </div>
          <div>
            <a href="http://media.mesto.ru/www/delivery/ck.php?oaparams=2__bannerid=223__zoneid=31__cb=6b0b05d1a0__oadest=http%3A%2F%2Fwww.izamok.ru%2Fcover.html" target="_blank">
            <img src="http://mesto.ru/uploads/content/SpecPredlojenie/izgorod.jpg" alt="" width="144" height="106">
            <b>ЖК "Изумрудный замок" в центре Н.Новгорода</b>
            </a>
            <span>Дом сдан, премиум класс, свободные планировки,<br> пентхаусы, подземный паркинг<br>Цена от 75тыс.руб.за кв.м. Рассорчка. Ипотека<br>тел.: 8 (831) 413-62-62,<br>413-62-62</span>
          </div>
          <div>
            <a href="http://media.mesto.ru/www/delivery/ck.php?oaparams=2__bannerid=223__zoneid=31__cb=6b0b05d1a0__oadest=http%3A%2F%2Fwww.izamok.ru%2Fcover.html" target="_blank">
            <img src="http://mesto.ru/uploads/content/SpecPredlojenie/izgorod.jpg" alt="" width="144" height="106">
            <b>ЖК "Изумрудный замок" в центре Н.Новгорода</b>
            </a>
            <span>Дом сдан, премиум класс, свободные планировки,<br> пентхаусы, подземный паркинг<br>Цена от 75тыс.руб.за кв.м. Рассорчка. Ипотека<br>тел.: 8 (831) 413-62-62,<br>413-62-62</span>
          </div>
        </div>

			</div>
			<!--contentRight end -->
			<div class="clearBoth"></div>
		</div>
	</div>
	<!--contentBox end -->
</div>

<div class="seo-text">
  <div class="cols3-seo">
    <p>
      Покупка квартиры может стать непреходящей головной болью или простым решением, 
      которое не отнимет много времени. Используя в качестве путеводителя базу данных, 
      можно в короткий срок и без нечеловеческих усилий выбрать квартиру свой мечты.
    </p>
    <p>
      Как правило, существует два решения такой проблемы, как покупка квартиры в Москве. 
      Первый, «дедовский» способ – объявления, которые начинаются неизменным словом «Куплю». 
      Такой путь требует много времени и не меньше финансовых вложений. К тому же, 
      таким образом, вы информируете каждого о том, что у вас есть определенная сумма 
      денег! А в наше время, сведения подобного рода могут заинтересовать различных 
      мошенников, которые помогут вам благополучно расстаться с накопленными 
      сбережениями. Второй способ – в судорожном темпе бегать по риэлтерским 
      конторам в поисках подходящего варианта. Опять-таки, поиск своей мечты 
      отнимет столько душевных сил, что вы, в итоге, передумаете покупать квартиру. 
      А мы предлагаем вам использовать тщательно организованную базу данных, не выходя
    </p>
  </div><!-- .cols3-seo -->
  
  <div class="cols3-seo">
    <p>
      из дома,  чтобы подобрать оптимальный вариант. Периодическое обновление 
      баз данных поможет быть в курсе всех предложений и сделать правильный выбор. 
      Вы можете подобрать уютные однокомнатные квартиры в Москве или просторные 
      трех- и четырехкомнатные квартиры в Подмосковье. Чтобы сэкономить ваше 
      время, мы создали несколько фильтров, которые помогут быстро подобрать 
      желаемое жилье. Поиск ведется по заданным параметрам, учитываются важные 
      аспекты покупки: стоимость, месторасположение, этаж и общая площадь жилья. 
      Детальный подход к каждому объекту поможет решить такую сложную задачу, 
      как покупка квартиры в Москве.
    </p>
    <p>
      Между прочим, однокомнатные квартиры в Москве ценятся больше всех остальных, 
      как впрочем, и в любом другом городе страны. На фоне нынешнего экономического 
      кризиса такие предложения не задерживаются долго на досках объявлений. 
      Поэтому, использование постоянно обновляемых баз данных, поможет вам в 
      числе первых узнать о выгодном предложении и быть в курсе таких важных 
      вещей, как стоимость квартир в Москве.
    </p>
  </div><!-- .cols3-seo -->
  
  <div class="cols3-seo cols3-seo-last">
    <p>
      Когда разговор заходит о стоимости, то не всем понятно как складывается 
      цена метра, Москва живет по тем же законам недвижимости, что и весь 
      остальной мир, поэтому цена за квадрат жилплощади складывается из множества 
      взаимозависимых факторов. В первую очередь, конечно же, в расчет берется округ, 
      в котором расположена квартира. К примеру, однокомнатные квартиры в Центральном 
      округе будут в несколько раз дороже, чем их собратья в Южном округе. Так же на 
      стоимость квартир в Москве влияет тип дома, возраст постройки и окружающая 
      инфраструктура. На сегодняшний день 5 тысяч долларов – средняя цена метра; 
      Москва, к сожалению, все еще остается одним из самых дорогих городов России.
    </p>
    <p>
      Покупка квартиры в Москве, да и вообще в любом другом городе, это 
      серьезное и значительное решение. Поэтому важно рассмотреть все возможные 
      варианты, чтобы выбрать ту квартиру, о покупке которой впоследствии не придется жалеть.
    </p>
  </div><!-- .cols3-seo -->

</div><!-- .seo-text -->

<!--global end -->
<!--footer start -->
<div class="footer">
	<div class="footerBox">
		<div class="copyright">&copy; 2009. Все права защищены</div>
		<!--footerMenu start -->
		<ul class="footerMenu">
			<li><a href="#">О&nbsp;проекте</a></li>
			<li class="active"><a href="#">Информация</a></li>
			<li><a href="#">Помощь</a></li>
			<li><a href="#">Реклама&nbsp;на&nbsp;проекте</a></li>
		</ul>
		<!--footerMenu end -->
	</div>
</div>
<!--footer end -->
</body>
</html>
