<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="X-Ua-Compatible" content="IE=8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="title" content="Новости - Новости рынка"/>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <title>Новости - Новости рынка</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="/css/reset.css?1293087790"/>
  <link rel="stylesheet" type="text/css" media="all"
        href="/css/main.css?1298535054"/>
  <link rel="stylesheet" type="text/css" media="all"
        href="/css/user.css?1293087689"/>

  <link rel="stylesheet" type="text/css" media="all"
        href="/css/metro.css?1298544918"/>
  <link rel="stylesheet" type="text/css" media="print"
        href="/css/print.css?1293087815"/>
  <script type="text/javascript" src="/js/jquery.js?1297170053"></script>
  <script type="text/javascript" src="/js/global.js?1298036368"></script>
  <script type="text/javascript" src="/js/form.js?1298036363"></script>
  <script type="text/javascript" src="/js/metro.js?1298553349"></script>
  <script type="text/javascript" src="/js/news_portal.js?1298036374"></script>
  <script type="text/javascript" src="/js/homepage.js?1297170053"></script>
  <link rel="shortcut icon" href="/images/favicon.ico"/>

</head>
<body id="front">
<div id="homepage_header">
</div>

  <div class="header_counters">
  </div>

<div id="bg">
<div id="container">
<div id="global-loading"></div>
<div id="header">
  <a class="popup new-insertion" rel="loginwindow"
     href="/user/login?forward=%2Flot%2Fadd">Добавить
    объявление<span></span></a>
  <ul class="login-nav">


    <li>
      <a class="popup" rel="reg" p="register"
         href="/user/register">Регистрация</a></li>
    <li>
      <a class="enter popup" rel="loginwindow" p="login" href="/user/login">Вход<span></span></a>
    </li>
  </ul>
  <a class="logo" href="/77/main"><img alt="Место.ру"
                                       src="/images/no-repeat.png"/></a>

  <div class="cityMenu"
       style="background: url('/images/region/77.gif') no-repeat left top">
    <a href="#" toggle=".cityMenu .outlinemenu" id="citySelect">

      <span>г. Москва</span>
    </a>

    <div class="outlinemenu" style="display: none">
      <iframe class="select-hider" frameborder="0"></iframe>
      <ul class="cityScroll">

        <li rel="77" class="current" style="display: none">
          <a href="/77/news/news-market">г. Москва</a></li>


        <li rel="50"><a href="/50/news/news-market">Московская обл.</a></li>

        <li rel="28"><a href="/28/news/news-market">Амурская обл.</a></li>

        <li rel="2"><a href="/2/news/news-market">Башкортостан</a></li>

        <li rel="31"><a href="/31/news/news-market">Белгородская обл.</a></li>

        <li rel="78"><a href="/78/news/news-market">г. Санкт-Петербург</a></li>

        <li rel="3"><a href="/3/news/news-market">Бурятия</a></li>


        <li rel="34"><a href="/34/news/news-market">Волгоградская обл.</a></li>

        <li rel="35"><a href="/35/news/news-market">Вологодская обл.</a></li>

        <li rel="37"><a href="/37/news/news-market">Ивановская обл.</a></li>

        <li rel="6"><a href="/6/news/news-market">Ингушетия</a></li>

        <li rel="40"><a href="/40/news/news-market">Калужская обл.</a></li>

        <li rel="23"><a href="/23/news/news-market">Краснодарский край</a></li>


        <li rel="12"><a href="/12/news/news-market">Марий Эл</a></li>

        <li rel="61"><a href="/61/news/news-market">Ростовская обл.</a></li>

        <li rel="15"><a href="/15/news/news-market">Северная Осетия</a></li>

        <li rel="86"><a href="/86/news/news-market">Ханты-Мансийский АО</a></li>

        <li rel="20"><a href="/20/news/news-market">Чечня</a></li>

        <li rel="75"><a href="/75/news/news-market">Забайкальский край</a></li>

      </ul>

    </div>
  </div>
  <ul class="top-nav">
    <li class="inner current">
      <a href="#"><em><span>Новости <var></var></span></em></a>

      <div class="corner"></div>
      <div class="dropbox">
        <div class="dropbox-wrap">

          <ul>
            <li><a href="/77/news/news-market">Новости рынка</a></li>
            <li><a href="/77/news/news-portal">Новости портала</a></li>
            <li><a href="/77/news/news-companies">Новости компаний</a></li>
          </ul>
          <div class="dropbox-cn dropbox-tl"></div>
          <div class="dropbox-cn dropbox-tr"></div>

        </div>
        <div class="dropbox-cn dropbox-bl"></div>
        <div class="dropbox-cn dropbox-br"></div>
      </div>
    </li>
    <li>
      <a href="/77/posts/article"><em>Статьи</em></a></li>
    <li>

      <a href="/77/posts/analytics"><em>Аналитика</em></a></li>
    <li class="inner "><a
        href="#"><em><span>Эксперты <var></var></span></em></a>

      <div class="corner"></div>
      <div class="dropbox">
        <div class="dropbox-wrap">
          <ul>
            <li><a href="/77/experts">Экспертные мнения</a></li>

            <li><a href="/77/authors">Авторские колонки</a></li>
          </ul>
          <div class="dropbox-cn dropbox-tl"></div>
          <div class="dropbox-cn dropbox-tr"></div>
        </div>
        <div class="dropbox-cn dropbox-bl"></div>
        <div class="dropbox-cn dropbox-br"></div>
      </div>

    </li>
    <li class="inner "><a
        href="#"><em><span>Рейтинги <var></var></span></em></a>

      <div class="corner"></div>
      <div class="dropbox">
        <div class="dropbox-wrap">
          <ul>
            <li><a href="/rating/company">Рейтинги компаний</a></li>
            <li><a href="/rating/realtor">Рейтинги риэлторов</a></li>

          </ul>
          <div class="dropbox-cn dropbox-tl"></div>
          <div class="dropbox-cn dropbox-tr"></div>
        </div>
        <div class="dropbox-cn dropbox-bl"></div>
        <div class="dropbox-cn dropbox-br"></div>
      </div>
    </li>
    <li class="inner "><a href="#"><em><span>Еще <var></var></span></em></a>

      <div class="corner"></div>
      <div class="dropbox">
        <div class="dropbox-wrap">
          <ul>
            <li><a href="/77/posts/events">События</a></li>
            <li><a href="/questionnaire">Опросы</a></li>
            <li><a href="/77/qa">Вопрос&amp;Ответ</a></li>

            <li><a href="/info">О Место.ру</a></li>
          </ul>
          <div class="dropbox-cn dropbox-tl"></div>
          <div class="dropbox-cn dropbox-tr"></div>
        </div>
        <div class="dropbox-cn dropbox-bl"></div>
        <div class="dropbox-cn dropbox-br"></div>
      </div>

    </li>
  </ul>
</div>

<div id="wrapper">
<ul class="innerGlobalMenu">
  <li class="first ">
    <a href="/apartament-sale/77/search">КВАРТИРЫ<br/>продажа</a></li>
  <li class=" ">

    <a href="#" class="no-click">КВАРТИРЫ<br/>аренда</a>
  </li>
  <li class=" ">
    <a href="/house-sale/77/search">ДОМА И УЧАСТКИ<br/>продажа</a></li>
  <li class=" ">
    <a href="#" class="no-click">ДОМА<br/>аренда</a>
  </li>

  <li class=" ">
    <a href="/commercial-sale/77/search">КОММЕРЧЕСКАЯ<br/>продажа</a></li>
  <li class="last ">
    <a href="#" class="no-click">КОММЕРЧЕСКАЯ<br/>аренда</a>
  </li>
</ul>
<div class="index-adv-teaser">

  <div class="wrap">

  </div>



</div>
<div id="content">
  <div class="sitemap-box">
    <h1>Московская область, Волоколамский район</h1>
    <ul>
      <li><a href="#">Квартира/комната на продажу - Московская обл., Волоколамский р-н</a></li>
      <li><a href="#">Квартира/комната в аренду - Московская обл., Волоколамский р-н</a></li>
      <li><a href="#">Дом/участок на продажу - Московская обл., Волоколамский р-н</a></li>
      <li><a href="#">Дом в аренду - Московская обл., Волоколамский р-н</a></li>
      <li><a href="#">Коммерческая недвижимость на продажу - Московская обл., Волоколамский р-н</a></li>
      <li><a href="#">Коммерческая недвижимость в аренду - Московская обл., Волоколамский р-н</a></li>
    </ul>

  </div><!-- .sitemap -->

</div><!-- #content -->
<div id="aside">
  <p>Тут типа яндекс.директ реклама</p>
</div><!-- #aside -->
</div>

<div class="wrap">
  <div id="banner-footer">

    <script type='text/javascript'><!--//<![CDATA[
    var m3_u = (location.protocol == 'https:' ? 'https://media.mesto.ru/www/delivery/ajs.php' : 'http://media.mesto.ru/www/delivery/ajs.php');
    var m3_r = Math.floor(Math.random() * 99999999999);
    if (!document.MAX_used) document.MAX_used = ',';
    document.write("<scr" + "ipt type='text/javascript' src='" + m3_u);
    document.write("?zoneid=17");
    document.write('&amp;cb=' + m3_r);
    if (document.MAX_used != ',') document.write("&amp;exclude=" + document.MAX_used);
    document.write(document.charset ? '&amp;charset=' + document.charset : (document.characterSet ? '&amp;charset=' + document.characterSet : ''));
    document.write("&amp;loc=" + escape(window.location));
    if (document.referrer) document.write("&amp;referer=" + escape(document.referrer));
    if (document.context) document.write("&context=" + escape(document.context));
    if (document.mmm_fo) document.write("&amp;mmm_fo=1");
    document.write("'><\/scr" + "ipt>");
    //]]>--></script>
    <noscript><a
        href='http://media.mesto.ru/www/delivery/ck.php?n=a6d9ca9c&amp;cb=INSERT_RANDOM_NUMBER_HERE'
        target='_blank'><img
        src='http://media.mesto.ru/www/delivery/avw.php?zoneid=17&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a6d9ca9c'
        border='0' alt=''/></a></noscript>

  </div>
</div>
<div id="footer">
  <div class="lining">
    <div class="col side">
      <p>© 2011. Все права защищены</p>
      <ul>
        <li><a href="/contacts">Контактная информация</a></li>
        <li><a href="/sitemap">Карта сайта</a></li>

        <li>
        </li>
      </ul>
    </div>
    <div class="col info">
      <h3><span></span>Справка</h3>
      <ul>
        <li><a href="/about">Что&nbsp;такое&nbsp;Место.ру?</a></li>

        <li><a href="/terms">Условия&nbsp;использования</a></li>
        <li><a href="/info">Как&nbsp;пользоваться&nbsp;Место.ру?</a></li>
      </ul>
    </div>

    <div class="col text">
      <h3><span></span>Тексты</h3>

      <ul>
        <li><a href="/77/news/news-market">Новости рынка</a></li>
        <li><a href="/77/posts/article">Статьи</a></li>
        <li><a href="/77/authors">Авторские колонки</a></li>
      </ul>
    </div>

    <div class="col search">
      <h3><span></span>Поиск</h3>
      <ul>

        <li>Квартиры <a href="/apartament-rent/77/search">в аренду</a><br/>
          и <a href="/apartament-sale/77/search">на продажу</a></li>
        <li>Дома <a href="/house-rent/77/search">в аренду</a><br/>
          и <a href="/house-sale/77/search">на продажу</a></li>
        <li>Коммерческая недвижимость <a href="/commercial-rent/77/search">в
          аренду</a><br/>

          и <a href="/commercial-sale/77/search">на продажу</a></li>
      </ul>
    </div>

    <div class="col profile">
      <h3><span></span>Личный кабинет</h3>
      <ul>
        <li><a class="popup" rel="loginwindow" p="login"
               href="/user/login">Вход</a></li>

        <li><a class="popup" rel="reg" p="register" href="/user/register">Регистрация</a>
        </li>

        <li>
          <a class="popup" rel="loginwindow"
             href="/user/login?forward=%2Flot%2Fadd">Добавить объявление</a>
        </li>
      </ul>
    </div>

    <div class="col side">
      <a href="/terms">Пользовательское соглашение</a></div>
  </div>

  <div class="b"></div>
</div>
</div>
</div>
</body>
</html>
