<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/css/main.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div style="width: 800px;">
  <img src="/images/mestorutop.png" alt="Место.ру"/>
  <h2 style="color: #000; font: normal 20px/1.6 Arial, Helvetica, sans-serif; margin: 10px 70px 30px 20px;">Поисковик недвижимости Место.ру предлагает Вам бесплатно разместить свои объявления на портале. Вы можете сделать это <a href="http://mesto.ru/user/register?forward=/lot/add" style="color: #06c;">прямо сейчас</a>.</h2>
  <p style="font: normal 14px/1.6 Arial, Helvetica, sans-serif; color: #000; margin: 0 70px 15px 20px;"><a href="http://www.mesto.ru/">www.mesto.ru</a>  – это место, где находятся Ваши новые клиенты! У сайта легко запоминающееся название, удобный и простой дизайн, рекламный бюджет проекта – миллион долларов.</p>
  <p style="font: normal 14px/1.6 Arial, Helvetica, sans-serif; color: #000; margin: 0 70px 15px 20px;"><strong>Часть рекламного бюджета будет идти конкретно на привлечение посетителей именно на Ваши объявления.</strong> Чем больше полей объявления заполнено – тем Выше рейтинг.</p>
  <h2 style="text-align: center; color: #000; font: normal 20px Arial, Helvetica, sans-serif; margin: 50px 0 30px 0;">Выше рейтинг - больше клиентов!</h2>
  <p style="text-align: center; margin: 0 0 35px;"><a style="font-size: 24px; font-weight: bold;" href="http://mesto.ru/user/register?forward=/lot/add"><img style="font-size: 24px; font-weight: bold;width: 379px; height: 94px;" src="/images/mailbutton.png" alt="" /></a></p>
  <p style="text-align: center; margin: 0 0 20px;"><a href="http://mesto.ru/" style="color: #06c; font: normal 12px Arial, Helvetica, sans-serif">Почему стоит обратить внимание на Место.ру?</a></p>
  <p style="text-align: center; margin: 0 0 20px;">Свои пожелания и вопросы Вы можете присылать на <a href="mailto:obuhov@mesto.ru" style="color: #06c; font: normal 12px Arial, Helvetica, sans-serif">obuhov@mesto.ru</a></p>
</div>
</body>
</html>
